.perseus-widget-matcher .column {
  float: left;
  max-width: 50%;
}
.perseus-widget-matcher .column:first-child .column-label,
.perseus-widget-matcher .column:first-child .perseus-sortable {
  padding-right: 5px;
}
.perseus-widget-matcher .column + .column .column-label,
.perseus-widget-matcher .column + .column .perseus-sortable {
  border-left: 1px solid #444444;
  padding-left: 5px;
}
.perseus-widget-matcher .column-label {
  border-bottom: 1px solid #444444;
  padding-bottom: 5px;
  text-align: center;
}
.perseus-widget-matcher .column-label div.paragraph {
  margin: 0;
}
.perseus-widget-matcher .perseus-sortable {
  padding-top: 5px;
}
