.perseus-widget-transformer .highlighted-tool-button {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}
.perseus-widget-transformer .graphie-container {
  margin-bottom: 10px;
}
.perseus-widget-transformer .transformer-undo-button {
  float: right;
}
.perseus-widget-transformer .perseus-transformation-list {
  margin-top: 10px;
  margin-bottom: 10px;
}
.perseus-widget-transformer .perseus-transformation-list input {
  width: 40px;
}
