{% extends 'base_distributed.html' %}

{% load i18n %}

{% block title %}{% trans "Add Group" %}{% endblock title %}

{% block content %}
<h2>{% trans "Add a new group" %}</h2>

<form method="post" class="basic-form">
    <p><label>{% trans "Facility:" %}</label>{{ facility }} <a href="?facility=select"> {% trans "(Select a different facility)" %}</a></p>

    {% csrf_token %}
    {{ form.as_p }}
    {% trans "Create group" as create_group %}
    <input type="submit" value="{{ create_group }}" class="submit"/>
</form>

<script>
$('#facility_group').change(function(){
    window.location.href = $("#facility_group option:selected").val();
});
</script>

{% endblock content %}