{% extends 'base_distributed.html' %}

{% block title %}Add Group{% endblock title %}

{% block content %}
<h2>Add a new group</h2>

<form action="." method="post" class="basic-form">
    <p><label>Facility: </label><select id="facility_group">
    
        {% if facilities %}
            {% for facility in facilities %}
                <option value="{% url add_group id=facility.id %}" {% if facility.id == facility_id %}selected{% endif %}>{{ facility }}</option>
            {% endfor %}
        {% endif %}

    </select></p>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create group" class="submit"/>
</form>

<script>
$('#facility_group').change(function(){
    window.location.href = $("#facility_group option:selected").val();
});
</script>

{% endblock content %}