{% extends 'base_distributed.html' %}
{% block addteacher_active %}{% if teacher %}active{% endif %}{% endblock addteacher_active %}
{% block addstudent_active %}{% if not teacher %}active{% endif %}{% endblock addstudent_active %}
{% block signup_active %}{% if not request.admin %}active{% endif %}{% endblock signup_active %}

{% load i18n %}

{% block title %}{% if request.is_admin %}{% trans "Add facility user" %}{% else %}{% trans "Sign up" %}{% endif %}{% endblock title %}

{% block content %}


<form method="post" class="basic-form">
{% csrf_token %}
<h1>{% if request.is_admin %}
		{% comment %} Translators: The sentence will be: Add a new student or teacher {% endcomment %}
		{% trans "Add a new" %}{% if teacher %}{% trans " teacher" %}{% else %}{% trans " student" %}{% endif %}
    {% else %}
        {% trans "Sign up for an account" %}
    {% endif %}
</h1>
<p><label>{% trans "Facility: " %}</label>{{ facility }} {% if not singlefacility or request.is_admin %}<a href="?facility=select">{% trans "(Select a different facility)" %}</a></p>{% endif %}
{{ form.as_p }}
{% trans "Create user" as create_user %}
<input type="submit" value="{{ create_user }}" class="submit"/>
</form>

<script>
{% if request.is_admin %}
{% trans "Add a new group" as add_new_group %}
$('#id_group').parent().find(".helptext").html('(<a href="{% url add_group %}?facility={{facility.id}}&prev={{cur_url|urlencode:''}}">{{add_new_group}}</a>)');
{% endif %}
{% if not request.is_admin %}
$('#id_is_teacher').parent().hide();
{% endif %}
</script>
{% endblock content %}