{% extends base_template %}

{% load i18n %}

{% block title %}{% trans "Select user facility" %}{% endblock title %}

{% block headcss %}
<style>
.facility-action {
    font-size: 12px;
    margin-left: 10px;
    float: left;
    margin-bottom: 12px;
}

#facility-name {
    font-size: 14px;
    float: left;
    width: 135px;
    clear: both;
    padding-bottom: 12px;
    padding-top: 3px;
}

#add-facility-button {
    float: left;
    clear: both;
    padding-top: 30px;
}
</style>
{% endblock headcss %}

{% block content %}

<div id="facility-list-container">
    <h1>{% trans "Facilities" %}</h1>
    <div id="facility-list">
        {% if facilities %}
            {% for facility in facilities %}
            <div class="facility-title">
                <h2><div id="facility-name">{{ facility }}</div><a class="facility-action simple-button" href="{{ facility.id }}/">{% trans "Edit facility" %}</a>
                    <a class="facility-action simple-button" href="{% url add_facility_student %}?facility={{facility.id}}">{% trans "Add student" %}</a> 
                    <a class="facility-action simple-button" href="{% url add_facility_teacher %}?facility={{facility.id}}">{% trans "Add teacher" %}</a>
                    <a class="facility-action simple-button" href="{% url add_group %}?facility={{facility.id}}">{% trans "Add group" %}</a></h2>
            </div>
            {% endfor %}
            <p><a id="add-facility-button" href="new/">{% trans "Add a new Facility" %}</a><p>
        {% else %}
            <p>{% trans "You currently have no facilities. Would you like to" %} <a href="new/">{% trans "create a facility" %}</a>?</p>
        {% endif %}
    </div>
</div>

{% endblock content %}