{% extends base_template %}
{% load i18n %}

{% block login_active %}active{% endblock login_active %}

{% block title %}{% trans "Log in" %}{{ block.super }}{% endblock title %}

{% block content %}
    <form method="post" class="basic-form">
        {% csrf_token %}
        <h2>{% trans "Log in" %}</h2>

        {{ form.as_p }}

        <input type="submit" value="{% trans 'Log in' %}" class="submit" />
    </form>
    <div style="margin-top:20px">
    {% if not restricted %}
        {% blocktrans %}If you don't have a login, please <a href="{{ sign_up_url }}" style="font-weight: bold; color:blue">sign up</a>.{% endblocktrans %}
    {% else %}
        {% blocktrans %}If you don't have a login, please contact your administrator.{% endblocktrans %}
    {% endif %}
    </div>
{% endblock content %}
