{% extends 'base_distributed.html' %}

{% load i18n %}

{% block login_selected %}selected{% endblock login_selected %}

{% block title %}{% trans "Login" %}{% endblock title %}

{% block content %}

<form method="post" class="basic-form">
    {% csrf_token %}
    
    <h2>{% trans "Login" %}</h2>

    <div style="{% if facilities.count < 2 %}display: none;{% endif %}">
        {{ form.facility.errors }}
        <p>
            {% comment %}Translators: This will be a label in a form.{% endcomment %} 
            <label for="id_facility">{% trans "Facility: " %}</label>
            {{ form.facility }}
        </p>
    </div>
    {{ form.username.errors }}
    <p>            
        {% comment %}Translators: This will be a label in a form.{% endcomment %} 
        <label for="id_username">{% trans "Username: " %}</label>
        {{ form.username }}
    </p>
    {{ form.password.errors }}
    <p>
        {% comment %}Translators: This will be a label in a form.{% endcomment %} 
        <label for="id_password">{% trans "Password: " %}</label>
        {{ form.password }}
    </p>
    {% trans "Login" as login %}
<input type="submit" value="{{ login }}" class="submit"/>
</form>

{% endblock content %}