{% extends "central/base.html" %}

{% load i18n %}

{% block title %}{% trans "Register device to a zone" %}{% endblock title %}

{% block headjs %}
<script>
    $(function() {
        $("#id_public_key").val(decodeURIComponent(window.location.search.slice(1)));
        $('#id_public_key').attr('readonly',true);
        $('#id_public_key').css('color','grey');
    });
</script>
{% endblock headjs %}

{% block content %}

<form method="post" class="basic-form">
{% csrf_token %}
<h2>Register a device</h2>
{{ form.as_p }}
<input type="submit" value="Register" class="submit"/>
</form>
{% endblock content %}