<li class="playlist-list-item pull-left">
  <span class="block cell-content">
    <a href="{{ playlist_link }}">
      {{ title }}
    </a>
  </span>
  <span class="pull-left">
    Videos: {{ num_videos }}
  </span>
  <span class="pull-right">
    Exercises: {{ num_exercises }}
  </span>
</li>
