/*GLOBALS*/
* {
  font-family: 'Proxima Nova Bold',sans-serif;
}

li {
  list-style: none;
}

/* SPRITES */
.icon-play {
  height: 25px;
  width: 25px;
  background-image: url(/images/status.png?1400776349);
  /*your location of the image may differ*/
}

/*SIDEBAR*/
*,
*:after,
*::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
.st-container,
.st-pusher,
.st-content {
  height: 100%;
}

.st-content {
  overflow-y: scroll;
  background: #f3efe0;
}

.st-content,
.st-content-inner {
  position: relative;
}

.st-container {
  position: relative;
  overflow: hidden;
}

.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.st-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  background: #48a770;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.st-menu h2 {
  display: block;
}

.st-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */
.st-menu div#list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.st-menu h2 {
  margin: 0;
  padding: 1em;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  font-size: 2em;
}

.st-menu div#list div.item a {
  display: block;
  padding: 1em 1em 1em 1.2em;
  outline: none;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
  color: #f3efe0;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
}

.st-menu div#list div.item a:hover {
  display: block;
  padding: 1em 1em 1em 1.2em;
  outline: none;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
}

.st-menu div#list div.item:first-child a {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
}

.st-menu div#list div.item a:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px transparent;
  color: #fff;
}

.sbhint {
  position: absolute;
  left: 0;
  top: 50%;
  background: #8dc63f;
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
  padding: 5px 10px 5px 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(270deg);
}

.sbhint-mobile {
  background: #8dc63f;
  color: #fff;
  width: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.sbhint:hover {
  box-shadow: 0 0 3pt 2pt #5897fb;
}

.sidr {
  display: none;
  position: absolute;
  position: fixed;
  z-index: 999999;
  width: 260px;
  height: 100%;
  overflow-y: auto;
  background: #8dc63f;
}

.active {
  border-box: 1px solid #333;
  background-color: #d7d7d7;
}

.sidr-box {
  border: 1px solid #d7d7d7;
  padding: 18px;
  height: 90px;
  background-color: #8dc63f;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
}

.sidr.left {
  left: -260px;
  right: auto;
}

#dMenuButton {
  padding: 5px 5px 0 5px;
  float: left;
  width: 70px;
  height: 70px;
}

#dMenuButton:hover {
  box-shadow: 0 0 3pt 2pt #5897fb;
  background: #bac4d1;
}

.dMenuButton-hover {
  box-shadow: 0 0 3pt 2pt #5897fb;
  background: #bac4d1;
}

.Content {
  padding: 10px;
  position: fixed;
  top: 75px;
  right: 0;
  bottom: 60px;
  left: 0;
  /*left: 250px;*/
  overflow: auto;
}

.Content-SB-Left {
  left: 260px;
}

.Content-SB-Right {
  right: 500px;
}

/* PLAYLIST */
.playlist-title-box {
  background-color: #8dc63f;
  padding: 5px;
  margin-bottom: 5px;
  border-left: 2px solid #d3d3d3;
}

.playlist-box {
  background-color: #8dc63f;
  padding: 3px;
}

.playlist-item {
  border: 1px solid #333;
  padding: 20px;
}

.playlist-nav {
  background-color: #d4d4d4;
  height: 40px;
  text-align: middle;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.playlist-nav i:nth-child(2) {
  text-align: right;
}

.vertical-center {
  display: table;
}

.vertical-center .vertical-center-target {
  display: table-cell;
  vertical-align: middle;
}

progress {
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
  border-radius: 9px;
}

progress {
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
  border-radius: 9px;
}

/* VIDEO STYLE */
.vendor {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  margin: 0 0;
}

.vendor iframe {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Original SASS in here for reference */
/* /\*GLOBALS*\/ */

/* * { */
/*   font-family: 'Proxima Nova Bold',sans-serif; */
/* } */

/* li { */
/*     list-style: none; */
/* } */

/* /\* SPRITES *\/ */

/* .icon-play { */
/* height:25px; */
/* width:25px; */
/* background-image:url('/images/status.png'); /\*your location of the image may differ*\/ */
/* } */

/* /\*SIDEBAR*\/ */


/* *, */
/* *:after, */
/* *::before { */
/*     -moz-box-sizing: border-box; */
/*     box-sizing: border-box; */
/* } */

/* html, */
/* body, */
/* .st-container, */
/* .st-pusher, */
/* .st-content { */
/*     height: 100%; */
/* } */

/* .st-content { */
/*     overflow-y: scroll; */
/*     background: #f3efe0; */
/* } */

/* .st-content, */
/* .st-content-inner { */
/*     position: relative; */
/* } */

/* .st-container { */
/*     position: relative; */
/*     overflow: hidden; */
/* } */

/* .st-pusher { */
/*     position: relative; */
/*     left: 0; */
/*     z-index: 99; */
/*     height: 100%; */
/*     -webkit-transition: -webkit-transform 0.5s; */
/*     transition: transform 0.5s; */
/* } */

/* .st-pusher::after { */
/*     position: absolute; */
/*     top: 0; */
/*     right: 0; */
/*     width: 0; */
/*     height: 0; */
/*     background: rgba(0,0,0,0.2); */
/*     content: ''; */
/*     opacity: 0; */
/*     -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; */
/*     transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; */
/* } */

/* .st-menu-open .st-pusher::after { */
/*     width: 100%; */
/*     height: 100%; */
/*     opacity: 1; */
/*     -webkit-transition: opacity 0.5s; */
/*     transition: opacity 0.5s; */
/* } */

/* .st-menu { */
/*     position: absolute; */
/*     top: 0; */
/*     left: 0; */
/*     z-index: 100; */
/*     width: 300px; */
/*     height: 100%; */
/*     background: #48a770; */
/*     -webkit-transition: all 0.5s; */
/*     transition: all 0.5s; */
/* } */

/* .st-menu::after { */
/*     position: absolute; */
/*     top: 0; */
/*     right: 0; */
/*     width: 100%; */
/*     height: 100%; */
/*     background: rgba(0,0,0,0.2); */
/*     content: ''; */
/*     opacity: 1; */
/*     -webkit-transition: opacity 0.5s; */
/*     transition: opacity 0.5s; */
/* } */

/* .st-menu-open .st-menu::after { */
/*     width: 0; */
/*     height: 0; */
/*     opacity: 0; */
/*     -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; */
/*     transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; */
/* } */

/* /\* content style *\/ */

/* .st-menu div#list { */
/*     margin: 0; */
/*     padding: 0; */
/*     list-style: none; */
/* } */

/* .st-menu h2 { */
/*     margin: 0; */
/*     padding: 1em; */
/*     color: rgba(0,0,0,0.4); */
/*     text-shadow: 0 0 1px rgba(0,0,0,0.1); */
/*     font-weight: 300; */
/*     font-size: 2em; */
/* } */

/* .st-menu div#list div.item a { */
/*     display: block; */
/*     padding: 1em 1em 1em 1.2em; */
/*     outline: none; */
/*     box-shadow: inset 0 -1px rgba(0,0,0,0.2); */
/*     color: #f3efe0; */
/*     text-transform: uppercase; */
/*     text-shadow: 0 0 1px rgba(255,255,255,0.1); */
/*     letter-spacing: 1px; */
/*     font-weight: 400; */
/*     -webkit-transition: background 0.3s, box-shadow 0.3s; */
/*     transition: background 0.3s, box-shadow 0.3s; */
/* } */

/* .st-menu div#list div.item a:hover { */
/*     display: block; */
/*     padding: 1em 1em 1em 1.2em; */
/*     outline: none; */
/*     box-shadow: inset 0 -1px rgba(0,0,0,0.2); */
/*     color: #fff; */
/*     text-transform: uppercase; */
/*     text-shadow: 0 0 1px rgba(255,255,255,0.1); */
/*     letter-spacing: 1px; */
/*     font-weight: 400; */
/*     -webkit-transition: background 0.3s, box-shadow 0.3s; */
/*     transition: background 0.3s, box-shadow 0.3s; */
/* } */

/* .st-menu div#list div.item:first-child a { */
/*     box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2); */
/* } */

/* .st-menu div#list div.item a:hover { */
/*     background: rgba(0,0,0,0.2); */
/*     box-shadow: inset 0 -1px rgba(0,0,0,0); */
/*     color: #fff; */
/* } */


/* .sbhint { */
/*     position: absolute; */
/*     left:0; */
/*     top: 50%; */
/*     background: #8dc63f; */
/*     color: #fff; */
/*     font-weight:bold; */
/*     font-size:1.1em; */
/*     padding:5px 10px 5px 10px; */
/*     border-bottom-right-radius:5px; */
/*     border-bottom-left-radius:5px; */
/*     cursor:pointer; */
/*     -webkit-transform-origin: 0 0; */
/*     -webkit-transform: rotate(270deg); */
/* } */
/* .sbhint-mobile { */
/*     background: #8dc63f; */
/*     color: #fff; */
/*     width:auto; */
/*     text-align: center; */
/*     font-weight:bold; */
/*     font-size:1.1em; */
/*     padding:5px 10px 5px 10px; */
/*     cursor:pointer; */
/* } */
/* .sbhint:hover { */
/*     box-shadow: 0 0 3pt 2pt rgba(88, 151, 251, 1); */
/* } */
/* .sidr { */
/*     display: none; */
/*     position: absolute; */
/*     position: fixed; */
/*     z-index: 999999; */
/*     width: 260px; */
/*     height: 100%; */
/*     overflow-y: auto; */
/*     background: #8dc63f; */
/* } */

/* .active { */
/* border-box: 1px solid #333; */
/* background-color: #d7d7d7; */
/* } */


/* .sidr-box{ */
/*     border: 1px solid #d7d7d7; */
/*     padding: 18px; */
/*     height: 90px; */
/*     background-color:#8dc63f; */
/*     color: #fff; */
/*     text-transform: uppercase; */
/*     font-size: 11px; */
/* } */
/* .sidr.left { */
/*     left: -260px; */
/*     right: auto; */
/* } */

/* #dMenuButton { */
/*     padding: 5px 5px 0 5px; */
/*     float: left; */
/*     width: 70px; */
/*     height: 70px; */
/* } */
/* #dMenuButton:hover { */
/*     box-shadow: 0 0 3pt 2pt rgba(88, 151, 251, 1); */
/*     background: #bac4d1; */
/* } */
/* .dMenuButton-hover { */
/*     box-shadow: 0 0 3pt 2pt rgba(88, 151, 251, 1); */
/*     background: #bac4d1; */
/* } */
/* .Content { */
/*     padding: 10px; */
/*     position: fixed; */
/*     top: 75px; */
/*     right: 0; */
/*     bottom: 60px; */
/*     left: 0; */
/*     /\*left: 250px;*\/ */
/*     overflow: auto; */
/* } */
/* .Content-SB-Left { */
/*     left: 260px; */
/* } */
/* .Content-SB-Right { */
/*     right: 500px; */
/* } */

/* /\* PLAYLIST *\/ */



/* .playlist-title-box { */
/*   background-color: #8dc63f; */
/*   padding: 5px; */
/*   margin-bottom: 5px; */
/*   border-left: 2px solid #d3d3d3; */
/* } */


/* .playlist-box { */
/*     background-color: #8dc63f; */
/*     padding: 3px; */
/* } */
/* .playlist-item { */
/*     border: 1px solid #333; */
/*     padding: 20px; */
/* } */

/* .playlist-nav { */
/*     background-color: #d4d4d4; */
/*     height:40px; */
/* } */

/* progress {   */
/*     background-color: #f3f3f3;   */
/*     border: 0;   */
/*     height: 18px;   */
/*     border-radius: 9px;   */
/* }   */

/* progress {   */
/*     background-color: #f3f3f3;   */
/*     border: 0;   */
/*     height: 18px;   */
/*     border-radius: 9px;   */
/* }   */


/*  /\* VIDEO STYLE *\/ */
/* .vendor { */
/* position: relative; */
/* padding-bottom: 56.25%; */
/* padding-top: 0px; */
/* height: 0; */
/* margin: 0 0; */
/* } */

/* .vendor iframe { */
/* position: absolute; */
/* top: 20px; */
/* left: 0; */
/* width: 100%; */
/* height: 100%; */
/* } */
