<li class="playlist-list-item pull-left">
  <span class="block cell-content">
    <a href="{{ playlistLink }}">
      {{ title }}
    </a>
  </span>
  <span class="pull-left">
    Videos: {{ numVideos }}
  </span>
  <span class="pull-right">
    Exercises: {{ numExercises }}
  </span>
</li>
