<li class="pull-left">
  <div>
    <span class="block cell-content">
      <a href="{{ playlistLink }}">
        {{ title }}
      </a>
    </span>
    <span class="pull-left">
      Videos: {{ numVideos }}
    </span>
    <span class="pull-right">
      Exercises: {{ numExercises }}
    </span>
  </div>
</li>
