
<div class="playlist-sidebar-tab">
    {{!-- <a> --}}
        PLAYLIST
    {{!-- </a> --}}
</div>


<nav class="panel" role="navigation">

    <div class="playlist-title">{{ title }}</div>

    <ul class="playlist-sidebar">

    </ul>
</nav>