.container-margin-bottom {
    margin-bottom: 50px;
}

.coach-reports-row {
    border-bottom: 3px solid #5AA685;
    padding: 20px 0;
    margin-bottom: 3%;
}

#display-topic-report {
    margin-top: 22px;
}

#display-coach-report {
    margin-top: 20px;
    margin-left: 16px;
}

#display-topic-report {
    margin-top: 35px;
    margin-left: 16px;
}

@media (min-width: 768px) {
    #display-coach-report {
        margin-top: 35px;
        margin-left: 10px;
    }

    #display-topic-report {
        margin-top: 35px;
        margin-left: 0px;
    }
}

.subtitle {
    font-size: 1.15em;
    font-weight: bold;
}
