#displaygrid > .users-table {
    width: 11%;
    margin-right: 1px;
    float: left;
}

.userstatus {
    overflow: auto;
    width: 88%;
    float: right;
}

.users-table table {
    width: 100%;
}

.subtitle.error {
    margin-left: 4px;
    margin-top: 15px;
}

.status {
    height: 34px;
}

th.username {
    font-size: 12px;
    height: 27px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

th.headrow, th.headrow div {
    width: 80px;
    table-layout: fixed;
    font-weight: bold;
    word-wrap: break-word;
    background-color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;
    text-align: justify;*/
}

th.headrowuser {
    font-weight: bold;
    border-top: none;
}

.partial {
    background-color: #ACD289;
}

.complete {
    background-color: #5AA685;
}

.struggle {
    background-color: #CA4D4D;
}

#displaygrid td, #displaygrid th {
    min-width: 60px;
    /*max-width: 60px;*/
    overflow: hidden;
    /*white-space: nowrap;*/
}

/*#legend a {
    height:12px;
    margin:0px;
    padding:0px;
}*/   

.student-name, .attempts, .streak_progress, .points, .total_seconds_watched {
    float:left; 
    display:none;
    overflow:hidden;
    white-space:nowrap;
    width:100%;
    margin:0px 5px 0px 0px;
    padding:0px;
    text-align:right;
    vertical-align:middle;
}

.student-name {
    text-align: left;
    display: block;
    text-overflow: ellipsis;
}

#legend {
    padding-left: 0;
    padding-top: 20px;
    margin-bottom: 50px;
}

.legend {
    display: inline-block;
    height: 20px;
    overflow: hidden;
    text-align: center;
    padding-right: 10px;
}

.legend div {
    float: left;
    width: 35px;
    height: 21px;
}

.legend span {
    padding-left: 10px;
}

.selection {
    margin-right: 10px;
}

@media only screen and (max-width: 1199px) {
    #legend { float: left !important; margin-top: 15px; }
}

@media only screen and (max-width: 400px) {
    select#topic { margin-left: 0 !important; }
    /* Moves "Select Topic" dropdown slightly to the right so that it lines up with "Select Topic" and "Select Report" */
}


/* CSS For Sticky Header */
.sticky-wrap {
    overflow-x: auto;
    position: relative;
    margin-bottom: 1.5em;
    width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .125s ease-in-out;
    z-index: 50;
    width: auto; /* Prevent table from stretching to full size */
}
    .sticky-wrap .sticky-thead {
        box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
        z-index: 100;
        width: 100%; /* Force stretch */
    }
    .sticky-wrap .sticky-intersect {
        opacity: 1;
        z-index: 150;
    }
    .sticky-wrap .sticky-intersect th {
        background-color: #666;
        color: #eee;
    }
.sticky-wrap td,
.sticky-wrap th {
    box-sizing: border-box;
}