th, td {
    border: 1px solid black;
    padding: 4px;
    height: 27px;
}

.table-container {
    width: 100%;
    min-width: 680px;
    padding-top: 2%;
}
.table-container th {
    max-width: 80px;
    min-width: 60px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}
.student-table {
    float: left;
    width: 11%;
    margin-right: 1px;
    text-align: left;
}
.results-table {
    overflow: auto;
    width: 88%;
}
.pass {
    background-color: #2F942F;
}
.borderline {
    background-color: #94BE48;
}
.fail {
    background-color: #CA4D4D;
}
.incomplete {
    background-color: #D8D8D8;
}
#legend {
    float:right;
    vertical-align:middle;
    margin:12px 25px 2px 10px;
}
.legend {
    float:right;
    width:120px;
    height:20px;
    text-align:center;
    vertical-align:middle;
    white-space:nowrap;
    overflow:hidden;
    border-style:solid;
    border-width: 1px;
    padding:2px;
    margin-right: 2px;
}
.legend div {
    float:left;
    width:35px;
    height:21px;
}
.summary-stat-header {
    background-color: rgb(189, 189, 189)
}
.unpadded-p {
    margin: 0;
    padding: 0;
}