{% extends base_template %}

{% load i18n %}
{% load kalite_staticfiles %}

{% block current_unit_active %}active{% endblock current_unit_active %}

{% block title %}{% trans "Current Unit" %}{{ block.super }}{% endblock %}

{% block headcss %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    <script>
        var ALL_CURRENT_UNIT_URL = "{% url 'api_dispatch_list' resource_name='current_unit' %}";
    </script>
    <script src="{% url 'handlebars_templates' module_name='student_testing' %}"></script>
    <script src="{% static 'js/student_testing/models.js' %}"></script>
    <script src="{% static 'js/student_testing/current_unit.js' %}"></script>

    <script>
        $(function() {
            var app = new CurrentUnitAppView({
                el: $("#current-unit-container")
            });
        });
    </script>

{% endblock headjs %}

{% block content %}
    <div id="current-unit-container"></div>
{% endblock content %}
