{% extends "distributed/base_teach.html" %}

{% load i18n %}
{% load kalite_staticfiles %}

{% block current_unit_active %}units-active active-tab active-nav{% endblock current_unit_active %}
{% block teacher_active %}active{% endblock teacher_active %}
{% block admin_active %}active{% endblock admin_active %}

{% block title %}{% trans "Current Unit" %}{{ block.super }}{% endblock %}

{% block headcss %}
    {{ block.super }}
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    <script>
        var ALL_CURRENT_UNIT_URL = "{% url 'api_dispatch_list' resource_name='current_unit' %}";
    </script>
    <script src="{% url 'handlebars_templates' module_name='student_testing' %}"></script>
    <script src="{% static 'js/student_testing/models.js' %}"></script>
    <script src="{% static 'js/student_testing/current_unit.js' %}"></script>

    <script>
        $(function() {
            window.current_unit_app_view = new CurrentUnitAppView({
                el: $("#current-unit-container")
            });
        });
    </script>

{% endblock headjs %}

{% block content %}
    {% block subnavbar %}{{block.super}}{% endblock subnavbar %}
    <div id="current-unit-container">
        {# Backbone magic here! #}
    </div>
{% endblock content %}
