{% extends "coachreports/landing_page.html" %}

{% load i18n %}
{% load kalite_staticfiles %}

{% block tests_active %}active{% endblock tests_active %}

{% block title %}{% trans "Tests" %}{{ block.super }}{% endblock %}

{% block headcss %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static_with_build 'css/student_testing/test_list.css' %}">
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    <script>
        var ALL_TESTS_URL = "{% url 'api_dispatch_list' resource_name='test' %}";
    </script>

    <script type="text/html" id="all-tests-list-entry-template">
        <td test-title="<%= title %>"> <a href="<%= test_url %>"><%= title %></a> </td>
        <td>
            {% if request.is_admin %}
                <% if (is_exam_mode) { %>
                    <button data-exam-title="<%= title %>" class="btn btn-info test-row-button">Disable Exam Mode</button>
                <% } else { %>
                    <button data-exam-title="<%= title %>" class="btn test-row-button">Enable Exam Mode</button>
                <% } %>
            {% endif %}
        </td>
    </script>

    <script src="{% static 'js/student_testing/models.js' %}"></script>
    <script src="{% static 'js/student_testing/test_list.js' %}"></script>
{% endblock headjs %}

{% block content %}
{% block teach_nav %}
    <div class="teach-nav">
        <ul class="nav navbar-nav">
            <li class="teacher-only"><a href="{% url 'coach_reports' %}" class="reports teacher-only" title="{% trans 'Track the progress of your students' %}"><span>{% trans "Reports" %}</span></a></li>
            <li><a href="{% url 'assign_playlists' %}" class="playlist admin-only teacher-only" title="{% trans 'Assign playlists to student groups' %}"><span>{% trans "Playlists" %}</span></a></li>
            <li><a href="{% url 'test_list' %}" id="nav_tests" class="admin-only teacher-only active active-nav" title="{% trans 'See list of available tests.' %}"><img src="{% static "images/coachreports/exam-active-icon.png" %}">{% trans "Exams" %}</a></li>
            <li><a class="learn admin-only teacher-only" href="/" title="{% trans 'KA Lite Home' %}"><span>{% trans "Learn" %}</span></a></li>
        </ul>
    </div>
{% endblock teach_nav %}
    
        <div>
            <a class="changeable-link" href="{% url 'test_view' %}">  
                <h2 class="suggested-action-title">{% trans "Exam Results" %}</h2>
            </a>
        </div>

    <h2 class="title-header">
        <div class="title">{% trans "Tests" %}</div>
    </h2>
    <p>Click on the "Enable Exam Mode" button to enable exam-mode for that test and redirect students to the exam page.</p>
    <p>Click on the "Disable Exam Mode" button to disable the exam-mode setting for the test.</p>
    <br/>
    <div class="row span10">
        <table class="table table-hover table-bordered" id="tests">
            <thead>
                <tr>
                    <th>Test Title</th>
                    <th>Exam Mode Setting</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock content %}
{% comment %}
{% endcomment %}