{% extends base_template %}
{% load i18n %}
{% load staticfiles %}

{% block practice_active %}active{% endblock practice_active %}

{% block headcss %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'js/khan-exercises/css/khan-exercise.css' %}"></link>

    <!-- Used by KA to dynamically add styling to the exercise -->
    <style id="exercise-inline-style"></style>

    <style>
        .return-link {
            font-size: 13px;
            padding-bottom: 4px;
            opacity: 0.8;
            margin-top: -2px;
        }
    </style>
{% endblock headcss %}

{% block headjs %}{{ block.super }}
<script>

    var urlBaseOverride = "{% static 'js/khan-exercises/' %}";
    // some dummy features on the Exercises object to make khan-exercises.js happy
    Exercises = {
        completeStack: {
            getUid: function() { return 0; },
            getCustomStackID: function() { return 0; }
        },
        currentCard: {
            attributes: {},
            get: function() {}
        },
        RelatedVideos: {
            render: function() {}
        },
        getCurrentFramework: function() { return "khan-exercises"; },
        incompleteStack: [0],
        PerseusBridge: {
            cleanupProblem: function() {}
        },
    };
        
</script>
<script src="{% static 'js/khan-exercises/khan-exercise.js' %}"></script>
<script>
    var seed = {{ test.seed }}
    var path = "{{ test.path }}"
    var title = "{{ test.title }}"
    var repeats = {{ test.repeats }}
    var test = {{ test.id }}
    var i = {{ index }};
    var j = {{ repeat }};

</script>
<script src="{% static 'js/student_testing/tests.js' %}"></script>

{% endblock headjs %}

{% block content %}
    <div class="exercises-header">
        <h2>
            <span class="practice-exercise-topic-context">{% trans "Testing" %}</span> {% trans title %}
            {% if exercise.description %}<br/><span class="practice-exercise-description">{% trans exercise.description %}</span>{% endif %}
        </h2>
    </div>
    <div class="exercises-body">
        <div class="exercises-card current-card">
            <div class="current-card-container card-type-problem">
                <div class="current-card-container-inner vertical-shadow">
                    <div class="current-card-contents">
                        <div id="problem-and-answer">
                            <div id='problemarea'>
                                <div id='scratchpad'><div></div></div>
                                <div id='workarea'></div>
                            </div>
                            <div id="answer_area_wrap"><div id="answer_area">
                                    {% trans "Your progress streak bar for this exercise" as prog_streak %}
                                    <div id="streakbar" class="info-box" title="{{ prog_streak }}">
                                        <div class="streak">
                                            <div class="progress-bar"><div id="totalpoints"></div></div>
                                        </div>
                                    </div>
                                    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px">
                                    <div id="answercontent" class="info-box">
                                        <span class="info-box-header">{% trans "Answer" %}</span>
                                        <div id="solutionarea" class="fancy-scrollbar"></div>
                                        <ul id="examples" style="display: none"></ul>
                                        <div class="answer-buttons">
                                        {% trans "Check Answer" as check_btn %}
                                        <input type="button" class="simple-button green" id="check-answer-button" value="{{ check_btn }}"/>
                                        </div>
                                    </div>
                            </div></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <ul>
                        <li>
                            <a id="scratchpad-show" href style>{% trans "Show scratchpad" %}</a>
                            <span id="scratchpad-not-available" style="display: none;">{% trans "Scratchpad not available" %}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
