<div class="form-group">
    <label for="facility-name">Facility</label>
    <select class="form-control" id="facility-name" {{#if is_disabled}}disabled{{/if}}>
        <option>All</option>{{!-- Default to all --}} 
        {{#each facilities}}
            <option data-facility-id="{{id}}" {{#ifcond ../selection "===" id }}selected{{/ifcond}}>{{ name }}</option>
        {{/each}}
    </select>
</div>