<div class="form-group">
    <label class="sr-only" for="group-name">Group</label>
    <select class="form-control" id="group-name">
        {{#if groups }}
            <option>All</option>
            {{#each groups}}
                <option data-group-id="{{id}}">{{ name }}</option>
            {{/each}}
        {{else}}
            <option disabled>All</option>
        {{/if}}
    </select>
</div>