<div class="form-group">
    <label for="zone-name">Zone</label>
    <select class="form-control" id="zone-name">
        <option>All</option>{{!-- Default to all --}} 
        {{#each zones}}
            <option data-zone-id="{{id}}" {{#ifcond ../selection "===" id }}selected{{/ifcond}}>{{ name }}</option>
        {{/each}}
    </select>
</div>