*.pyc
*.sublime-*
kalite/static/flvplayer/template_maxi_1.6.0/
notes.txt
kalite/static/videos/
kalite/static/presentation/
exercises/
kalite/private_key.pem
kalite/secrets.py
.project
.pydevproject
.DS_Store
*.db
*.sqlite*
*.patch
kalite/local_settings.py
writeup/
build/
virtualenv/
*.pid
mergetomaster.sh
videos/