*migrations*
kalite-*.zip
tmp/
*.pyc
*.sublime-*
notes.txt
kalite/static/videos/
kalite/static/presentation/
kalite/private_key.pem
kalite/secrets.py
.project
.pydevproject
.DS_Store
*.db
*.sqlite*
*.patch
kalite/local_settings.py
writeup/
build/
virtualenv/
*.pid
mergetomaster.sh
videos/
content/*.jpg
content/*.png
content/*.mp4
content/*.json
content/*.srt
