.project
.pydevproject
.DS_Store
*.db
*.sqlite*
*.patch
*.pid
*.prof
*.pyc
*.pyo
*~
*.sublime-*
*.zip
/build/
locale/
node_modules/
tmp/
virtualenv/
writeup/
/_crowdin_cache
/_khanload_cache
/mergetomaster.sh
/run_command.*
/start.*
/stop.*
/content/*.jpg
/content/*.json
/content/*.png
/content/*.mp4
/content/*.mp4.part
/content/*.srt
/content/*.mp3
/content/*.pdf
/content/khan/
/data/logs
/data/i18n
/data/subtitles
/data/screenshots
/kalite/*.jpg
/kalite/*.mp4.part
/kalite/i18n/data/dubbed_video_mappings.json
/kalite/updates/data/video_file_sizes.json
/kalite/kalite-*.zip
/kalite/local_settings.py
/kalite/media
/kalite/temp
/data/*
!/data/khan/
/data/khan/assessmentitems.json
/data/khan/assessment_item_images
/kalite/private_key.pem
/kalite/secrets.py
/kalite/static
/kalite/i18n/static/js/i18n
/kalite/ghostdriver.log
/TAGS
.tags
/kalite/i18n/static/
/.vagrant/
ghostdriver.log
/kalite/_built.touch
*.swp
sphinx-docs/_build
sphinx-docs/images/*
/data/khan/assessmentitems.json.version
