language: python
python:
  - "2.6"
  - "2.7"
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
install:
  - npm install
  - npm install -g grunt-cli
script:
  - python python-packages/fle_utils/tests.py
  - python kalite/manage.py test  # run django tests
  - grunt jshint  # run jshint
notifications:
  email:
    - aron@learningequality.org
    - ben@learningequality.org
