language: python
python:
- '2.6'
- '2.7'
before_install:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile
  --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16
install:
- pushd $TRAVIS_BUILD_DIR; npm install; popd
- pushd $TRAVIS_BUILD_DIR; npm install -g grunt-cli; popd
- pip install coveralls
script:
- cd $TRAVIS_BUILD_DIR
- bin/kalite start --traceback -v 2
- bin/kalite status
- bin/kalite stop --traceback -v 2
- python python-packages/fle_utils/tests.py
- bin/kalite manage syncdb --migrate --noinput --traceback
# This one is commented out because the coverage command below does everything
# - bin/kalite test --traceback -v 2
- coverage run --source=kalite manage.py test facility.FacilityUserPermissionsTests --traceback -v 2
#- grunt jshint
notifications:
  email:
    - aron@learningequality.org
  hipchat:
    rooms:
      secure: A4OlCFaETlLB20ATXrPmA+8F35AsjZZ9nO8dPUG9m5pAr1pD4CDiVrn/tmHbbk2rQaQLm3B8CifdNuQL6fLuEv2pJpfIdSESVqsqJcQPPpgogjvHRabOXgAmC5AWpQupe3DARIMDjOPhHaeRFN/GYjEnK8N+nqu/SQ2mPmAzOFQ=
after_success:
- coverage report
- coveralls
