# MANIFEST.in is generated with basic
# layout of MANIFEST.in.dist

include LICENSE
include README.rst
include setup.cfg
include requirements.txt

recursive-include kalite *.html *.txt *.png *.js *.css *.gif *.less *.otf *.svg *.woff *.eot *.ttf *.zip *.json *.handlebars *.woff2 *.mo *ico
recursive-include kalite/static-libraries *

recursive-include kalite/packages/dist *
recursive-exclude kalite/packages/dist *.po

# Get the empty DBs -- make sure they are properly generated!
recursive-exclude kalite/database *
recursive-include kalite/database/templates *sqlite
recursive-include kalite/database/templates/content_items *sqlite

# This can be a huge problem when creating an sdist from
# a local development environment
recursive-exclude kalite/static *

# Docs
include docs/kalite.1.gz
kalite/static-docs
