-r requirements.txt
behave==1.2.4
selenium==2.45.0
pysparklines==0.9
unittest2==0.7.1
mock==1.0.1
hachoir-core==1.3.3
hachoir-parser==1.3.4
hachoir-metadata==1.3.3
sauceclient==0.2.1

# Used for building assets, which is necessary for testing
pyyaml==3.11

