-r requirements_test.txt
werkzeug # Not sure about version
# Latest version of django-debug-toolbar that supports Django 1.5
django-debug-toolbar==1.3.2
django-extensions==1.5.9  # Found in installed apps in kalite.project.settings.dev
pep8
sphinx
#cli2man
polib # used for our own makemessages
xlrd # used for management command convert_xls_to_items
