-r requirements.txt
behave==1.2.4
selenium==2.45.0
pysparklines==0.9
unittest2==0.7.1
werkzeug # Not sure about version
mock==1.0.1
django-debug-toolbar # Version was not described in previously bundled files, used by kalite.testing app
pyyaml==3.11

