-r requirements_test.txt
werkzeug # Not sure about version
django-debug-toolbar # Version was not described in previously bundled files, used by kalite.testing app
# This one is just problematic
# kaa=0.7.8