docopt>=0.6,<0.7
South==0.8.4
django-js-reverse==0.5.0
# used by django-js-reverse
ply==3.4
# used by django-js-reverse
slimit==0.8.1
six==1.9.0
django-appconf==1.0.1
peewee==2.6.3
python-dateutil==2.4.2
django-dbbackup==2.3.2
ifcfg==0.9.3
requests==2.10.0
