.progressbar-current {
    opacity: 0.9;
    height: 7px;
    margin-top: -7px;
    margin-bottom: 9px;
}

.progressbar-overall {
    opacity: 0.9;
    height: 12px;
    margin-top: -7px
}

.progressbar-overall .ui-widget-header {
    background: #00A000;
}

.progressbar-current .ui-widget-header {
    background: #00AFD0;
}

.progress-section {
    float: left;
    padding: 5px 0px 0px 0px;
    display: none;
}

.progress-text {
    color: #005987;
    margin-top: 1.5px;
}
