{% extends 'base_distributed.html' %}

{% load i18n %}

{% block easyadmin_active %}active{% endblock easyadmin_active %}

{% block headcss %}
<style>

div.help {
    margin-top:25px;
}
ul {
    margin-left:20px;
}

.warn {
    font-weight:bold;
    color:#f00;
}
.floatleft {
    float: left;
}
.link-div {
    width: 250px;
    float: left
}
.link { 
    padding-left: 25px;
    width: 120px;
}
.description {
    width: 100%;
}
td.title { 
    padding-top: 25px;
}
</style>
{% endblock headcss %}

{% block title %}{% trans "Administration Panel" %}{% endblock title %}

{% block content %}
<div id="content">
  {% trans "This page can help you administer your installation of KA Lite." %}
  
    <table>
        <tr>
            <td class="title" colspan="2">
                <h2>{% trans "(Offline) Management Tools" %}</h2>
            </td.
        </tr>
        {% if in_a_zone %}
        <tr>
            <td class="link"><a href="{% url zone_redirect %}">{% trans "Zone management" %}</a></td>
            <td class="desc">{%trans "Access to summary data over all facilities and devices" %}</td>
        </tr>
        {% endif %}
        <tr>
            <td class="link"><a href="{% url user_list %}">{% trans "User management" %}</a></td>
            <td class="desc">{% trans "Add/move/delete users across groups" %}</td>
        </tr>
        {% if in_a_zone %}
        <tr>
            <td class="link"><a href="{% url device_redirect %}">{% trans "Sync stats" %}</a></td>
            <td class="desc">{%trans "Information about syncing," %}</td>
        </tr>
        {% else %}
        <tr>
            <td class="link"><a href="{% url summary_stats %}">{% trans "Summary stats" %}</a></td>
            <td class="desc">{% trans "Summary stats for this installation" %}</td>
        </tr>
        {% endif %}
        
        {% if am_i_online %}
        <tr>
            <td class="title" colspan="2">
                <h2>{% trans "(Online) help documents" %}</h2>
            </td>
        </tr>
        <tr>
            <td class="link"><a href="{{wiki_url}}" target=_blank>KA Lite Wiki</a></td>
            <td class="desc"> {% trans "Contains the latest information setting up and using KA Lite." %}</td>
        </tr>
        <tr>
            <td class="link"><a href="http://{{central_server_host}}/faq" target=_blank>FAQ</a></td>
            <td class="desc">{% trans "Contains the latest FAQ for troubleshooting" %}</td>
        </tr>
        {% endif %}

        {% if user.is_superuser and settings.DEBUG %}{% comment "Django-admins and in debug mode" %}{% endcomment %}
        
        <tr>
            <td class="title" colspan="2">
                <h2>{% trans "Advanced User Tools" %}</h2>
            </td>
        </tr>
        <tr>
            <td class="link"><a href="{% url admin:index %}">Django admin</a></td>
            <td class="desc">{% trans "Database of information stored in your KA Lite installation" %}</td>
        </tr>
        <tr>
            <td class="link">&nbsp;</td>
            <td class="desc">
                <span class="warn">({% trans "Warning: changing database values can break your KA Lite installation!" %})</span>
            </td>
        </tr>
        {% endif %}
    </table>
</div>
{% endblock content %}