{% extends base_template %}
{% load i18n %}
{% load staticfiles %}

{% block easyadmin_active %}active{% endblock easyadmin_active %}
{% block title %}{% trans "Administration Panel" %}{{ block.super }}{% endblock title %}

{% block headcss %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/admin_distributed.css' %}">
    {% if clock_set %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-timepicker.min.css' %}" />
    {% endif %}
{% endblock headcss %}

{% block headjs %}
    {% if clock_set %}
    <script type="text/javascript" src="{% static 'js/bootstrap-timepicker.min.js' %}"></script>
    <script type="text/javascript">
    $(function() {
        $('#time_select').timepicker({
            disableFocus: true,
            showMeridian: false,
            minuteStep: 1
            });
        $('#date_select').datepicker({
            dateFormat: "dd-mm-yy",
            altField: "#standard-date",
            altFormat: "yy-mm-dd"
        });

        $("#date_select").datepicker('setDate', new Date());

        $('#set_time').click(
            function () {
                var data = {
                    date_time: $('#standard-date').val() + " " + $('#time_select').val()
                };
                doRequest("{% url time_set %}", data)
                    .success(function(data) {
                        show_api_messages(data, "id_set_time");
                    })
                    .fail(function(resp) {
                        communicate_api_failure(resp, "id_set_time");
                    });
            });
    });
    </script>
    {% endif %}
{% endblock headjs %}

{% block content %}
    <div id="content">
        {% trans "This page can help you administer your installation of KA Lite." %}
        {% if in_a_zone %}
        <div style="float:right" class="server-online-only">
            <div class="registered-only">
                <a class="green_button" href="javascript:force_sync()">{% trans "Sync Now!" %}</a>
            </div>
        </div>
        {% endif %}

        <table>
            {% if clock_set %}
            <tr>
                <td class="title" colspan="2">
                    <h2>{% trans "Raspberry Pi Clock Reset" %}</h2>
                </td>
            </tr>
            <tr>
                <td><div class="link bootstrap-timepicker"><input id="time_select" type="text"></div></td>
                <td class="desc">{% blocktrans with time_format="HH:MM" %}Input current time ({{ time_format }} - 24 Hour){% endblocktrans %}</td>
            </tr>
            <tr>
                <td><div class="link date"><input id="date_select" type="text"><input type="text" id="standard-date"></div></td>
                <td class="desc">{% blocktrans with date_format="DD-MM-YYYY" %}Input current date ({{ date_format }}){% endblocktrans %}</td>
            </tr>
            <tr>
                <td class="link" colspan="2">
                    <input id="set_time" type="submit" value='{% trans "Update Server Date & Time" %}'>
                </td>
            </tr>
            {% endif %}

            <tr>
                <td class="title" colspan="2">
                    <h2>{% trans "(Offline) Management and Reporting Tools" %}</h2>
                </td>
            </tr>
            <tr>
                <td class="link"><a href="{% url device_redirect %}">{% trans "Device information" %}</a></td>
                <td class="desc">{%trans "Information about your KA Lite install, as well as device synchronization." %}</td>
            </tr>
            <tr>
                <td class="link"><a href="{% url zone_redirect %}">{% trans "Network management" %}</a></td>
                <td class="desc">{%trans "Access to summary data over all facilities and devices." %}</td>
            </tr>
            <tr>
                <td class="link"><a href="{% url user_list %}">{% trans "User management" %}</a></td>
                <td class="desc">{% trans "Add/move/delete users across groups." %}</td>
            </tr>

            <tr class="client-online-only">
                <td class="title" colspan="2">
                    <h2>{% trans "(Online) Help Documents" %}</h2>
                </td>
            </tr>
            <tr class="client-online-only">
                <td class="link"><a href="{% if request.language != "en" %}http://translate.google.com/translate?hl=en&sl=auto&tl={{ request.language }}&u={% endif %}{{wiki_url}}" target="_blank">{% trans "KA Lite Wiki" %}</a></td>
                <td class="desc"> {% trans "Contains the latest information about setting up and using KA Lite." %}</td>
            </tr>
            <tr class="client-online-only">
                <td class="link"><a href="{% if request.language != "en" %}http://translate.google.com/translate?hl=en&sl=auto&tl={{ request.language }}&u={% endif %}http://{{central_server_host}}/faq" target="_blank">{% trans "FAQ" %}</a></td>
                <td class="desc">{% trans "Contains the latest FAQ for troubleshooting." %}</td>
            </tr>

            <tr>
                <td class="title" colspan="2">
                    <h2>{% trans "Advanced User Tools" %}</h2>
                </td>
            </tr>
            <tr>
                <td class="link"><a href="{% url admin:index %}">{% trans "Django admin" %}</a></td>
                <td class="desc">{% trans "Database of information stored in your KA Lite installation." %}</td>
            </tr>
            <tr>
                <td class="link">&nbsp;</td>
                <td class="desc">
                    <span class="warn">({% trans "Warning: changing database values can break your KA Lite installation!" %})</span>
                </td>
            </tr>

            {% if ips %}
            <tr>
                <td class="title" colspan="2">
                    <h2>{% trans "Connection Information" %}</h2>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% trans "To connect to this installation of KA Lite from another computer over the network, try these addresses:" %}
                </td>
            </tr>
            {% for ip in ips %}
            <tr>
                <td class="desc" colspan="2"><a target="_blank" href="http://{{ ip }}:{{ port }}/">http://{{ ip }}:{{ port }}/</a></td>
            </tr>
            {% endfor %}

            {% endif %}


        </table>
    </div>
{% endblock content %}