<!DOCTYPE HTML>
{% load i18n %}
{% load static %}{% get_static_prefix as STATIC_URL %}

<html>
    <head>
    <!--[if lt IE 9]>
          <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% block titletag %}
        <title>{% block title %}{{ title }}{% endblock title %} | KA Lite</title>
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/khan-site.css"></link>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/khan-lite.css"></link>
        {% block basecss %}{% endblock basecss %}
        {% block headcss %}{% endblock headcss %}
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
        {% block jqueryjs %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/backbone-min.js"></script>
        {% endblock jqueryjs %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/khan-lite.js"></script>
        {% block headjs %}{% endblock headjs %}
        {% block basejs %}{% endblock basejs %}
        {% block extra_head %}{% endblock extra_head %}
        {% block extrahead %}{% endblock extrahead %}
        {% block analytics %}{% endblock analytics %}
    </head>
    {% load i18n %}
    <body class="light {% block bodyclass %}{% endblock %}">
        <div id="outer-wrapper">
            <div id="page-container">
                <div id="page-container-inner">
                    <div id="fb-root"></div>
                    <header>
                        <div id="top-header">
                            <div id="sitepoints"></div>
                            <div class="top-header-links">
                                <div class="clear"></div>
                                <div id="nav-and-search">
                                    <div class="sitewide-navigation">
                                        <nav>
                                            <span class="links nav-subheader">
                                                {% block sitewide_navigation %}
                                                {% endblock sitewide_navigation %}
                                            </span>
                                        </nav>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div id="logo">
                                <a id="logo-image-small" href="/" title="KA Lite Home" name="logo-image">
                                    <img src="{{ STATIC_URL }}images/horizontal-logo-small.png"/>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </header>
                        {% block outer_content %}
                    <div id="container" class="visited-no-recolor" style="overflow: hidden;">
                        <article class="clearfix">
                            {% block precontent %}
                            {% for message in messages %}
                            <div class="{{ message.tags }} message">{{ message|safe }}</div>
                            {% endfor %}
                            {% endblock precontent %}
                            {% block content %}{% endblock content %}
                        </article>
                    </div>
                    {% endblock outer_content %}
                    <div id="end-of-page-spacer" style="height: 38px;">&nbsp;</div>
                    <div id="badge-notification-container" class="badge-award-container" style="display:none;"></div>
                </div>
            </div>
        </div>

        <div class="push"></div>
        <footer id="footer" class="short">
            <div id="leaves">
                <div class="inner">
                    {% block footerleft %}
                    {% endblock footerleft %}
                    <div id="copyright" class="tiny">
                        {% trans "Videos and Exercises" %} &copy; 2013 Khan Academy 
                        <a rel="license" id="creative-commons-link" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"></a>
                    </div>
                </div>
            </div>
        </footer>
        {% block bodyjs %}{% endblock bodyjs %}
    </body>
</html>

