{% extends 'base.html' %}

{% block basejs %}
<script type="text/javascript">
    doRequest("/securesync/api/logininfo").success(function(data){
        if (data.logged_in){
            $('body').removeClass("logged-out");
            $('body').addClass("logged-in");
            $('#logged_in_greeting').append(data.username + "!");
        }
        else {
            $('body').removeClass("logged-in");
            $('body').addClass("logged-out");
        };
    })
</script>
{% endblock basejs %}

{% block sitewide_navigation %}
    <span class="dropdown topic-browser-dropdown">
        <a href="/" class="watch-navlink {% block watch_selected %}{% endblock watch_selected %}">Watch</a>
        <a href="/exercisedashboard" class="practice-navlink {% block practice_selected %}{% endblock practice_selected %}">Practice</a>
    </span>
    <span class="dropdown topic-browser-dropdown logged-out-only">
        <a href="/securesync/adduser" class="">Sign Up</a>
        <a href="/securesync/login" class="">Login</a>
    </span>
    <span class="dropdown topic-browser-dropdown logged-in-only">
        <a href="/securesync/logout" class="">Logout</a>
    </span>
    <span class="logged-in-only" id="logged_in_greeting">
        Hi&nbsp;
    </span>


{% endblock sitewide_navigation %}