{% extends 'base.html' %}

{% load i18n %}

{% block titletag %}
<title>{% block title %}{{ title }}{% endblock title %} | {% trans "KA Lite, an offline version of Khan Academy" %}</title>
{% endblock %}

{% block basecss %}
<style type="text/css">
ul {
    list-style: disc outside none;
    margin-left: 20px;
    font-size: 14px;
}
article {
    padding: 30px;
}
#nav_signup, #nav_login, #nav_admin, #nav_faq, #nav_wiki, #nav_install {
    display: block;
}
</style>
{% endblock basecss %}

{% block analytics %}{% include 'analytics.html' %}{% endblock analytics %}

{% block sitewide_navigation %}
	<span class="dropdown topic-browser-dropdown">
        <a href="/" id="nav_home" class="{% block home_active %}{% endblock home_active %}">Home</a>
        <a href="/faq/" id="nav_faq" class="{% block faq_active %}{% endblock faq_active %}">FAQ</a>
        <!--a href="{{wiki_url}}" id="nav_wiki" class="{% block wiki_active %}{% endblock wiki_active %}">Wiki</a-->
        <a href="/install/" id="nav_install" class="{% block install_active %}{% endblock install_active %}">Install</a>
        <a href="/contact/" id="nav_contact" class="{% block contact_active %}{% endblock contact_active %}">Contact</a>
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <a href="/admin/" id="nav_admin" class="{% block admin_active %}{% endblock admin_active %}">Admin</a>
        {% endif %}
        <a href="/accounts/logout/">{{ user.username }} &nbsp; (Logout)</a>
    {% else %}
    {% comment %}
        <a href="/accounts/register/" id="nav_signup" class="{% block register_active %}{% endblock register_active %}">Sign Up</a>
    {% endcomment %}
        <a href="/accounts/login/" id="nav_login" class="{% block login_active %}{% endblock login_active %}">Login</a>
    {% endif %}
    </span>
{% endblock sitewide_navigation %}

