{% extends 'base.html' %}

{% block basejs %}
<script type="text/javascript">
    doRequest("/securesync/api/status").success(function(data){
        if (data.logged_in){
            $('body').removeClass("logged-out");
            $('body').addClass("logged-in");
            $('#logged_in_name').text(data.username);
        }
        else {
            $('body').removeClass("logged-in");
            if (!data.registered && data.central_server_host) {
                
            } else {
                $('body').addClass("logged-out");
            }
        };
    })
</script>
{% endblock basejs %}

{% block sitewide_navigation %}
    <span class="dropdown topic-browser-dropdown">
        <a href="/" class="watch-navlink {% block watch_selected %}{% endblock watch_selected %}">Watch</a>
        <a href="/exercisedashboard" class="practice-navlink {% block practice_selected %}{% endblock practice_selected %}">Practice</a>
        <a href="/securesync/adduser" class="logged-out-only">Sign Up</a>
        <a href="/securesync/login" class="logged-out-only">Login</a>
    </span>
    <span class="dropdown topic-browser-dropdown unregistered-only">
        <a href="/securesync/login" class="logged-out-only">Login</a>
    </span>
    <span class="logged-in-only">
        Hi <span id="logged_in_name"></span>!
    </span>
    <span class="dropdown topic-browser-dropdown logged-in-only">
        <a href="/securesync/logout" class="">(Logout)</a>
    </span>


{% endblock sitewide_navigation %}