{% extends 'base.html' %}

{% block basejs %}
<script type="text/javascript">

</script>
{% endblock basejs %}

{% block sitewide_navigation %}
	{% if user.is_authenticated %}
		<span class="dropdown topic-browser-dropdown">
        	<a href="/accounts/logout" class="">{{ user.username }} &nbsp; (Logout)</a>
    	</span>
    {% else %}
	    <span class="dropdown topic-browser-dropdown">
	        <a href="/accounts/register" class="">Sign Up</a>
	        <a href="/accounts/login" class="">Login</a>
	    </span>
	{% endif %}
{% endblock sitewide_navigation %}