{% extends 'base_distributed.html' %}

{% load i18n %}

{% block coachreports_active %}active{% endblock coachreports_active %}

{% block headcss %}
<link rel='stylesheet' type='text/css' href='{{ MEDIA_URL }}css/coach_reports.css'>
<style>
#legend a {
    height:12px;
    margin:0px;
    padding:0px;
}   
.attempts, .streak_progress {
    float:left; 
    margin:0px 5px 0px 0px;
    padding:0px;
    height:12px;
    text-align:center;
    vertical-align:middle;
    display:none;
}
#legend {
    float:right;
    vertical-align:middle;
    margin:12px 45px 2px 15px;
}
.legend {
    float:left;
    width:150px;
    height:20px;
    text-align:center;
    vertical-align:middle;
    border-style:solid;
    border-width: 1px;
    padding:2px;
    margin-right: 2px;
    display:none
}
.legend div {
    float:left;
    width:50px;
    height:21px;
}
#selection-bar {
    overflow:hide;
}
#disp_options {
    float:right;
}
</style>
{% endblock headcss %}
{% block headscript %}
<script>

</script>
{% endblock headscript %}

{% block title %}Coach Reports{% endblock title %}

{% block content %}
<div id="content">
{{request.GET.print}}abc
    <div class="facility"><h2>{% blocktrans %}Coach Reports for {{ facility }}{% endblocktrans %} (<a href="?facility=select">{% trans "Change Facility" %}</a>)</h2></div>
    <div id="selection-bar">
    {% if groups %}
        <div class="selection">
            <div class="subtitle">{% trans "Select Group" %}</div><select id="group">
            <option {% if not request.GET.group %}selected{% endif %}>----</option>
                {% for group in groups %}
                    <option value="{{ group.id }}" {% if request.GET.group == group.id %}selected{% endif %}>{{ group }}</option>
                {% endfor %}
            </select>
        </div>
    {% else %}
        <div class="selection">
            <div class="subtitle">{% trans "No Groups at this Facility" %}</div>
        </div>
    {% endif %}
    {% if topics and groups %}
        <div class="selection">
            <div class="subtitle">{% trans "Select Topic" %}</div><select id="topic">
                <option {% if not request.GET.topic %}selected{% endif %}>----</option>
                {% for topic in topics %}
                    <option value="{{ topic.id }}"{% if request.GET.topic == topic.id %}selected{% endif %}>{{ topic.standalone_title }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
        <div class="selection">
            <div class="subtitle">{% trans "Display Options" %}</div><select id="disp_options" onchange="val=$('#disp_options option:selected')[0].value; $(val).each( function() { $(this)[0].style.display=($(this)[0].style.display=='block')?'none':'block'; })">
                <option selected>----</option>
                <option onselect="alert('selected!')" value="div.legend">legend</option>
                <option onselect="alert('selected!')" value=".attempts">attempts</option>
                <option onselect="alert('selected!')" value=".streak_progress">streak progress</option>
            </select>
        </div>
        <div id="legend">
            <div class="legend"><div class="partial"></div>{% trans "Partially Complete" %}</div>
            <div class="legend"><div class="complete"></div>{% trans "Completed" %}</div>
            <div class="legend"><div class="struggle"></div>{% trans "Struggling" %}</div>
        </div>
    </div>
    

    {% if students %}
        <div style="clear: both;"></div>
        <div id="displaygrid">
            <div style="clear: both;"></div>
            <div class="users">
                <table>
                    <tbody>
                        <tr>
                            <th class="headrowuser">
                                {% trans "Student" %}
                            </th>
                        </tr>
                        {% for student in students %}
                            <tr>
                                <th class="username">
                                    <span title="{{ student.first_name }} {{ student.last_name }} ({{ student.username }})">
                                        {{ student.first_name }} {{ student.last_name }}
                                    </span>
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div style="clear: both;"></div>
            </div>
            <div class="userstatus">
                <table>
                    <tbody>
                        <tr>
                            {% for exercise in exercises %}
                                <th class="headrow data">
                                    <a href="{{ exercise.path }}"><span title='"{{ exercise.display_name }}"{% if exercise.description %} ({{ exercise.description }}){% endif %}'>{{ exercise.short_display_name }}</span></a>
                                </th>
                            {% endfor %}
                        </tr>
                        {% for student in students %}
                            <tr>
                                {% for log in student.exercise_logs %}
                                    {% if log %}
                                        {% if log.struggling %}
                                            <td class="status data struggle" title="{% trans "Struggling" %}"><div class="attempts">{{log.attempts}}</div><div class="streak_progress">{{log.streak_progress}}%</div></td>
                                        {% elif log.complete %}
                                            <td class="status data complete" title="{% trans "Complete" %}"><div class="attempts">{{log.attempts}}</div></td>
                                        {% else %}
                                            <td class="status data partial" title="{% trans "Attempted" %}"><div class="attempts">{{log.attempts}}</div><div class="streak_progress">{{log.streak_progress}}%</div></td>
                                        {% endif %}
                                    {% else %}
                                        <td class="status data" title="{% trans "Not Attempted" %}">{{log.attempts}}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div style="clear: both;"></div>
        <p><div class="subtitle">{% trans "Please select a group and topic above." %}</div></p>
    {% endif %}
</div> 

<script>

function setGetParam(name, val) {
    var vars = {};
    var parts = window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m, key, value) {
        vars[key] = value;
    });
    if (val != "" && val != "----") {
        vars[name] = val;
    } else {
        delete vars[name];
    }
    url = "?" + $.param(vars);
    window.location.href = url;    
}

$(function() {

    $("#topic").change(function(){
        setGetParam("topic", $("#topic option:selected").val());
    });

    $("#group").change(function(){
       setGetParam("group", $("#group option:selected").val()); 
    });
    
    $(window).resize(function() {
        $('.headrowuser').height($('.headrow.data').height()+1);
    }).resize();
    
});
</script>
{% endblock content %}