{% extends 'base_distributed.html' %}

{% load i18n %}

{% block coachreports_selected %}selected{% endblock coachreports_selected %}

{% block headjs %}
<script type='text/javascript' src='{{ MEDIA_URL }}js/underscore.js'></script>
{% endblock headjs %}

{% block headcss %}
<link rel='stylesheet' type='text/css' href='{{ MEDIA_URL }}css/coach_reports.css'>
{% endblock headcss %}

{% block title %}Coach Reports{% endblock title %}

{% block content %}
<div id="content">
    <div class="facility"><h2>{% blocktrans %}Coach Reports for {{ facility }}{% endblocktrans %} (<a href="?facility=select">{% trans "Change Facility" %}</a>)</h2></div>
    <div id="selection-bar">
    {% if groups %}
        <div class="selection">
            <div class="subtitle">{% trans "Select Group" %}</div><select id="group">
            <option {% if not request.GET.group %}selected{% endif %}>----</option>
                {% for group in groups %}
                    <option value="{{ group.id }}" {% if request.GET.group == group.id %}selected{% endif %}>{{ group }}</option>
                {% endfor %}
            </select>
        </div>
    {% else %}
        <div class="selection">
            <div class="subtitle">{% trans "No Groups at this Facility" %}</div>
        </div>
    {% endif %}
    {% if topics and groups %}
        <div class="selection">
            <div class="subtitle">{% trans "Select Topic" %}</div><select id="topic">
                <option {% if not request.GET.topic %}selected{% endif %}>----</option>
                {% for topic in topics %}
                    <option value="{{ topic.id }}"{% if request.GET.topic == topic.id %}selected{% endif %}>{{ topic.standalone_title }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    </div>

    {% if students %}
        <div style="clear: both;"></div>
        <div id="displaygrid">
            <div style="clear: both;"></div>
            <div class="users">
                <table>
                    <tbody>
                        <tr>
                            <th class="headrowuser">
                                {% trans "Student" %}
                            </th>
                        </tr>
                        {% for student in students %}
                            <tr>
                                <th class="username">
                                    <span title="{{ student.first_name }} {{ student.last_name }} ({{ student.username }})">
                                        {{ student.first_name }} {{ student.last_name }}
                                    </span>
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div style="clear: both;"></div>
            </div>
            <div class="userstatus">
                <table>
                    <tbody>
                        <tr>
                            {% for exercise in exercises %}
                                <th class="headrow data">
                                    <a href="{{ exercise.path }}"><span title='"{{ exercise.display_name }}"{% if exercise.description %} ({{ exercise.description }}){% endif %}'>{{ exercise.short_display_name }}</span></a>
                                </th>
                            {% endfor %}
                        </tr>
                        {% for student in students %}
                            <tr>
                                {% for log in student.exercise_logs %}
                                    {% if log %}
                                        {% if log.struggling %}
                                            <td class="status data struggle" title="{% trans "Struggling" %}"></td>
                                        {% elif log.complete %}
                                            <td class="status data complete" title="{% trans "Complete" %}"></td>
                                        {% else %}
                                            <td class="status data partial" title="{% trans "Attempted" %}"></td>
                                        {% endif %}
                                    {% else %}
                                        <td class="status data" title="{% trans "Not Attempted" %}"></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div style="clear: both;"></div>
        <p><div class="subtitle">{% trans "Please select a group and topic above." %}</div></p>
    {% endif %}
</div> 

<script>

function setGetParam(name, val) {
    var vars = {};
    var parts = window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m, key, value) {
        vars[key] = value;
    });
    if (val != "" && val != "----") {
        vars[name] = val;
    } else {
        delete vars[name];
    }
    url = "?" + $.param(vars);
    window.location.href = url;    
}

$(function() {

    $("#topic").change(function(){
        setGetParam("topic", $("#topic option:selected").val());
    });

    $("#group").change(function(){
       setGetParam("group", $("#group option:selected").val()); 
    });
    
    $(window).resize(function() {
        $('.headrowuser').height($('.headrow.data').outerHeight());
    }).resize();
    
});
</script>
{% endblock content %}