{% extends 'base_distributed.html' %}

{% load i18n %}
{% load staticfiles %}

{% block currentusers_active %}active{% endblock currentusers_active %}

{% block headcss %}
<link rel='stylesheet' type='text/css' href='{% static "css/current_users.css" %}'>
{% endblock headcss %}

{% block title %}Current Users{% endblock title %}

{% block content %}
<div id="content">
    <div class="facility"><h2>{% blocktrans %}User List for {{ facility }}{% endblocktrans %} (<a href="?facility=select">{% trans "Change Facility" %}</a>)</h2></div>
    <div id="selection-bar">
        <div class="selection">
            <div class="subtitle">
                {% if groups %}
                {% trans "Select Group to Display" %}
                {% else %}
                <div class="subtitle">{% trans "No Groups at this Facility" %}
                {% endif %}
                <a style="margin-left: 10px" href="{% url add_group %}?next={% url user_list %}">({% trans "Add a group" %})</a>
            </div>
            <select id="group">
            <option {% if not request.GET.group %}selected{% endif %}>----</option>
            {% for group in groups %}
            <option value="{{ group.id }}" {% if request.GET.group == group.id %}selected{% endif %}>{{ group }}</option>
            {% endfor %}
            <option {% if request.GET.group == "Ungrouped" %}selected{% endif %}>Ungrouped</option>
            </select>
        </div>
    </div>

    {% if not users %}
        <div style="clear: both;"></div>
        {% if not groups %}
        <p><div class="subtitle">{% trans "Please select a group above." %}</div></p>
        {% else %}
        <p><div class="subtitle">{% trans "No users.  Please select another group above." %}</div></p>
        {% endif %}
    {% else %}
    <div class="selection">
        <div class="subtitle">{% trans "Select Action" %}</div>
        <button id="movegroup">{% trans "Move Users to Group" %}</button>
        <select id="movegrouplist">
                <option selected>----</option>
                {% for group in groups %}
                    {% if not request.GET.group == group.id %}
                        <option value="{{ group.id }}">{{ group }}</option>
                    {% endif %}
                {% endfor %}
        </select>
        <button id="removegroup">{% trans "Remove Users from Group" %}</button>
<!--         <button id="newuser">{% trans "Add New User to Group" %}</button> -->
        <button id="delete">{% trans "Delete Users" %}</button>
    </div>
    <div class="pagination">
        <span class="step-links">
            <a {% if users.has_previous %}href="{{ pageurls.prev_page }}"{% endif %}>&lt&lt</a>         
            <span class="current">
                {% trans "Page" %} {{ users.number }} {% trans "of" %} {{ users.paginator.num_pages }}
            </span>
            <a {% if users.has_next %}href="{{ pageurls.next_page }}"{% endif %}>&gt&gt</a>
        </span>
    </div>
        <div style="clear: both;"></div>
            <div style="clear: both;"></div>
            <div class="users">
                <table>
                    <tbody>
                        <tr>
                            <th class="headrowuser">
                                {% trans "Select" %} (<a id="all" href="#">{% trans "All" %}</a>/<a id="none" href="#">{% trans "None" %}</a>)
                            </th>
                            <th class="headrowuser">
                                {% trans "First Name" %}
                            </th>
                            <th class="headrowuser">
                                {% trans "Last Name" %}
                            </th>
                            <th class="headrowuser">
                                {% trans "Username" %}
                            </th>
                            <th class="headrowuser">
                                {% trans "Group" %}
                            </th>
                        </tr>
                        {% for user in users %}
                            <tr>
                                <td>
                                    <input type="checkbox" value="{{ user.username }}">
                                </td>
                                <td>
                                    <span title="{{ user.first_name }}">
                                        {{ user.first_name }}
                                    </span>
                                </td>
                                <td>
                                    <span title="{{ user.last_name }}">
                                        {{ user.last_name }}
                                    </span>
                                </td>
                                <td>
                                    <span title="{{ user.username }}">
                                        {{ user.username }}
                                    </span>
                                </td>
                                <td>
                                    <span title="{{ user.group }}">
                                        {{ user.group }}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div style="clear: both;"></div>
        </div>
    {% endif %}
</div> 
<script>

function setGetParams(params) {
    var vars = {};
    var parts = window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m, key, value) {
        vars[key] = value;
    });
    for (name in params) {
        var val = params[name];
        if (val != "" && val != "----") {
            vars[name] = val;
        } else {
            delete vars[name];
        }
    }
    url = "?" + $.param(vars);
    window.location.href = url;    
}

function getUsers() {
        var users = $("[type=checkbox]:checked").map(function () {
        return this.value;
    }).get();
    return users;
}

$(function() {

    $("#group").change(function(){
        setGetParams({"group": $("#group option:selected").val(),"page": ""});
    });
    
    $("#all").click(function(){
        $("[type=checkbox]").prop("checked",true)
    })
    
    $("#none").click(function(){
        $("[type=checkbox]").prop("checked",false)
    })
    
    $("#movegroup").click(function(event) {
        
        var users = getUsers();
        var group = $('#movegrouplist option:selected').val()
        if (users.length>0 && group!="----") {
            if(!confirm("{% trans 'You are about to move selected users to another group.' %}")) {
                return;
            }
            doRequest("/api/move_to_group", {users: users, group: group}).success(function() {location.reload()});
        } else if (users.length==0) {
            alert("{% trans 'Please select users first' %}");
        } else {
            alert("{% trans 'Please choose a group to move users to' %}")
        }
    
    });
    
    $("#removegroup").click(function(event) {
    
        var users = getUsers();
        
        if (users.length>0) {
            if(!confirm("{% trans 'You are about to remove selected users from their current group.' %}")) {
                return;
            }
            doRequest("/api/remove_from_group", {users: users}).success(function() {location.reload()});
        } else {
            alert("{% trans 'Please select users first' %}");
        }
    
    });
    
    $("#delete").click(function(event) {
    
        var users = getUsers();
        
        if (users.length>0) {
            if(!confirm("{% trans 'You are about to delete selected users, they will be permanently deleted.' %}")) {
                return;
            }
            doRequest("/api/delete_users", {users: users}).success(function() {location.reload()});
        } else {
            alert("{% trans 'Please select users first' %}");
        }
    
    });
});
</script>
{% endblock content %}