{% extends 'base_distributed.html' %}

{% load i18n %}
{% load staticfiles %}

{% block practice_active %}active{% endblock practice_active %}

{% block headcss %}
<link rel="stylesheet" type="text/css" href="{% static "js/khan-exercises/css/khan-exercise.css" %}"></link>

<style>
.return-link {
    font-size: 13px;
    padding-bottom: 4px;
    opacity: 0.8;
    margin-top: -2px;
}
</style>

{% endblock headcss %}

{% block headjs %}
<script>
    var urlBaseOverride = "{% static "js/khan-exercises/" %}";
    // some dummy features on the Exercises object to make khan-exercises.js happy
    Exercises = {
        completeStack: {
            getUid: function() { return 0; },
            getCustomStackID: function() { return 0; }
        },
        incompleteStack: [0]
    };
</script>
<script type="text/javascript" src="/jsi18n/"></script>
<script src="{% static "js/khan-exercises/khan-exercise.js" %}"></script>
<script src="{% static "js/khan-exercises/utils/jquery-ui.js" %}"></script>
<script>
    var exerciseData = {
        "description": "{{ exercise.description }}",
        "title": "{{ exercise.display_name }}",
        "exerciseModel": {
            "displayName": "{{ exercise.display_name }}",
            "name": "{{ exercise.name }}",
            "secondsPerFastProblem": {{ exercise.seconds_per_fast_problem }},
            "authorName": "{{ exercise.author_name }}",
            "relatedVideos": []
        },
        "readOnly": false,
        "percentCompleted": 0,
        "points": 0
    };    
</script>
<script src="{% static "js/exercises.js" %}"></script>

<script>
    $(function(){
        if (Khan.scratchpad.isVisible()) {
            $(".current-card-contents #problemarea").css("margin-top","50px");
        } else {
            $(".current-card-contents #problemarea").css("margin-top","10px");
        } 
        $("#scratchpad-show").click(function(){
            console.log("entered the click function!");
            _.defer(function() {
                if (Khan.scratchpad.isVisible()) {
                    $(".current-card-contents #problemarea").css("margin-top","50px");
                } else {
                    $(".current-card-contents #problemarea").css("margin-top","10px");
                };
            });
        });
        $(".return-link").click(function() {
            window.history.go(-1);
            return false;
        });
    });
</script>

{% endblock headjs %}

{% block content %}

    <div class="exercises-header">
        {% if request.META.HTTP_REFERER %}
        {% comment %} Translators: Return in this sense, means to go back. {% endcomment %}
        <a class="return-link" href="{{ request.META.HTTP_REFERER }}">&#60; {% trans "Return" %}</a>
        {% endif %}
        <h2>
            <span class="practice-exercise-topic-context">{% trans "Practicing" %}</span> {% trans title %}
            {% if exercise.description %}<br/><span class="practice-exercise-description">{% trans exercise.description %}</span>{% endif %}
        </h2>
    </div>
    <div class="exercises-body">
        <div class="exercises-card current-card">
            <div class="current-card-container card-type-problem">
                <div class="current-card-container-inner vertical-shadow">
                    <div class="current-card-contents">
                        <div id="problem-and-answer">
                            <div id='problemarea'>
                                <div id='scratchpad'><div></div></div>
                                <div id='workarea'></div>
                                <div id='hintsarea'></div>
                            </div>
                            <div id="answer_area_wrap"><div id="answer_area">
                                <form id="answerform" action="{% url exercise_dashboard %}" method="get" name="answerform">
                                    {% trans "Your progress streak bar for this exercise" as prog_streak %}
                                    <div id="streakbar" class="info-box" title="{{ prog_streak }}">
                                        <div class="streak">
                                            <div class="progress-bar"><div id="totalpoints"></div></div>
                                        </div>
                                    </div>
                                    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px">
                                    <div id="answercontent" class="info-box">
                                        <span class="info-box-header">{% trans "Answer" %}</span>
                                        <div id="questionpoints"></div>
                                        <div id="solutionarea" class="fancy-scrollbar"></div>
                                        <ul id="examples" style="display: none"></ul>
                                        <div class="answer-buttons">
                                        {% trans "Check Answer" as check_btn %}
                                        <input type="button" class="simple-button green" id="check-answer-button" value="{{ check_btn }}"/>
                                        {% trans "Correct! Next Question..." as next_btn %}
                                        <input type="button" class="simple-button green" id="next-question-button" style="display:none;" name="correctnextbutton" value="{{ next_btn }}"/>
                                        <span id="show-solution-button-container"></span>
                                        <div id="check-answer-results"><p class="check-answer-message info-box-sub-description"></p></div>
                                        </div>
                                    </div>
                                    <div class="info-box hint-box">
                                        <span class="info-box-header">{% trans "Need help?" %}</span>
                                        <div id="get-hint-button-container">
                                            {% trans "I'd like a hint" as hint %}
                                            <input id="hint" type="button" class="simple-button orange full-width" value="{{ hint }}" name="hint"/>
                                        </div>
                                        <span id="hint-remainder">{% trans "Note: this will reset your streak and points for this exercise!" %}</span>
                                    </div>

                                    {% if related_videos %}
                                    <div class="info-box related-video-box">
                                        <div id="related-video-content">
                                            <span class="info-box-header">{% trans "Stuck? Watch a video." %}</span>

                                            <div id="related-video-list">
                                                <span class="related-content-title">{% trans "Related videos:" %}</span>
                                                <ul class="related-video-list">
                                                {% for video in related_videos %}
                                                {% if forloop.first %}
                                                    <li>
                                                        <div class="thumbnail">
                                                            <a class="related-video" href="{{ video.path }}" title="{% trans video.title %}" target="_blank">
                                                                <div class="thumb">
                                                                    <img class="thumbimage" src="{{ CONTENT_URL }}{{ video.youtube_id }}.png"/>
                                                                    <div class="thumbnail_label" style="margin-top: 68px; ">
                                                                        <div class="thumbnail_desc">
                                                                            <span class="progress-circle" data-youtube-id="{{ video.youtube_id }}"></span>
                                                                            <span>{% trans video.title %}</span>
                                                                        </div>
                                                                        <div class="thumbnail_teaser" style="height: 0px; ">{% if video.description %}{% trans video.description %}{% endif %}</div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </li>
                                                    
                                                {% else %}
                                                    <li>
                                                        <a class="related-video related-video-inline" href="{{ video.path }}" title="{% trans video.title %}" target="_blank">
                                                            <span class="video-title">
                                                                <span class="progress-circle" data-youtube-id="{{ video.youtube_id }}"></span>
                                                                {% trans video.title %}
                                                            </span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </form>
                            </div></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div id="extras" class="single-exercise">
                    <ul>
                        <li> <a id="scratchpad-show" href style>{% trans "Show scratchpad" %}</a>
                            <span id="scratchpad-not-available" style="display: none;">{% trans "Scratchpad not available" %}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}
