{% extends 'base_distributed.html' %}

{% block practice_selected %}selected{% endblock practice_selected %}

{% block headcss %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}khan-exercises/css/khan-exercise.css"></link>

<style>
.return-link {
    font-size: 13px;
    padding-bottom: 4px;
    opacity: 0.8;
    margin-top: -2px;
}
</style>

{% endblock headcss %}

{% block headjs %}
<script>
    var urlBaseOverride = "{{ MEDIA_URL }}khan-exercises/";
    // some dummy features on the Exercises object to make khan-exercises.js happy
    Exercises = {
        completeStack: {
            getUid: function() { return 0; },
            getCustomStackID: function() { return 0; }
        },
        incompleteStack: [0]
    };
</script>
<script src="{{ MEDIA_URL }}js/underscore.js"></script>
<script src="{{ MEDIA_URL }}khan-exercises/khan-exercise.js"></script>
<script src="{{ MEDIA_URL }}khan-exercises/jquery-ui.js"></script>
<script>
    var exerciseData = {
        "description": "{{ exercise.description }}",
        "title": "{{ exercise.display_name }}",
        "exerciseModel": {
            "displayName": "{{ exercise.display_name }}",
            "name": "{{ exercise.name }}",
            "secondsPerFastProblem": {{ exercise.seconds_per_fast_problem }},
            "authorName": "{{ exercise.author_name }}",
            "relatedVideos": []
        },
        "readOnly": false,
        "percentCompleted": 0,
        "points": 0
    };    
</script>
<script src="{{ MEDIA_URL }}js/exercises.js"></script>

<script>
    $(function(){
        if (Khan.scratchpad.isVisible()) {
            $(".current-card-contents #problemarea").css("margin-top","50px");
        } else {
            $(".current-card-contents #problemarea").css("margin-top","10px");
        } 
        $("#scratchpad-show").click(function(){
            console.log("entered the click function!");
            _.defer(function() {
                if (Khan.scratchpad.isVisible()) {
                    $(".current-card-contents #problemarea").css("margin-top","50px");
                } else {
                    $(".current-card-contents #problemarea").css("margin-top","10px");
                };
            });
        });
        $(".return-link").click(function() {
            window.history.go(-1);
            return false;
        });
    });
</script>

{% endblock headjs %}

{% block content %}

    <div class="exercises-header">
        {% if request.META.HTTP_REFERER %}
        <a class="return-link" href="{{ request.META.HTTP_REFERER }}">&#60; Return</a>
        {% endif %}
        <h2>
            <span class="practice-exercise-topic-context">Practicing</span> {{ title }}
            {% if exercise.description %}<br/><span class="practice-exercise-description">{{ exercise.description }}</span>{% endif %}
        </h2>
    </div>
    <div class="exercises-body">
        <div class="exercises-card current-card">
            <div class="current-card-container card-type-problem">
                <div class="current-card-container-inner vertical-shadow">
                    <div class="current-card-contents">
                        <div id="exercise-message-container" style="display: none;">
                            <div class="exercise_message"></div>
                        </div>
                        <div id="problem-and-answer">
                            <div id='problemarea'>
                                <div id='scratchpad'><div></div></div>
                                <div id='workarea'></div>
                                <div id='hintsarea'></div>
                            </div>
                            <div id="answer_area_wrap"><div id="answer_area">
                                <form id="answerform" action="/exercisedashboard" method="get" name="answerform">
                                    <div id="streakbar" class="info-box" title="Your progress streak bar for this exercise">
                                        <div class="streak">
                                            <div class="progress-bar"><div id="totalpoints"></div></div>
                                        </div>
                                    </div>
                                    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px">
                                    <div id="answercontent" class="info-box">
                                        <span class="info-box-header">Answer</span>
                                        <div id="questionpoints"></div>
                                        <div id="solutionarea" class="fancy-scrollbar"></div>
                                        <ul id="examples" style="display: none"></ul>
                                        <div class="answer-buttons">
                                        <input type="button" class="simple-button green" id="check-answer-button" value="Check Answer"/>
                                        <input type="button" class="simple-button green" id="next-question-button" style="display:none;" name="correctnextbutton" value="Correct! Next Question..."/>
                                        <span id="show-solution-button-container"></span>
                                        <div id="check-answer-results"><p class="check-answer-message info-box-sub-description"></p></div>
                                        </div>
                                    </div>
                                    <div class="info-box hint-box">
                                        <span class="info-box-header">Need help?</span>
                                        <div id="get-hint-button-container">
                                            <input id="hint" type="button" class="simple-button orange full-width" value="I'd like a hint" name="hint"/>
                                        </div>
                                        <span id="hint-remainder">Note: this will reset your streak and points for this exercise!</span>
                                    </div>

                                    <div class="info-box related-video-box">
                                        <div id="related-video-content">
                                            <span class="info-box-header">Stuck? Watch a video.</span>

                                            <div id="related-video-list">
                                                <span class="related-content-title">Related videos:</span>
                                                <ul class="related-video-list">
                                                    {% if related_videos %}
                                                    {% for video in related_videos %}
                                                    {% if forloop.first %}
                                                    <li>
                                                        <div class="thumbnail">
                                                            <a class="related-video" href="{{ video.path }}" title="{{ video.title }}" target="_blank">
                                                                <div class="thumb">
                                                                    <img class="thumbimage" src="{{ CONTENT_URL }}{{ video.youtube_id }}.png"/>
                                                                    <div class="thumbnail_label" style="margin-top: 68px; ">
                                                                        <div class="thumbnail_desc">
                                                                            <span class="progress-circle" data-youtube-id="{{ video.youtube_id }}"></span>
                                                                            <span>{{ video.title }}</span>
                                                                        </div>
                                                                        <div class="thumbnail_teaser" style="height: 0px; ">{{ video.description }}</div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </li>
                                                    {% else %}
                                                    <li>
                                                        <a class="related-video related-video-inline" href="{{ video.path }}" title="{{ video.title }}" target="_blank">
                                                            <span class="video-title">
                                                                <span class="progress-circle" data-youtube-id="{{ video.youtube_id }}"></span>
                                                                {{ video.title }}
                                                            </span>
                                                        </a>
                                                    </li>
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </form>
                            </div></div>
                            <div class="clear"></div>
                        </div>                        
                    </div>
                </div>
                <div id="extras" class="single-exercise">
                    <ul>
                        <li> <a id="scratchpad-show" href style>Show scratchpad</a>
                            <span id="scratchpad-not-available" style="display: none;">Scratchpad not available</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}
