{% extends 'base_distributed.html' %}

{% load i18n %}

{% block practice_active %}active{% endblock practice_active %}

{% block headjs %}
<script type='text/javascript' src='{{ MEDIA_URL }}js/underscore.js'></script>
<script type='text/javascript' src='{{ MEDIA_URL }}js/khan-exercises/utils/raphael.js'></script>
<script type='text/javascript' src='{{ MEDIA_URL }}js/kmap-editor.js'></script>
<script>
    var exercise_paths = {{ exercise_paths|safe }};
</script>
{% endblock headjs %}

{% block headcss %}
<link rel='stylesheet' type='text/css' href='{{ MEDIA_URL }}css/kmap_editor.css'>
{% endblock headcss %}

{% block title %}{% trans "Your Knowledge Map" %}{% endblock title %}

{% block content %}

<div id="map-edit-container">
    <div id="map-container">
        <div id="map"></div>
        <a class="topic-button" href="/exercisedashboard/">{% trans "Back to topics" %}</a>
    </div>
</div>
{% endblock content %}
