{% extends base_template %}
{% load i18n %}
{% load staticfiles %}

{% block practice_active %}active{% endblock practice_active %}

{% block headcss %}{{ block.super }}
    <link rel='stylesheet' type='text/css' href='{% static "css/kmap_editor.css" %}' />
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    <script type='text/javascript' src='{% static "js/khan-exercises/third_party/raphael.js" %}'></script>
    <script type='text/javascript' src='{% static "js/kmap-editor.js" %}'></script>
{% endblock headjs %}

{% block content %}
    <div id="map-edit-container">
        <div id="map-container">
            <div id="map"></div>
            <a class="topic-button" href="{% url exercise_dashboard %}">{% trans "Back to topics" %}</a>
        </div>
    </div>
{% endblock content %}
