{% extends 'base_distributed.html' %}

{% load i18n %}

{% block watch_active %}active{% endblock watch_active %}

{% block content %}

<h1 class="title-header">
    <div class="title">{% trans title %}</div>
    <div class="long-description" style="margin-top: 5px;">{% if description %}{% trans description %}{% endif %}</div>
</h1>

{% if topics %}
<h2>{% trans "Subtopics" %}</h2>
<ol>
    {% for subtopic in topics %}
    <li style="font-size: 15px; line-height: 23px; margin-left: 10px;">
        {% comment %}This is DUMMY DISPLAY; looking for help to make this GOOD and to remove the INLINE STYLING {% endcomment %} 
        <span style="float:left">[</span><span style="width:50px;float:left;text-align:right"> {{subtopic.nvideos_local}}/{{subtopic.nvideos_known}}</span> <span>&nbsp;video{% if subtopic.nvideos_known != 1 %}s{% endif %}] </span><span><a href="{{ subtopic.id }}">{% trans subtopic.title %}</a></span>
    </li>
    {% endfor %}
    <br/>
</ol>
{% endif %}

{% if videos %}
<h2>{% trans "Videos" %}</h2>
<ol>
    {% for video in videos %}
    <li style="font-size: 15px; line-height: 23px; margin-left: 10px;">
        <!--<a href="mplayer:///khan/videofiles/{{ video.youtube_id }}.ogv">{{ video.title }}</a>-->
        <span class="progress-circle" data-youtube-id="{{ video.youtube_id }}"></span>
        {% comment %}This is DUMMY DISPLAY; looking for help to make this GOOD and to remove the INLINE STYLING {% endcomment %} 
        [{% if video.on_disk %} YES!!{% endif %} ]<a href="v/{{ video.readable_id }}">{% trans video.title %}</a>
    </li>
    {% endfor %}
    <br/>
</ol>
{% endif %}

{% if exercises %}
<h2>{% trans "Exercises" %}</h2>
<ol>
    {% for exercise in exercises %}
    <li style="font-size: 15px; line-height: 23px; margin-left: 10px;">
        <span class="progress-circle" data-exercise-id="{{ exercise.name }}"></span>
        <a class="exercise-link" href="e/{{ exercise.name }}">{% trans exercise.display_name %}</a>
    </li>
    {% endfor %}
    <br/>
</ol>
{% endif %}

{% endblock content %}