{% extends 'base_distributed.html' %}

{% load i18n %}

{% block watch_active %}active{% endblock watch_active %}

{% block content %}

{% block headcss %}
<style>
.long-description {
    margin-top: 5px;
}
li {
   font-size: 15px;
   line-height: 23px;
   margin-left: 10px;
}
a.video-available {
}
.video-unavailable,
.topic-unavailable,
a:active.topic-unavailable,
a:hover.topic-unavailable,
a:link.topic-unavailable,
a:visited.topic-unavailable {
    color: #bbb;
    text-decoration: none;
}
</style>
{% endblock headcss %}


{% block bodyjs %}
<script type="text/javascript">
$('.video-unavailable').removeAttr("href"); 
//$('.topic-unavailable').removeAttr("href"); 
$('a.video-unavailable').attr('title', '{% trans "This video is not downloaded." %}');
</script>
{% endblock bodyjs %}


<h1 class="title-header">
    <div class="title">{% trans title %}</div>
    <div class="long-description">{% if description %}{% trans description %}{% endif %}</div>
</h1>

{% if topics %}
<h2>{% trans "Subtopics" %}</h2>
<ol>
    {% for subtopic in topics %}
    <li>
        <span><a href="{{ subtopic.id }}" class="topic-{% if subtopic.nvideos_local == 0 %}un{% endif %}available" title="{{subtopic.nvideos_local}}/{{subtopic.nvideos_known}} {% trans "video(s) are downloaded." %}">{% trans subtopic.title %}</a></span>
    </li>
    {% endfor %}
    <br/>
</ol>
{% endif %}

{% if videos %}
<h2>{% trans "Videos" %}</h2>
<ol>
    {% for video in videos %}
    <li>
        <!--<a href="mplayer:///khan/videofiles/{{ video.youtube_id }}.ogv">{{ video.title }}</a>-->
        <span class="progress-circle" data-youtube-id="{{ video.youtube_id }}"></span>
        <a href="v/{{ video.readable_id }}" class="video-{% if not video.on_disk %}un{% endif %}available">{% trans video.title %}</a>
    </li>
    {% endfor %}
    <br/>
</ol>
{% endif %}

{% if exercises %}
<h2>{% trans "Exercises" %}</h2>
<ol>
    {% for exercise in exercises %}
    <li>
        <span class="progress-circle" data-exercise-id="{{ exercise.name }}"></span>
        <a class="exercise-link" href="e/{{ exercise.name }}">{% trans exercise.display_name %}</a>
    </li>
    {% endfor %}
    <br/>
</ol>
{% endif %}

{% endblock content %}