{% extends 'base_distributed.html' %}

{% load i18n %}
{% load staticfiles %}

{% block update_active %}active{% endblock update_active %}

{% block title %}{% trans "Update Videos" %}{% endblock %}

{% block headcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/jquery-ui.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/plugins/ui.dynatree.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/updates.css' %}" />
<style>
ul.dynatree-container li, .ui-widget-content {
    background-image: none;
}

.download-actions {
    width: 400px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    height: 60px;
    padding: 10px;
}

.subtitles-download {
    width: 500px;
}

#download-legend-selected, #download-videos, #delete-videos {
    display: none;
}

#content_tree {
    margin-top: 15px;
}

#cancel-download {
    display: none;
    margin-top: 10px;
}

#download-videos {
    font-weight: bold;
    padding: 4px 10px 5px 10px;
    margin-bottom: 5px;
    color: #52A852;
}

#delete-videos {
    color: #AC4343;
    padding: 0 10px 0 10px;
}

#retry-video-download, #retry-subtitle-download {
    color: red;
    padding: 0 10px 0 10px;
    display: none;
    margin-top: 15px;
}
#help-info, #download-videos {
    display:none;
}
.progress-waiting {
    padding: 5px 0px 0px 0px;
    display: none;
}
</style>
{% endblock headcss %}
{% block headjs %}
<script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery.dynatree.min.js' %}"></script>
<script src="{% static 'js/updates.js' %}"></script>

<script type="text/javascript">
// Callback functions 

function video_start_callback(progress_log, resp) {
    if (!progress_log) {
        clear_messages()
        show_message("error", resp.status_code + resp.responseText);
    }
}

function video_check_callback(progress_log, resp) {
    // When video status is checked
    if (progress_log) { // check succeeded

        if (progress_log.stage_percent == 1.) {
            // 100% done with the video
            var currentKey = progress_log.stage_name;
            setNodeClass(currentKey, "complete");
            if (progress_log.process_percent == 1.) {
                // 100% done with ALL videos.
                $(".progress-section, #cancel-download").hide();
                updatesReset(progress_log.process_name);
                if ($(".subtitle-section:visible").length == 0) {
                    $("#cancel-download").hide();
                }
                return;
            }

        } else if (progress_log.completed) {
            // Completed without 100% done means there was a problem.
            $("#retry-video-download").show();
            $("#cancel-download").hide();
        } else {
            // Everything's good for now!
            $("#retry-video-download").hide();
            $("#cancel-download").show();
        }
        $("#cancel-download").show();
    } else { // check failed.
        switch (resp.status) {
            case 403:
                window.location.reload()  // Only happens if we were remotely logged out.
                break;
            default:
                show_message("error", "Error downloading videos: " + resp.responseText);
                clearInterval(window.download_subtitle_check_interval)
                break;
        }
    }
}

var video_callbacks = {
    start: video_start_callback,
    check: video_check_callback,
};
</script>

<script type="text/javascript">
    $(function() {

        setTimeout(function() {
            get_server_status({path: "{% url get_server_info %}"}, ["online"], function(status){
                // We assume the distributed server is offline.
                //   if it's online, then we show all tools only usable when online.
                //
                // Best to assume offline, as online check returns much faster than offline check.
                if(!status){// || !status["online"]){
                    show_message("error", "{% trans 'Distributed server is offline; cannot access video nor subtitle updates.' %}", " id_offline_message")
                } else {
                    $("#help-info").show();
                    $("#download-videos").removeAttr("disabled");
                    $(".download-subtitles").removeAttr("disabled");
                    clear_message("id_offline_message")
                }
            });


            doRequest("{% url get_annotated_topic_tree %}", {}).success(function(treeData) {
                $("#content_tree").dynatree({
                    imagePath:"../images/",
                    checkbox: true,
                    selectMode: 3,
                    children: treeData,
                    debugLevel: 0,
                    onSelect: function(select, node) {
                    
                        var newVideoCount = findSelectedIncompleteVideos().length;
                        var oldVideoCount = findSelectedStartedVideos().length;
                        
                        $("#download-videos").hide();
                        $("#delete-videos").hide();
                        $("#download-legend-unselected").toggle((newVideoCount + oldVideoCount) == 0);
                        $("#help-info").toggle((newVideoCount + oldVideoCount) == 0);
                        
                        if (newVideoCount > 0) {
                            $(".new-video-count").text(newVideoCount);
                            $("#download-videos").show();                                
                        }
                        if (oldVideoCount > 0) {
                            $(".old-video-count").text(oldVideoCount);
                            $("#delete-videos").show();
                        }
                    },
                    onDblClick: function(node, event) {
                        node.toggleSelect();
                    },
                    onKeydown: function(node, event) {
                        if( event.which == 32 ) {
                            node.toggleSelect();
                            return false;
                        }
                    },
                    onPostInit: function() {
                        updatesStart("videodownload", 5000, video_callbacks);
                        //updatesStart("subtitledownload");
                    }
                });
                        
            });
        }, 200);
        
        $("#download-videos").click(function() {
            // Get all videos to download
            var videos = findSelectedIncompleteVideos();
            var video_queue = $.map(videos, function(node) {
                return node.data.key;
            });

            updatesStart("videodownload", 5000, video_callbacks)
            // Start the download and updating process
            doRequest("{% url start_video_download %}", {youtube_ids: video_queue}).success(function() {
                updatesStart("videodownload", 5000, video_callbacks)
            }).fail(function(response) {
                show_message("error", "Error starting video download (" + response.status_code + ": " + response.responseText);
            });

            // Update the UI to reflect that we're waiting to start
            unselectAllNodes();
            $("#cancel-download").show();
        });

        $("#delete-videos").click(function() {
            // This function can only get called when
            //   no downloads are in progress.

            // Get all videos marked for download
            var videos = findSelectedStartedVideos();
            var video_queue = $.map(videos, function(node) {
                return node.data.key;
            });

            // Do the action
            doRequest("{% url delete_videos %}", {youtube_ids: video_queue}).complete(function() {
                $.each(video_queue, function(ind, id) {
                    setNodeClass(id, "unstarted");
                });
            });

            // Update the UI        
            unselectAllNodes();
        });


        // Mixed stuff

        $("#cancel-download").click(function() {
            // Reset ALL of the progress tracking
            updatesReset()

            // Do the action
            doRequest("{% url cancel_video_download %}");

            // Update the UI
            $(".subtitle-section, #cancel-download").hide();
        });
       
        $("#retry-video-download").click(function() {
            doRequest("{% url start_video_download %}", {});
        });

        // Subtitles stuff

        $(".download-subtitles").click(function(event) {
            // Confirm the action
            var new_only = $(event.target).attr("new_only");
            var language = $("#language option:selected").val();
            if (new_only!="true") {
                if(!confirm("{% trans 'You are about to download new subtitles for all downloaded videos. This may take a long time.' %}")) {
                    return;
                }
            }
            if (!language) {
                alert("{% trans 'Please select a language first' %}");
                return;
            }

            // Do the action and start the updating process        
            doRequest("{% url start_subtitle_download %}", {language: language, new_only: new_only}).success(startSubtitleDownloadChecks);
            updatesStart("subtitledownload")
            
            // Update the UI
        });
        


        // onload    
    });
</script>

<script>
    /* script functions for doing stuff with the topic tree*/    
    function unselectAllNodes() {
        $.each($("#content_tree").dynatree("getSelectedNodes"), function(ind, node) {
            node.select(false);
        });
    }

    function findSelectedIncompleteVideos() {
        var arr = $("#content_tree").dynatree("getSelectedNodes");
        return $.grep(arr, function(node) { 
            return node.data.addClass != "complete" && node.childList == null;
        });
    }

    function findSelectedStartedVideos() {
        var arr = $("#content_tree").dynatree("getSelectedNodes");
        return $.grep(arr, function(node) { 
            return node.data.addClass != "unstarted" && node.childList == null;
        });
    }
    
    function withNodes(nodeKey, callback, currentNode) {
        if (!currentNode) {
            currentNode = $("#content_tree").dynatree("getTree").tnRoot.childList[0];
        }
        $.each(currentNode.childList || [], function(ind, child) {
            if (child.data.key == nodeKey) {
                callback(child);
            }
            withNodes(nodeKey, callback, child);
        });
    }
    
    function setNodeClass(nodeKey, className) {
        withNodes(nodeKey, function(node) {
            $(node.span).removeClass("unstarted partial complete").addClass(className);
            node.data.addClass = className;
            if (node.parent) {
                updateNodeClass(node.parent);
            }            
        });
    }

    function updateNodeClass(node) {
        if (node.childList) {
            var complete = true;
            var unstarted = true;
            for (var i = 0; i < node.childList.length; i++) {
                var child = node.childList[i];
                if (child.data.addClass != "complete") {
                    complete = false;
                }
                if (child.data.addClass != "unstarted") {
                    unstarted = false;
                }
            }
            if (complete) {
                setNodeClass(node.data.key, "complete");
            } else if (unstarted) {
                setNodeClass(node.data.key, "unstarted");
            } else {
                setNodeClass(node.data.key, "partial");
            }
        }
    }
</script>

{% endblock headjs %}

{% block content %}

<div class="download-actions vertical-shadow">
    <h2 id="download-legend-unselected" class="button_text">
        {% trans "Please select videos to download (below)" %}
    </h2>
    <div id="help-info">
        <a id="download-help-link" target="_new" href="http://{{ central_server_host }}/faq/installation/bittorrent/">
            {% trans "Q: How do I bulk-download videos?" %}
        </a>
    </div>
    
    <button id="download-videos" type="button" disabled>{% trans "Download " %}<span class="new-video-count">0</span>{% trans " new selected videos" %}</button>

    <button id="delete-videos" type="button">{% trans "Delete " %}<span class="old-video-count">0</span>{% trans " selected videos" %}</button>
</div>

<div>
    <!-- note: id must match the "updates" app process name -->
    <div id="videodownload-progressbar">
        {% include "updates/progress-bar.html" %}
        <button id="retry-video-download" type="button">{% trans "Video download error... click to retry" %}</button>
    </div>

    <div>
        <button id="cancel-download" type="button">{% trans "Cancel Video Downloads" %}</button>
    </div>
</div>
<div style="clear: both;"></div>

<div id="content_tree"><br/><h2>{% trans " Loading topic tree... Please wait!" %}</h2></div>
{% endblock content %}
