{% extends 'base_distributed.html' %}

{% load i18n %}
{% load staticfiles %}

{% block update_active %}active{% endblock update_active %}

{% block title %}{% trans "Update Software" %}{% endblock %}

{% block headcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/jquery-ui.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/updates.css' %}" />
{% endblock headcss %}

{% block headjs %}
<script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/updates.js' %}"></script>
<script type="text/javascript">
// Callback functions 

function video_start_callback(progress_log, resp) {
    if (!progress_log) {
        clear_messages()
        show_message("error", resp.status_code + resp.responseText);
    }
}

function video_check_callback(progress_log, resp) {
    // When video status is checked
    if (progress_log) { // check succeeded

        if (progress_log.stage_percent == 1.) {
            // 100% done with the video
            setNodeClass(currentKey, "complete");
            if (progress_log.process_percent == 1.) {
                // 100% done with ALL videos.
                $(".progress-section, #cancel-download").hide();
                updatesReset(progress_log.process_name);
                if ($(".subtitle-section:visible").length == 0) {
                    $("#cancel-download").hide();
                }
                return;
            }

        } else if (progress_log.completed) {
            // Completed without 100% done means there was a problem.
            $("#retry-video-download").show();
            $("#cancel-download").hide();
        } else {
            // Everything's good for now!
            $("#retry-video-download").hide();
            $("#cancel-download").show();
        }
        $("#cancel-download").show();
    } else { // check failed.
        switch (resp.status) {
            case 403:
                window.location.reload()  // Only happens if we were remotely logged out.
                break;
            default:
                show_message("error", "Error downloading videos: " + resp.responseText);
                clearInterval(window.download_subtitle_check_interval)
                break;
        }
    }
}

function video_display_callback(progress_log) {
    if (!progress_log) {
        return;
    }
    //     Update the progress text
    var currentKey = progress_log.stage_name;
    if (!currentKey) {
        return;
    }
    var currentNode = $("#content_tree").dynatree("getTree").getNodeByKey(currentKey);
    $("#videodownload-progressbar .stage-header").text("Downloading video");
    $("#videodownload-progressbar .stage-name").text(currentNode.data.title);
}

var video_callbacks = {
    start: video_start_callback,
    check: video_check_callback,
    display: video_display_callback
};
</script>

<script type="text/javascript">
    $(function() {

        setTimeout(function() {
            get_server_status({path: "{% url get_server_info %}"}, ["online"], function(status){
                // We assume the distributed server is offline.
                //   if it's online, then we show all tools only usable when online.
                //
                // Best to assume offline, as online check returns much faster than offline check.
                if(!status || !status["online"]){
                    show_message("error", "{% trans 'Distributed server is offline; cannot access video nor subtitle updates.' %}", " id_offline_message")
                } else {
                    $("#help-info").show();
                    $("#download-videos").removeAttr("disabled");
                    $(".download-subtitles").removeAttr("disabled");
                    clear_message("id_offline_message")
                }
            });
        }, 200);

        $("#download-videos").click(function() {
            // Get all videos to download
            updatesStart("update_kalite", 5000, video_callbacks)

            // Start the download and updating process
            doRequest("{% url start_update_kalite %}").success(function() {
                updatesStart("update_kalite", 5000, video_callbacks)
            }).fail(function(response) {
                show_message("error", "Error starting update process (" + response.status_code + ": " + response.responseText);
            });

            // Update the UI to reflect that we're waiting to start
            $("#cancel-update").show();
        });
        // onload    
    });
</script>
{% endblock headjs %}

{% block content %}

<div class="download-actions vertical-shadow">
    <h2 id="download-legend-unselected" class="button_text">
        {% trans "Please select videos to download (below)" %}
    </h2>
    <div id="help-info">
        <a id="download-help-link" target="_new" href="http://{{ central_server_host }}/faq/installation/bittorrent/">
            {% trans "Q: How do I bulk-download videos?" %}
        </a>
    </div>
    
    <button id="download-videos" type="button" disabled>{% trans "Download " %}<span class="new-video-count">0</span>{% trans " new selected videos" %}</button>

    <button id="delete-videos" type="button">{% trans "Delete " %}<span class="old-video-count">0</span>{% trans " selected videos" %}</button>
</div>

<div class="download-actions subtitles-download vertical-shadow">
    <h2 class="button_text">{% trans "Download/update subtitles for existing videos" %}</h2>
    <span class= "button_style">
        <select id="language">
            {% if languages %}
                {% for language in languages %}
                    <option value="{{ language.id }}" {% ifequal language.id default_language %} selected {% endifequal %}>{{ language.name }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </span>

    <button class="download-subtitles" type="button" disabled>{% trans "Get/Update All Subtitles" %}</button>
    <button class="download-subtitles" new_only=true type="button" disabled>{% trans "Get Missing Subtitles Only" %}</button>

</div>

<div style="clear: both;"></div>

<!-- note: id must match the "updates" app process name -->
<div id="videodownload-progressbar">
    {% include "updates/progress-bar.html" %}
    <button id="retry-video-download" type="button">{% trans "Video download error... click to retry" %}</button>
</div>

<!-- note: id must match the "updates" app process name -->
<div id="subtitledownload-progressbar">
	{% include "updates/progress-bar.html" %}
    {# <button id="retry-subtitle-download" type="button">{% trans "Subtitle download error... click to retry" %}</button> #}
</div>

<div>
    <button id="cancel-download" type="button">{% trans "Cancel All Downloads" %}</button>
</div>
{% endblock content %}
