{% extends 'base_distributed.html' %}

{% load i18n %}
{% load repeatblock %}
{% load staticfiles %}

{% block update_active %}active{% endblock update_active %}
{% block title %}{% trans "Update" %}{% endblock %}


{% block headjs %}
<script type="text/javascript" src="{% static "js/jquery-ui.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
{% endblock headjs %}

{% block headcss %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/landing-page.css' %}" /> -->

<style>

.vertical-shadow{
    margin-left: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.container{
    margin-left: 130px;
}

.btn{
    margin-left: 40px;
    margin-top: 130px;
}

h2{
    font-size: 24px;
    margin-left: 45px;
}

img{
    margin-left: 15px;
}

</style>
{% endblock headcss %}

{% block content %}

<div>
    <div class="vertical-shadow">
        <div class= "row">
                <h2>{% trans "System Updates" %}</h2>
        </div>

        <div class= "row">
            <div class="span3">
                <img src="http://placehold.it/300x250">
            </div>

            <div class="span6">
                <dl class="dl-horizontal">
                    <dt>Current Version</dt>
                    <dd>0.092</dd>
                    <dt>Latest Version</dt>
                    <dd>0.10 <span class="label label-info">New</span> </dd>
                    <dt>Release Date</dt>
                    <dd>Sep 3, 2013</dd>
                    <dt>Description</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus nunc et est rutrum feugiat. Cras fermentum odio ac ante placerat, ut pharetra mi dignissim. Fusce sed urna aliquam, placerat ipsum at, pretiumtortor ac, bibendum turpis.</dd>
                    </dl>
            </div>

            <div class="span3">
                <button class="btn btn-large btn-primary" type="button">Update System</button>
            </div>

        </div>
    </div>


    <div class="vertical-shadow">
        <div class= "row">
                <h2>{% trans "Language Packs" %}</h2>
        </div>

        <div class= "row">
            <div class="span3">
                <img src="http://placehold.it/300x250">
            </div>

            <div class="span6">
                <dl class="dl-horizontal">
                    <dt>Current Version</dt>
                    <dd>0.092</dd>
                    <dt>Latest Version</dt>
                    <dd>0.10</dd>
                    <dt>Release Date</dt>
                    <dd>Sep 3, 2013</dd>
                    <dt>Description</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus nunc et est rutrum feugiat. Cras fermentum odio ac ante placerat, ut pharetra mi dignissim. Fusce sed urna aliquam, placerat ipsum at, pretiumtortor ac, bibendum turpis.</dd>
                    </dl>
            </div>

            <div class="span3">
                <button class="btn btn-large btn-primary" type="button">Update System</button>
            </div>

        </div>
    </div>

            <div class="row vertical-shadow">
                <div class="vertical-shadow suggested-action">
                        <h2 class="suggested-action-title">{% trans "Video Download" %}</h2>
                        <div class="suggested-action-image-link" style="background-image: url({% static 'images/update_software.jpg' %});"></div>
                    </a>
                </div>
            </div>
</div>
{% endblock content %}