{% extends 'base_distributed.html' %}

{% block headjs %}
<script src="{{ STATIC_URL }}js/jquery-ui.custom.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.dynatree.min.js"></script>
<link href="{{ STATIC_URL }}css/ui.dynatree.css"rel="stylesheet" type="text/css"/>

<script type="text/javascript">
  var treeData = [
    {title: "item1 with key and tooltip", tooltip: "Look, a tool tip!" },
    {title: "item2: selected on init", select: true },
    
    {title: "Math", isFolder: true, key: "math",
      children: [
        {title: "Algebra",
        icon: "circle-empty.png",
          children: [
            {title: "Intro", key: "intro" },
            {title: "Linear function", key: "linear-function" }
          ]
        },
        {title: "Geometry",
          children: [
            {title: "Basic geometry", key: "basic-geometry" },
            {title: "Angles", key: "angles" }
          ]
        }
      ]
    },
   
  ];
  
  
   $(function(){ 
   	
      $("#tree3").dynatree({
      imagePath:"../images/",
      checkbox: true,
      selectMode: 3,
      children: treeData,
      onSelect: function(select, node) {
        // Get a list of all selected nodes, and convert to a key array:
        var selKeys = $.map(node.tree.getSelectedNodes(), function(node){
          return node.data.key;
        });
        $("#echoSelection3").text(selKeys.join(", "));

        // Get a list of all selected TOP nodes
        var selRootNodes = node.tree.getSelectedNodes(true);
        // ... and convert to a key array:
        var selRootKeys = $.map(selRootNodes, function(node){
          return node.data.key;
        });
        $("#echoSelectionRootKeys3").text(selRootKeys.join(", "));
        $("#echoSelectionRoots3").text(selRootNodes.join(", "));
      },
      onDblClick: function(node, event) {
        node.toggleSelect();
      },
      onKeydown: function(node, event) {
        if( event.which == 32 ) {
          node.toggleSelect();
          return false;
        }
      },
      // The following options are only required, if we have more than one tree on one page:
//        initId: "treeData",
      cookieId: "dynatree-Cb3",
      idPrefix: "dynatree-Cb3-"
    });
  
  });
</script>

{% endblock headjs %}



















{% block content %}
  <p class="description">
    This tree has <b>checkoxes and selectMode 3 (hierarchical multi-selection)</b> enabled.<br>
    A double-click handler selects the node.<br>
    A keydown handler selects on [space].
  </p>
  <div id="tree3"></div>
  <div>Selected keys: <span id="echoSelection3">-</span></div>
  <div>Selected root keys: <span id="echoSelectionRootKeys3">-</span></div>
  <div>Selected root nodes: <span id="echoSelectionRoots3">-</span></div>
{% endblock content %}

