<div class="panel panel-default">
    <div class="panel-body text-center">
        {% if form.errors %}
            <p style="color: white;">
                This app requires a super user. Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}
        </br>
        <form class="form-horizontal" id="superusercreate-box" method="post">
            <div class="field">
                {{ form.superusername.errors }}
                {{ form.superusername }}
            </div>
            </br>
            <div class="field">
                {{ form.superpassword.errors }}
                {{ form.superpassword }}
            </div>
            </br>
            <div class="field">
                {{ form.superemail.errors }}
                {{ form.superemail }}
            </div>
            </br>
            {% csrf_token %}
            <button class="create-btn btn btn-lg btn-primary" type="submit">Create</button>
        </form>
    </div>
</div>