{% extends "control_panel/base_management.html" %}

{% block buttons %}

            {% block upload_button %}
            <li>
                <form name="upload_form" id="upload_form" method="post" 
                      action="{% block upload_href %}{% endblock %}"
                      enctype="multipart/form-data" >{% csrf_token %}
                    <div id="form_data">
                        <br/>
                        {% block upload_form %}{{ upload_form.as_p }}{% endblock %}
                    </div>
                    <input class="add green_button" type="submit" value="{% block upload_text %}{% endblock %}">
                </form>
            </li>
            {% endblock upload_button %}

            {% block download_button %}
                <li>
                    <a class="green_button" href="{% block download_href %}{% endblock %}">{% block download_text %}{% endblock %}</a>
                </li>
            {% endblock download_button %}

{% endblock buttons %}