{% extends "control_panel/base.html" %}
{% load i18n %}

{% block title %}{{ device.name }} : Device Syncing History{% endblock title %}

{% block buttons %}{{ block.super }}
    {% if not is_central %}
        <!--li>
            <a class="green_button" href="javascript:alert('NYI; sorry!');">{% trans "Sync device now!" %}</a>
        </li-->
    {% endif %}
{% endblock buttons %}

{% block control_panel_content %}
<div id="zone_container">

    {% if is_central %}
    <div class="device_metadata">
        <h2>Device Metadata</h2>

        <ul>
        {% if not shown_sessions %}
            <li><b>Version:</b> {{ device.version }}</li>
        {% else %}
            <li><b>Version:</b> {{ shown_sessions.0.client_version }}</li>
            <li><b>OS:</b>  {{ shown_sessions.0.client_os }}</li>
        {% endif %}
        </ul>
    </div>
    {% endif %}

    <div class="sync_sessions">
        <div>
            <h2>Sync Sessions</h2>
        </div>

        {% if not shown_sessions %}
            <p>This device has never synced with the central server</p>
        {% else %}
            <span>(showing {{ shown_sessions|length }} of {{ total_sessions }})</span>
            <table class="simple-table">
                <tr>
                    <th width="250px">Sync date</th>
                    <th width="250px">Sync IP address</th>
                    <th width="200px"># models uploaded</th>
                    <th width="200px"># models downloaded</th>
                    <th width="200px"># errors</th>
                </tr>
                {% for sync_session in shown_sessions %}
                    <tr>
                        <td>{{ sync_session.timestamp }}</td>
                        <td>{{ sync_session.ip }}</td>
                        <td>{{ sync_session.models_uploaded }}</td>
                        <td>{{ sync_session.models_downloaded }}</td>
                        <td>{{ sync_session.errors }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

</div><!-- zone_container -->
{% endblock control_panel_content %}
