{% extends "control_panel/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load include_block %}

{% block title %}{{ group.name }} - {% trans "User Management" %}{{ block.super }}{% endblock title %}

{% block headcss %}{{ block.super }}
    {% include_block "facility/current_users.html" "headcss" %}
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    {% include_block "facility/current_users.html" "headjs" %}
{% endblock headjs %}

{% block control_panel_content %}
    <div id="content">
        {% include_block "facility/current_users.html" "users_table" %}
    </div>
{% endblock control_panel_content %}