{% extends "control_panel/base_printable.html" %}
{% load i18n %}
{% load staticfiles %}
{% load include_block %}

{% block title %}{{ group.name }} - {% trans "Group Report" %}{{ block.super }}{% endblock title %}

{% block headjs %}{{ block.super }}
    {% include_block "coachreports/tabular_view.html" "headjs" %}
{% endblock headjs %}

{% block headcss %}{{ block.super }}
    {% include_block "coachreports/tabular_view.html" "headcss" %}
{% endblock headcss %}

{% block control_panel_content %}
    <div id="group_container">
        {% include_block "coachreports/tabular_view.html" "content" %}
    </div>
{% endblock control_panel_content %}