{% extends "control_panel/base.html" %}
{% load i18n %}

{% block title %}{{ zone.name }} - Zone Management Console{% endblock title %}
{% block control_panel_active %}active{% endblock control_panel_active %}

{% block headjs %}{{ block.super }}
<script>
    $(function () {
        $("#form_data").hide()
        $("#upload_form").submit(function() {
        // Disable until we get to this stage of the IDOC deployment.
        /*
            // First press: show file entry
            if ($('#form_data').filter(":visible").length==0) {
                $('#form_data').show();
                return false;
            }
            // Second press: submit form (default)
        */
            return false;
        });
    })
</script>
{% endblock headjs %}

{% block headcss %}{{ block.super }}
<style>
    .reports {
        padding-right: 15px;
        white-space: nowrap;
    }
</style>
{% endblock headcss %}


{% block buttons %}
            {% block upload_button %}
            {% endblock upload_button %}

            {% block download_button %}
                <li>
                    <a class="green_button" href="#">{% trans "Sync via USB" %}</a>
                </li>
            {% endblock download_button %}
{% endblock buttons %}

{% block control_panel_content %}
<div id="zone_container">
    <div class="facilities">
        <h2>Facilities</h2>

        {% if not facilities %}
            <p>You currently have no facilities that save synced data with the central server</p>

        {% else %}

         <table class="simple-table">
            <tr>
                <th width="250px">Facility Name</th>
                <th width="120px"># users</th>
                <th width="120px"># groups</th>
                <th width="200px">Last Usage</th>
                <th width="250px">Actions</th>
                <th></th>
            </tr>

            {% for id,facility in facilities.items %}
                <tr>
                    <td nowrap>
                        <a href="{% url facility_usage org_id=org.id zone_id=zone.id facility_id=id %}">
                            {{ facility.name }}
                        </a>
                    </td>
                    <td nowrap>{{ facility.num_users }}</td>
                    <td nowrap>{{ facility.num_groups }}</td>
                    <td nowrap>{% if not facility.last_time_used %}{% trans "Never" %}{% else %}{{ facility.last_time_used.start_datetime|date }} - {{ facility.last_time_used.end_datetime|date }}{% endif %}</td>

                    <td nowrap>
                        <!--span class="reports">[<a href="{% url facility_usage org_id=org.id zone_id=zone.id facility_id=id %}">{% trans "view usage" %}</a>]</span-->
                    </td>
                </tr>
            {% endfor %}

        </table>
        {% endif %}
    </div><!-- facilities -->

    <div class="devices">
        <h2>Devices</h2>

        {% if not devices %}
            <p>You currently have no devices that save synced data with the central server</p>

        {% else %}
            <table class="simple-table">
                <tr>
                    <th width="250px">Device name</th>
                    <th width="120px"># Times Sync'd</th>
                    <th width="120px">Last Sync</th>
                    <th width="200px">Last Usage</th>
                    <th width="250px">
                        Counter
                        <span class="glossary-link nudge-left" title="The counter is an integer 'timestamp' for each update, and tells the last data update sync'd for a given device."></span>
                    </th>
                </tr>
                {% for id,device in devices.items %}
                    <tr>
                        <td nowrap>
                            <a href="{% url device_management org_id=org.id zone_id=zone.id device_id=id %}">
                                {{ device.name }}
                            </a></td>
                        <td>{{ device.num_times_synced }}</td>
                        <td nowrap>{{ device.last_time_synced }}</td>
                        <td nowrap>{% if not device.last_time_used %}{% trans "Never" %}{% else %}{{ device.last_time_used.start_datetime|date }} - {{ device.last_time_used.end_datetime|date }}{% endif %}</td>
                        <td nowrap>{{ device.counter }}</td>
                    </tr>

                {% endfor %}
            </table>
        {% endif %}
    </div><!-- devices -->
</div><!-- zone_container -->
{% endblock control_panel_content %}