{% extends "base.html" %}
{% block content %}
<div>
<h2>Instructions</h2>

<p>Thank you for participating in our study on online learning behaviors. Your participation will include studying Quadratic Equations with the use of a new online system, KA Lite. In this system you will be provided short videos and practice questions covering several sub topics. In the end of the experiment, you will be tested on your knowledge of this material. Your score will of course have no effect on your GPA, but it will hopefully boost your mathematical skills in Quadratic Equations.</p>

<p>This experiment has 3 phases, spanning 3 separate (online) sessions, and includes just under 2 hours of work, for which you will receive 2 credits. You may choose to withdraw participation at any point without penalty, and you will receive ½ credit for your original consent to participate.</p>

<p>The time flow of the experiment will be as follows:</p>

<p>Phase 1 (pre-study information: today)  Phase 2 (study materials: some time in the next few days)  Phase 3 (exam: exactly 4 days from today)</p>

<p>Notice you will need to access this site more than once. PLEASE make sure to keep your login information for future visits.</p>

<p>Once you log on today, you will receive a date and time in which you can take the final exam. It will be exactly 4 days from today. 
IMPORTANT: Note that on the day of the exam, from midnight the night before, you will not be able to access any of the study material on this site.</p>

<p>Phase 1 (should take under 10 minutes)
Consent form: After these instructions, you will read a consent form. This consent form is a general consent form that includes some information that is irrelevant to this study – you will be studying math and answering some questionnaires. You will not be videotaped.  Press ‘Next’ once you are done reading it.</p>

<p>Questionnaires: You will then answer 2 short questionnaires. Please answer these questions honestly and seriously. Make sure to press ‘Submit’ once you are done with each page, and only then press ‘Next’.</p>

<p>Pre-study exam: You will then answer a few mathematical questions, so that we can get an assessment of your current understanding of the topic you will be studying.</p>

<p>Phase 2 (should take about 1 hour and 20 minutes)
This phase involves studying the material, which includes watching videos and answering practice questions. It is up to you what to actually study, but we recommend that even if you have a basic understanding of the topic, to at least answer practice questions.</p>

<p>Phase 3 (should take about 10 minutes)
Exam: You will take the final exam, covering all the material provided in phase 2. NOTE THAT YOU WILL NOT HAVE ACCESS TO ANY OF THE MATERIAL THE DAY OF THE EXAM.</p>

<p>Post experiment questionnaires: You will again answer two questionnaires. Please answer as honestly as possible. Again, remember to press ‘Submit’ before pressing ‘Next’.</p>


<p>Thanks for participating in this experiment! Please contact  <a href="mailto:ghofree@ucsd.edu">Galit Hofree</a> - if you have any questions about this study.</p></div>

<img src="http://i.imgur.com/F6RQvwZ.png" />

<a class="green_button" href="?next=true">CONTINUE</a>
{% endblock content %}