{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block headcss %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-timepicker.min.css' %}" />
{% endblock headcss %}

{% block headjs %}
    <script type="text/javascript" src="{% static 'js/bootstrap-timepicker.min.js' %}"></script>
    <script type="text/javascript">
    $(function() {
        $('#time_select').timepicker();
        $('#date_select').datepicker({
            dateFormat: "dd-mm-yy",
        });
    });
    </script>
{% endblock headjs %}


{% block content %}
<div>
<p>The URL to access this site for the next two phases is <a href="http://tfle.org:9124">http://tfle.org:9124</a>. Just a reminder, your username is <b>{{ user.username }}</b>, and password is <b>experiment</b>. Please keep this somewhere safe so that you can complete the experiment. Remember that full credit will only be given to those who complete the experiment (complete the final exam).</p>
</div>
<h2>You completed phase 2 of the experiment. Your exam is scheduled for {{ test_time }}.</h2>
{% if condition == 2 %}
<h2>You can access the site at any time, but it would be best to plan in advance a time and date to study on. Please choose a time and date below:</h2>
<form action="?next=true" method="get">
<span><div class="link bootstrap-timepicker"><input id="time_select" name="time" type="text"></div></span>
<span class="desc">{% trans "Input time (HH:MM)" %}</span>
<span><div class="link date"><input id="date_select" name="date" type="text"></div></span>
<span class="desc">{% trans "Input date (DD-MM-YYYY)" %}</span>

<input class="green_button" type="submit" value="Submit">
</form>
{% elif condition == 1 %}
<h2>You can access the site at any time, but we have estimated that the best time for you to study for the exam would be {{ time }}.</h2>
<a class="green_button" href="?next=true">Next</a>
{% elif condition == 0 %}
<h2>Please study some time in the next few days for this exam.</h2>
<a class="green_button" href="?next=true">Next</a>
{% endif %}
{% endblock content %}