// Landing page - non resuable parts
// --------------------------------------------------

#navbar-container {
  border-bottom: 3px solid @dark-green;
}

.button-container{
 .center;
 text-align: center;
 padding: 50px 0px;
 background-color: #1C2C38;
}

#announcements {
  background-color:@quote-color;
  text-align: center;
  .alert {
    margin-bottom: 0px;
    padding: 10px;
    font-size: 18px;
    #announcement-text-container {
      margin: 0px 30px;
      p {
        font-size: 18px;
      }
    }
    a {
      text-decoration: underline;
      font-weight: bold;
    }
  } 
}

.ka-quote{
  background-color:@quote-color;
  color:gray;
  text-align: center;
  font-size: 26px;  
  padding: 50px 0px ;
  .box-shadow(0px 1px 4px @light-gray);

  p {
    font-size: 18px;
  }
}

.features{
  //text-align: center;
  color:black;
  background-color:#fcfcfc;
  padding: 70px 0px;


  h2{
    padding-top: 20px;
  }
  .span4 > p,h2{
    width:200px;
    padding-left: 50px;
  }
  p,h2{
    .center;
  }
  p{
    padding-top: 10px;
    color:gray;
    line-height: 1.8;
  }
}

.dev-cont{
  background: white;
  padding:70px 0px;
  .center;
  text-align: center;

  button{
    margin-top: 20px;
  }
}
.content-page {
  background: white;
  
  h1,p,h2{
    .center;
    max-width: 650px;
  }
  h1{

    text-align: center;
    border-bottom: 1px solid @light-gray;
    padding-bottom: 20px;
    padding-top: 30px;
  }
  p{
    color: #434950;
    line-height: 1.5;
    margin-bottom: 1em;
    font-size: 14px;
  }
}
.content-page__disclaimer{
  background-color: @light-gray;

  p{
    padding: 15px;  
  }

  img{
    padding: 35px;  
    height: 100px;
    width: auto;
    float:right;
  }
}

.content-page__ka{
    p{
    padding: 0px 15px;  
  }
}
.mission-map{
  max-width:800px;
  height:auto;
  padding:20px 0px;
  .center;
  .mission-map__label{
    text-align: center;
    font-style: italic;
  }
}
.round-border-rural{
  .round-border;
  .center;
  background: url(/static/images/deployment.jpg);
  background-size: 360px;
  background-position: -60px -0px;
}

.round-border-points{
  .round-border;
  .center;
  background: url(/static/images/ka-lite-screenshot-v0.10.0.png);
  background-size: 390px;
  background-position: 3px 2px;
}

.round-border-manual{
  .round-border;
  .center;
  background: url(/static/images/landing-page/vid-down-cropped.png);
  background-size: 300px;
  background-position: -11px -5px;
}

.round-border {
  border:3px solid rgb(24,33,54);
  background-color:black;
  .border-radius(25px);
  width: 150px;
  height: 150px; 
  /* width and height can be anything, as long as they're equal */
}

// Footer (only visible on the landing page)
// --------------------------------------------------

.footer{
  background-color: @footer-color;
  height: 100%;
}

.footer__first-part{
  padding: 20px 0px;
}

.footer__second-part{
  padding: 20px 0px;
  ul{
    float:right;
  }
}