//
// Variables
// --------------------------------------------------

// Body values
// --------------------------------------------------

@container-max-width:1100px;

// Fonts
// --------------------------------------------------

@heading-font:'Helvetica Neue', Helvetica, Arial, sans-serif;
@body-font:14px Helvetica;

// Colors
// --------------------------------------------------

@dark-blue:#004B66;

@dark-green: rgb(198, 209, 173);
@light-green: rgb(225,233,203);
@darkest-green: rgb(115,136,112);
@lightest-green:rgb(145,202,127);
@flashy-green:#56c034;
@light-flashy-green:#6FE04B;

@black:black;
@white:rgb(255, 255, 255);
@light-gray:#E7E7E7;
@dark-gray:#b2b2b2;
@darkest-gray:rgb(80,80,80);

@pinkish: rgb(255, 239, 239);

// Buttons
// --------------------------------------------------

// Normal
@button-background:@lightest-green;
@button-background-hover: @flashy-green;
@button-font-color: @white;

// Popover for glossary
@button-popover-background:@light-gray;
@button-popover-background-hover:@flashy-green;
@button-popover-font-color:@black;
@button-popover-font-color-hover:@white;

@button-popover-border:2px @dark-gray solid;
@button-popover-border-hover:2px @flashy-green solid;

// Landing page
// --------------------------------------------------

@quote-color:@white;
@footer-color:@light-gray;

// Control panel
// --------------------------------------------------
@demo-data-background: @pinkish;