<!--This is where the card title is-->
<div class="row card-title">
    <div class="col-xs-9">
        <h1>Resume</h1>
    </div>
    <div class="col-xs-3">
        <h1>
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> 
        </h1>
    </div>
</div>

<!--Where the video thumbnail and description go-->
<div id="content-resume-thumbnail">
    <h2>Algorithms {{ lesson_title }}</h2>
        <div class="row">
            <img src="/../static/images/video.png" alt="video" />
        </div>
    
        <div class="row">
            <h3>Description:</h3>
        </div>
        
        <div class="row">
            <p>{{ lesson_description }}</p>        
        </div>
</div>