<div id="content-explore">
	<div class="card-top">
		<h1 class="card-title">Explore</h1>
		<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
	</div>
	<div id="content-explore-lessons"></div>
	<h3><a href="">See Interest Map...</a></h3>
</div>