<<<<<<< HEAD
<div id="content-explore">
	<div class="card-top">
		<h1 class="card-title">Explore</h1>
		<span class="glyphicon glyphicon-road" aria-hidden="true"></span>
	</div>
	<div id="content-explore-topics"></div>
	<h3><a href="">See Interest Map...</a></h3>
</div>
=======
<div class="card-top">
    <h1 class="card-title">Explore</h1>
    <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
</div>
<div id="content-explore-topics"></div>
<h3><a href="">See Interest Map...</a></h3>
>>>>>>> 82ecd09c6975552322328c960283866be8916697
