<div class="row" id="content-nextsteps-lesson">
	<div class="col-xs-2">
        {{video_thumbnail}}
    </div>
    
	<div class="col-xs-8">
        <h5>{{ interest_topic }}:</h5>
		<p>{{ lesson_title }}</p>
    </div>

    <div class="col-xs-2">
        <p>Series</p>
		<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </div>
</div>