<div id="content-explore-topic">
	<h5>Based on your interest in {{ interest_topic }}</h5>
	<span class="inline">
		<h2>Physics {{ lesson_title }}</h2>
	</span>
	<span class="inline">
		<h4 class="no-margin">Description</h4>
		<p>{{ lesson_description }}</p>
	</span>
</div>