
<div class="row" id="content-nextsteps-lesson">
	<div class="col-xs-3">
      <center><h1 class="ns_thumb glyphicon glyphicon-expand"></h1></center>
      <!-- Just for now!
      <img src="{{video_thumbnail}}" class="img-responsive">
      -->
    </div>
    
	<div class="col-xs-6">
        <h3>{{ interest_topic }}:</h3>
		<p>{{ lesson_title }}</p>
    </div>

    <div class="col-xs-3">
        <h4>Series</h4>
		<span class="ns_series_arrow glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </div>
<hr class="module_divider" />
</div>
