<div class="row card-title">
    <div class="col-xs-9">
        <h1>Next Steps</h1>
    </div>
    <div class="col-xs-3">
        <h1>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </h1>
    </div>
</div>

<div id="content-nextsteps-lessons"></div>

<div class="row">
    <h3><a href="">See All...</a></h3>
</div>