<!--This is where the title to the card goes-->
<div class="row card-title">
    <div class="col-xs-9">
        <h1>Next Steps</h1>
    </div>
    <div class="col-xs-3">
        <h1>
            <!--The icon to checkmark-->
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </h1>
    </div>
</div>

<!--Where all the 'lessons' are being injected-->
<div id="content-nextsteps-lessons"></div>

<!--Link to all of the topics the student has started-->
<div class="row">
    <h3><a href="">See All...</a></h3>
</div>