<div id="content-nextsteps">
	<div class="card-top">
		<h1 class="card-title">Next Steps</h1>
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	</div>
	<div id="content-nextsteps-lessons"></div>
	<h3><a href="">See All...</a></h3>
</div>