<div id="content-resume">
    <div class="card-top">
        <h1 class="card-title">Resume</h1>
        <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
    </div>
    <div id="card-bottom">
        <h2>Algorithms {{ lesson_title }}</h2>
        <img src="/static/images/distributed/video.png" alt="video" />
        <h3>Description:</h3>
        <p>{{ lesson_description }}</p>
    </div>
</div>