<div class="container" id="content-rec-wrapper">
    <div class="row">
        <div class="col-md-4" id="resume">
        </div>
        
        <div class="col-md-4" id="nextsteps">
        </div>
        
        <div class="col-md-4" id="explore">
        </div>

    </div>
</div>