<div class="container" id="content-rec-wrapper">
    <div class="row">
        <div class="col-md-4" id="resume">
            <p>Testing, testing.</p>
        </div>
        
        <div class="col-md-4" id="nextsteps">
            <p>1,2,3</p>
        </div>
        
        <div class="col-md-4" id="explore">
            <p>Sweet</p>
        </div>

    </div>
</div>