<div class="card">
  <!--This is where the card title is-->
  <div class="row card-title">
      <div class="col-xs-9">
          <h1>Resume</h1>
      </div>
      <div class="col-xs-3">
      <h1 class="glyphicon glyphicon-play-circle" aria-hidden="true"></h1>
      </div>
      <hr class="module_divider"/>
  </div>

  <!--Where the video thumbnail and description go-->
  <div id="content-resume-thumbnail">
          <div class="row">
            <center>
              <div class="col-xs-12"><h3>Algorithms {{ lesson_title }}</h3></div>
            </center>
              <div class="col-xs-12">
                <img class="img-responsive"src="/static/images/distributed/video.png" alt="video" />
              </div>

          </div>

          <div class="row">
            <div class="col-xs-12"><h3>Description:</h3></div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <p>{{ lesson_description }}</p>
            </div>
          </div>
  </div>
</div>
