.device-form, #pw_error {
    display: none;
}

.user-form, .device-config.row {
    margin-bottom: 30px;
}

.user-config, .device-config {
    text-align: right;
}

#pw_error {
    text-align: left;
    color: red;
}

input {
    display: inline-block;
}