.store-item, .store-purchased-item {
    background-color: #EEE;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
}

.store-item .store-item-image {
    width: 20%;
    max-width: 160px;
    max-height: 110px;
    float: left;
}

.store-item {
    height: 130px;
    width: 280px;
    position: relative;
}

.store-item-purchase-button {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 200px;
}

.store-purchased-item {
    width: 120px;
    height: 140px;
}

.store-purchased-item .store-item-image {
    max-width: 100px;
    max-height: 80px;
    /*float: left;*/
}

.store-item-metadata {
    width: 75%;
    float: left;
    padding-left: 3%;
}

.store-item-title {
    font-weight: bold;
    font-size: 1.1em;
}

.unit-header {
    color: grey;
}

