{% extends "control_panel/base.html" %}
{% load i18n %}

{% block title %}Sharing Networks with recent data uploads{% endblock title %}

{% block control_panel_content %}
    <div id="zone_container">
        
        <div class="sync_sessions">
            <h2>Most active sharing networks and devices (last {{ days }} days)</h2>
            <table class="simple-table">
                <tr>
                    <th width="250px">Sharing Network Name</th>
                    <th width="200px">Last upload date</th>
                    <th width="100px"># upload sessions</th>
                    <th width="100px"># models (total)</th>
                    <th width="350px">Device info</th>
                </tr>
                {% for id, zone in zones.iteritems %}
                    <tr{% if zone.device.is_demo_device %} class="demo-device"{% endif %}>
                        <td>
                            <a target="_blank" href="{% url zone_management zone_id=zone.id, org_id=zone.organization.id %}">
                                {{ zone.name }}
                            </a>
                        </td>
                        <td>{{ zone.last_synced }}</td>
                        <td>{{ zone.nsessions }}</td>
                        <td>{{ zone.nuploaded }}</td>
                        <td>
                            <li>Device:
                                <a target="_blank" href="{% url device_management zone_id=zone.id device_id=zone.device.id org_id=zone.organization.id %}">
                                    {{ zone.device.name }} / {{ zone.device.version }}
                                </a>
                            </li>
                            <li>OS: {{ zone.device.os }}</li>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div><!-- zone_container -->
{% endblock control_panel_content %}
