{% extends "control_panel/base.html" %}
{% load i18n %}

{% block title %}Sharing Networks with recent data uploads{% endblock title %}

{% block headcss %}{{ block.super }}
    <style>
        .block {
            margin-bottom: 50px;
        }
        .title {
            margin-bottom: 25px;
            border-bottom: 1px solid black
        }
        h2 {
            border-bottom: 1px dotted grey;
            padding-bottom: 10px;
        }
    </style>
{% endblock headcss %}

{% block content %}
    <div class="title">
        <h1>Download logs over the past {{ ndays }} day(s)</h1>
    </div>


    <div class="block">
        <h2>Videos</h2>

        <h3>IP Addresses</h3>
        {{ videos.ips }}

        <h3>Dates</h3>
        {{ videos.dates }}

        <h3>Languages</h3>
        {{ videos.lang_codes }}
    </div>

    <div class="block">
        <h2>Language Packs</h2>

        <h3>IP Addresses</h3>
        {{ language_packs.ips }}

        <h3>Dates</h3>
        {{ language_packs.dates }}

        <h3>Languages</h3>
        {{ language_packs.lang_codes }}

        <h3>Versions</h3>
        {{ language_packs.versions }}
    </div>

    <div class="block">
        <h2>Subtitles</h2>

        <h3>IP Addresses</h3>
        {{ subtitles.ips }}

        <h3>Dates</h3>
        {{ subtitles.dates }}

        <h3>Languages</h3>
        {{ subtitles.lang_codes }}
    </div>
{% endblock content %}
