<div type="text/css" id="k-local-css"></div>
<button id="save_color_palette">{{_ "SAVE" }}</button>
<input type="color" id="my_background" value="#C4D7E3">
<input type="color" id="my_accent" value="#5AA685">
<input type="color" id="my_action" value="#FF0076">
<input type="color" id="my_headline" value="#3A7AA2">
<input type="color" id="my_bodytext" value="#000000">