li.autocomplete {
    font-weight: bold;
    line-height: 35px;
    padding-left: 35px;
    margin: 3px 0px 3px 0px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px 25px;
}
li.exercise {
    background-image:url(/static/images/type-exercise.png);
}
li.topic {
    background-image:url(/static/images/type-topic.png);
}
li.video {
    background-image:url(/static/images/type-video.png);
}
