.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.vertical-shadow {
  border: 1px solid #cccccc;
  border-bottom: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 3px #cccccc;
  -moz-box-shadow: 0 1px 3px #cccccc;
  box-shadow: 0 1px 3px #cccccc;
}
/* links that wrap divs and are big buttons */
a.big-button:link,
a.big-button:visited {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
a.big-button:focus > div,
a.big-button:hover > div,
a.big-button:active > div {
  -webkit-box-shadow: 0px 0px 4px 0px #aaaaaa;
  -moz-box-shadow: 0px 0px 4px 0px #aaaaaa;
  box-shadow: 0px 0px 4px 0px #aaaaaa;
}
/*@import "/shared-css/skillbar.less";*/
.dropdown-toggle {
  cursor: pointer;
  border-color: transparent;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
}
.dropdown.open .dropdown-toggle {
  color: #ffffff;
  background-color: #89b908;
  border-color: #76a005;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.right-arrow {
  top: 50%;
  right: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid #444444;
  position: absolute;
  right: 6px;
  margin-top: -3px;
}
.caret {
  bottom: 0;
  left: 50%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #444444;
  display: inline-block;
  margin-left: 2px;
  margin-bottom: 2px;
}
.dropdown-toggle:hover .caret,
.open.dropdown .caret {
  bottom: 0;
  left: 50%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffffff;
}
.dropdown.open > .dropdown-menu {
  display: block;
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  float: left;
  display: none;
  list-style: none;
  background-color: #ffffff;
  border-color: #94a170;
  padding: 3px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 24px;
  border: 1px solid #94a170;
  border-bottom: 1px solid #999;
  -webkit-box-shadow: 0 5px 8px #444444;
  -moz-box-shadow: 0 5px 8px #444444;
  box-shadow: 0 5px 8px #444444;
}
.dropdown-menu li {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
}
.dropdown-menu li > a {
  white-space: nowrap;
  display: block;
  padding: 0px 8px;
}
.dropdown-menu > li {
  color: #444444;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-transform: translate3d(0, 0, 0);
}
.dropdown-menu > li > a {
  color: #444444;
  position: relative;
}
.dropdown-menu > li > a:link:hover,
.dropdown-menu > li > a:visited:hover,
.dropdown-menu > li > a:link:focus,
.dropdown-menu > li > a:visited:focus {
  text-decoration: none;
  color: #444444;
}
.dropdown-menu.child-active > li.hover-active,
.dropdown-menu.none-active > li:hover,
.dropdown-menu.no-submenus > li:hover {
  text-decoration: none;
  background-color: #89b908;
  border-top: 1px solid #76a005;
  border-bottom: 1px solid #76a005;
  -webkit-transform: translate3d(0, 0, 0);
}
.dropdown-menu.child-active > li.hover-active > a,
.dropdown-menu.none-active > li:hover > a,
.dropdown-menu.no-submenus > li:hover > a,
.dropdown-menu.child-active > li.hover-active > label,
.dropdown-menu.none-active > li:hover > label,
.dropdown-menu.no-submenus > li:hover > label {
  text-shadow: 0 -1px 0 #76a005;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  -webkit-transform: translatey(-1px);
}
.dropdown-menu.child-active > li.hover-active > div.right-arrow,
.dropdown-menu.none-active > li:hover > div.right-arrow,
.dropdown-menu.no-submenus > li:hover > div.right-arrow {
  top: 50%;
  right: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid #ffffff;
  position: absolute;
  right: 6px;
}
.dropdown-menu > li.has-submenu {
  cursor: default;
}
.dropdown-menu > li.is-subheader,
.dropdown-menu > li.is-subheader:hover,
.dropdown-menu > li.is-subheader.hover-active {
  cursor: default;
  background-color: transparent;
  border-bottom: 1px solid transparent;
}
.dropdown-menu > li.is-subheader > a,
.dropdown-menu > li.is-subheader:hover > a,
.dropdown-menu > li.is-subheader.hover-active > a {
  color: #777777;
  text-transform: uppercase;
  font-weight: inherit;
  bottom: 0px;
  text-shadow: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 9px;
  font-weight: normal;
  line-height: 17px;
  -webkit-transform: translatey(0px);
}
.dropdown-menu > li.hover-active > ul {
  display: block;
}
.dropdown-menu > li.has-divider {
  border-top: solid 1px #94a170;
}
/*@import "/shared-css/buttons.less";*/
/*@import "/shared-css/bootstrap-alerts.less";*/
/*@import "/shared-css/bootstrap-close.less";*/
/*@import "/shared-css/buttons.less";*/
/*@import "/shared-css/font-awesome.less";*/
/*@import "/shared-css/large-search-bar.less";*/
