/* KA Lite style */
body {
  background: url(/static/images/light-page-bg.png) repeat-x;
}
/* Header */
.header-logo {
  padding-top: 10px;
}
.horizontal-menu {
  padding-top: 20px;
}
.horizontal-menu li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
/* Content */
.content-box {
  background-color: #ffffff;
  background-image: none;
  padding: 20px;
  border-top-color: #c6d1ad;
  border-top-style: solid;
  border-top-width: 1px;
}
.box {
  background-color: #dae4cb;
  text-align: center;
  width: 260px;
}
.box img {
  width: 60%;
  height: 60%;
  padding: 20px;
}
