div#content {
    width: 100%;
}
div#selection-bar {
    width:100%;
}

div#facility {
    float: left;
}

div.selection {
    float:left;
    padding: 10px;
}

div#displaygrid {
    float: left;
    width: 100%;
    padding: 10px;
}

div#displaygrid > div.users {
    float: left;
    width:10%;
}

div#displaygrid > div.userstatus {
    float: left;
    width:90%;
    overflow: auto;
}

div.users > table {
    width: 100%;
}


div#displaygrid > table, th, td {
    border: 1px solid black;
    padding: 2px;
}

td.status {
    height: 30px;
}

th.username {
    height: 30px;
    max-height: 30px;
    border: 1px solid black;
    padding: 2px;
    white-space: nowrap;
}

th.headrow {
    width: 100px;
    text-transform: capitalize;
    font-weight: bold;
}

th.headrowuser {
    text-transform: capitalize;
    font-weight: bold;
    border-right-style:none;
}

td.complete {
    background-color: green;
}

td.partial {
    background-color: yellow;
}

td.struggle {
    background-color: red;
}

td.none {
    background-color: #EEEEEE;
}