ul.dynatree-container li, .ui-widget-content {
    background-image: none;
}

.download-actions {
    width: 40%;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    height: 60px;
    padding: 10px;
}

.subtitles-download {
    width: 500px;
}

#download-legend-selected, #download-videos, #delete-videos {
    display: none;
}

#content_tree {
    margin-top: 15px;
}

#cancel-download {
    display: none;
    margin-top: 10px;
}

#download-videos {
    font-weight: bold;
    padding: 4px 10px 5px 10px;
    margin-bottom: 5px;
    color: #52A852;
}

#delete-videos {
    color: #AC4343;
    padding: 0 10px 0 10px;
}

#retry-video-download, #retry-subtitle-download {
    color: red;
    padding: 0 10px 0 10px;
    display: none;
    margin-top: 15px;
}
#help-info, #download-videos {
    display:none;
}
.progress-waiting {
    padding: 5px 0px 0px 0px;
    display: none;
}