{% extends base_template %}
{% load i18n %}
{% load staticfiles %}

{% block update_active %}active{% endblock update_active %}

{% block title %}{% trans "Update Videos" %}{% endblock %}

{% block headcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/jquery-ui.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/plugins/ui.dynatree.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/updates.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/update_videos.css' %}" />
{% endblock headcss %}

{% block headjs %}
<script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dynatree.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/updates.js' %}"></script>

<script type="text/javascript">
    var URL_GET_SERVER_INFO = "{% url get_server_info %}";
    var URL_GET_ANNOTATED_TOPIC_TREE = "{% url get_annotated_topic_tree %}";
    var URL_START_VIDEO_DOWNLOADS = "{% url start_video_download %}";
    var URL_DELETE_VIDEOS = "{% url delete_videos %}";
    var URL_CANCEL_VIDEO_DOWNLOADS = "{% url cancel_video_download %}";
</script>

<script type="text/javascript" src="{% static 'js/update_videos.js' %}"></script>

<script type="text/javascript" >
{% if not debug %}
    (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,"script","//www.google-analytics.com/analytics.js","ga");

    ga("create", "UA-36937407-3", {"cookieDomain": "none"});

    ga("set", "dimension1", "{% if registered %}Registered{% else %}Unregistered{% endif %}");
    ga("set", "dimension2", "{% if zone_id %}{{ zone_id }}{% endif %}");
    ga("set", "dimension3", "{{ device_id }}");
    ga('set', 'metric1', {{ video_count }});

    ga("send", "pageview");
{% endif %}

    function ga_track() {
        if (_.isFunction(window.ga)) {
            ga.apply(this, arguments);
        }
    }
</script>
{% endblock headjs %}

{% block content %}

<div class="download-actions vertical-shadow">
    <h2 id="download-legend-unselected" class="button_text">
        {% trans "Please select videos to download (below)" %}
    </h2>

    <div class="client-online-only">
        <div id="help-info">
            <a id="download-help-link" target="_new" href="http://{{ central_server_host }}/faq/installation/bittorrent/">
                {% trans "Q: How do I bulk-download videos?" %}
            </a>
        </div>
    </div>

    <button id="download-videos" type="button" class="enable-when-server-online" disabled>{% trans "Download " %}<span class="new-video-count">0</span>{% trans " new selected videos" %}</button>

    <button id="delete-videos" type="button">{% trans "Delete " %}<span class="old-video-count">0</span>{% trans " selected videos" %}</button>
</div>

<div class="download-actions vertical-shadow">
    <h2>{% trans "Currently Available Language Packs" %}</h2>
    <a href="{% url update_languages %}">{% trans "Install more languages" %}</a>
</div>

<div style="clear: both;"></div>

<div>
    <!-- note: id must match the "updates" app process name -->
    <div id="videodownload-progressbar">
        {% include "updates/progress-bar.html" %}
        <button id="retry-video-download" type="button">{% trans "Video download error... click to retry" %}</button>
    </div>

    <div>
        <button id="cancel-download" type="button">{% trans "Cancel Video Downloads" %}</button>
    </div>
</div>
<div style="clear: both;"></div>

<div id="content_tree"><br/><h2>{% trans " Loading topic tree... Please wait!" %}</h2></div>
{% endblock content %}
