{% extends "updates/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Update Languages" %}{{ block.super }}{% endblock %}

{% block headcss %}{{ block.super }}
    <style>
        .download-actions {
            width: 400px;
            float: left;
            margin-right: 10px;
            margin-top: 5px;
            height: 60px;
            padding: 10px;
        }

        .subtitles-download {
            width: 500px;
        }

        #download-legend-selected, #download-videos, #delete-videos {
            display: none;
        }

        #content_tree {
            margin-top: 15px;
        }

        #cancel-download {
            display: none;
            margin-top: 10px;
        }

        #download-videos {
            font-weight: bold;
            padding: 4px 10px 5px 10px;
            margin-bottom: 5px;
            color: #52A852;
        }

        #delete-videos {
            color: #AC4343;
            padding: 0 10px 0 10px;
        }

        #retry-video-download, #retry-subtitle-download {
            color: red;
            padding: 0 10px 0 10px;
            display: none;
            margin-top: 15px;
        }
        #help-info, #download-videos {
            display:none;
        }
        .progress-waiting {
            padding: 5px 0px 0px 0px;
            display: none;
        }
    </style>
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    <script type="text/javascript">
        var start_languagepackdownload_url = "{% url start_languagepack_download %}";
        var installed_languages_url = "{% url installed_language_packs %}"
        var defaultLanguage = "{{ default_language }}";
    </script>
    <script type="text/javascript" src="{% static 'js/update_languages.js' %}"></script>
{% endblock headjs %}

{% block content %}
  <h2>{% trans "Installed Languages" %}</h2>
    <div class="installed-languages">
    </div>

    <div class="download-actions subtitles-download vertical-shadow">
        <h2 class="button_text">{% trans "Download or update Languages" %}</h2>
    <!-- Some logic here to Show/Disable Buttons comparing data from show_language_packs to installed_languages
        Assume we are getting something like:
        [{"en": "percent_complete": 100, etc.}, {"fr": "percent_complete": 80, etc.}, etc.]
    -->
        <span class= "button_style">
            <select id="language-packs">
              <option>--</option>
            </select>
        </span>

        <button id="download-subtitles" type="button" disabled>{% trans "Get Language" %}</button>

    </div>
{% endblock content %}
