{% extends "updates/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Update Languages" %}{{ block.super }}{% endblock %}

{% block headcss %}
    <style>
        .download-actions {
            width: 400px;
            float: left;
            margin-right: 10px;
            margin-top: 5px;
            height: 60px;
            padding: 10px;
        }

        .subtitles-download {
            width: 500px;
        }

        #download-legend-selected, #download-videos, #delete-videos {
            display: none;
        }

        #content_tree {
            margin-top: 15px;
        }

        #cancel-download {
            display: none;
            margin-top: 10px;
        }

        #download-videos {
            font-weight: bold;
            padding: 4px 10px 5px 10px;
            margin-bottom: 5px;
            color: #52A852;
        }

        #delete-videos {
            color: #AC4343;
            padding: 0 10px 0 10px;
        }

        #retry-video-download, #retry-subtitle-download {
            color: red;
            padding: 0 10px 0 10px;
            display: none;
            margin-top: 15px;
        }
        #help-info, #download-videos {
            display:none;
        }
        .progress-waiting {
            padding: 5px 0px 0px 0px;
            display: none;
        }
    </style>
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/update_languages.js' %}"></script>
    <script type="text/javascript">
     $(setup("{% url get_server_info %}", "{{ central_server_host }}", "{{ default_language }}"))
    </script>
{% endblock headjs %}

{% block content %}
    <div class="installed-languages">
        <h2>{% trans "Installed Languages" %}</h2>
        {% if installed_languages %}
            {% for lang in installed_languages %}
                {{lang.name}} - {{lang.percent_translated}} {% trans "Complete" %}
            {% endfor %}
        {% else %}
            <p>{% trans "You currently have no languages installed" %}</p>
        {% endif %}

    </div>

    <div class="download-actions subtitles-download vertical-shadow">
        <h2 class="button_text">{% trans "Download or update Languages" %}</h2>
    <!-- Some logic here to Show/Disable Buttons comparing data from show_language_packs to installed_languages
        Assume we are getting something like:
        [{"en": "percent_complete": 100, etc.}, {"fr": "percent_complete": 80, etc.}, etc.]
    -->
        <span class= "button_style">
            <select id="language-packs">
            </select>
        </span>

        <button class="download-subtitles" type="button" disabled>{% trans "Get Language" %}</button>
        <button class="download-subtitles" new_only=true type="button" disabled>{% trans "Get Missing Subtitles Only" %}</button>

    </div>
{% endblock content %}
