{% extends "updates/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Update Subtitles" %}{% endblock %}

{% block headcss %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/jquery-ui.min.css' %}" />
    <style>
        .download-actions {
            width: 400px;
            float: left;
            margin-right: 10px;
            margin-top: 5px;
            height: 60px;
            padding: 10px;
        }

        .subtitles-download {
            width: 500px;
        }

        #download-legend-selected, #download-videos, #delete-videos {
            display: none;
        }

        #content_tree {
            margin-top: 15px;
        }

        #cancel-download {
            display: none;
            margin-top: 10px;
        }

        #download-videos {
            font-weight: bold;
            padding: 4px 10px 5px 10px;
            margin-bottom: 5px;
            color: #52A852;
        }

        #delete-videos {
            color: #AC4343;
            padding: 0 10px 0 10px;
        }

        #retry-video-download, #retry-subtitle-download {
            color: red;
            padding: 0 10px 0 10px;
            display: none;
            margin-top: 15px;
        }
        #help-info, #download-videos {
            display:none;
        }
        .progress-waiting {
            padding: 5px 0px 0px 0px;
            display: none;
        }
    </style>
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/update_languages.js' %}"></script>
    <script type="text/javascript">
     $(setup("{% url get_server_info %}", "{{ default_language }}"))
    </script>
{% endblock headjs %}

{% block content %}
    <div class="installed-languages">
        <h2>{% trans "Installed Languages" %}</h2>
        {% if installed_languages %}
            {% for lang in installed_languages %}
                {{lang.name}} - {{lang.percent_translated}} {% trans "Complete" %}
            {% endfor %}
        {% else %}
            <p>{% trans "You currently have no languages installed" %}</p>
        {% endif %}

    </div>

    <div class="download-actions subtitles-download vertical-shadow">
        <h2 class="button_text">{% trans "Download or update Languages" %}</h2>
    <!-- Some logic here to Show/Disable Buttons comparing data from show_language_packs to installed_languages
        Assume we are getting something like:
        [{"en": "percent_complete": 100, etc.}, {"fr": "percent_complete": 80, etc.}, etc.]
    -->
        <span class= "button_style">
            <select id="language-packs">
            </select>
        </span>

        <button class="download-subtitles" type="button" disabled>{% trans "Get Language" %}</button>
        <button class="download-subtitles" new_only=true type="button" disabled>{% trans "Get Missing Subtitles Only" %}</button>

    </div>
    <!--
    <div class="download-actions subtitles-download vertical-shadow">
        <h2 class="button_text">{% trans "Download/update subtitles for existing videos" %}</h2>
        <span class= "button_style">
            <select id="language">
                {% if languages %}
                    {% for language in languages %}
                        <option value="{{ language.id }}" {% ifequal language.id default_language %} selected {% endifequal %}>{{ language.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </span>

        <button class="download-subtitles" type="button" disabled>{% trans "Get/Update All Subtitles" %}</button>
        <button class="download-subtitles" new_only=true type="button" disabled>{% trans "Get Missing Subtitles Only" %}</button>

    </div>

    -->


    <div>
        <!-- note: id must match the "updates" app process name -->
        <div id="subtitledownload-progressbar">
            {% include "updates/progress-bar.html" %}
            {# <button id="retry-subtitle-download" type="button">{% trans "Subtitle download error... click to retry" %}</button> #}
        </div>

        <div>
            <button id="cancel-download" type="button">{% trans "Cancel All Downloads" %}</button>
        </div>
    </div>

    <div style="clear: both;"></div>
    <script src="http://{{ central_server_host }}/api/language_packs/available/?callback=show_language_packs"></script>
{% endblock content %}
