<div class="info-box hint-box">
    <span class="info-box-header">{{_ "Need help?" }}</span>
    <div id="get-hint-button-container">
        <input id="hint" type="button" class="simple-button orange full-width" value="{{_ "I'd like a hint" }}" name="hint"/>
    </div>
    <div class="hint-reminder">{{_ "(will mark current answer as incorrect)" }}</div>
</div>