<div id="streakbar" class="info-box" title="{{_ "Your progress streak bar for this exercise" }}">
    <div class="streak">
        <div class="progress-bar"><div id="totalpoints"></div></div>
    </div>
</div>