<div id="streakbar" class="motivational-feature streakbar info-box" title="{{_ "Your progress streak bar for this exercise" }}">
    <div class="streak">
        <div class="progress-bar">
            <span class="progress-text"></span>
            <div class="progress-points"></div>
        </div>
    </div>
    <div class="attempts"></div>
</div>