<h2>
    <span>{{ title }}</span>
</h2>
<span>{{_ "Well done - you have finished the quiz: " }}{{ title }}</span>

<button class="btn success" id="stop-quiz">{{_ "Click here to carry on learning!"}}</button>