<h2>
    <span>{{ title }}</span>
</h2>
<span>{{_ "Please click the button below when you are ready to begin the test." }}</span>

<button class="btn success" id="start-test">{{_ "Begin test" }}{{ title }}</button>