<h2>
    <span>{{ title }}</span>
</h2>
<span>{{_ "Well done - you have finished the test: " }}{{ title }}</span>

<button class="btn success" class="stop-test">{{_ "Click here to carry on learning!" }}</button>