body {
    min-height: 500px;
}

h2 {
    margin-top: 15px;
}
table {
    margin-bottom: 25px;
}
ul, li {
    list-style: none;
    margin-left: 0px;
}

.facility, .device {
    width:100%;
}

#zone_container{
    width: 100%;
}
.titlebar__title {
    padding: 10px 0px 15px 0px;
    border-bottom: 1px #E7E7E7 solid;
    margin-bottom: 5px;
}
.titlebar__title li{
    display: inline;
    font-size: 20px;
    padding-top: 5px;
}

.titlebar__buttons{
    float: right;
    margin: 0;
}

.selectable-table {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    draggable: false;
}

.selectable-table tbody tr {
    cursor: pointer;
}

.selectable-table tbody tr.selected {
    background: #C4CAF5;
}

.btn-action {
    color: #fff;
    background-color: #47a447;
    padding: 5px 8px;
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

.btn-action:hover {
    background-color: #7CC97C;
}

.btn-action:disabled {
    background-color: rgba(163, 163, 163, 0.54);
    cursor: not-allowed;
}

.date {
    display: inline !important;
    margin: 5px;
    text-align: center;
    width: 180px;
}

.no-data {
    padding-left: 50px;
    font-weight: bold;
    color: #f00;
}
.definition {
    font-style: italic;
}

.hidden {
    display: none;
}
.title-div{
    margin-top: 20px;
}
.title {
    font-size: 16pt;
}
.icon-medium {
    min-width: 13px;
    min-height: 13px;
}
.icon-pencil, .icon-trash, .icon-plus-sign {
    padding-left: 10px;
}
.export_csv_div {
    float: right;
    margin-top: 30px;
    position: relative;
    display: none;
    background-color: #ddd;
    padding: 5px;
}

.export_csv_input {
    margin-left: 2.5em;
    display: inline !important;
    margin: 5px;
}

.top_export_button {
    float: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #91ca7f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #ffffff;
    border:0px;
    vertical-align: middle;
    min-width: 80px;
}

.top_export_button:hover {
    background-color:#C0C0C0;
}


.pagination a, .pagination span {
    float: left;
    color: #333;
    font-size:14px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #AAA;
    min-width: 14px;
    padding: 0 7px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}

.pagination a:hover {
    text-decoration: none;
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* IE10+ */
    background: linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* W3C */
}

.pagination .current {
    background: #bbbbbb; /* Old browsers */
    background: -moz-linear-gradient(top, #bbbbbb 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbbbbb), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* W3C */
    cursor: default;
}

select.movegrouplist {
    margin-bottom: 0px;
}

dl {
    margin-bottom:20px;
    }

dt,dd {
    line-height:20px;
    }

dt {
    font-weight:bold;
    }

dd {
    margin-left:10px;
    }

.dl-horizontal {
    *zoom:1;
    }

.dl-horizontal:before,.dl-horizontal:after {
    display:table;
    line-height:0;
    content:"";
    }

.dl-horizontal:after {
    clear:both;
    }

.dl-horizontal dt {
    float:left;
    width:160px;
    overflow:hidden;
    clear:left;
    text-align:right;
    text-overflow:ellipsis;
    white-space:nowrap;
    }

.dl-horizontal dd {
    margin-left:180px;
}