{% extends base_template %}
{% load i18n %}
{% load staticfiles %}

{% block practice_active %}active{% endblock practice_active %}

{% block headcss %}{{ block.super }}
    <link rel='stylesheet' type='text/css' href='{% static "css/distributed/tipsy.css" %}' />
    <link rel='stylesheet' type='text/css' href='{% static "css/knowledgemap/knowledgemap.css" %}' />
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    <script src="{% static 'js/distributed/jquery.tipsy.js' %}"></script>
    <script src="{% static 'js/d3.v3.min.js' %}"></script>
    <script type="text/javascript">
        var ALL_TOPICS_URL = '{{ data_url }}/topics.json';
    </script>
    <script src="{% static 'js/knowledgemap/d3.knowledgemap.js' %}"></script>
{% endblock headjs %}

{% block content %}
  <img id="map-explanation" src="{% static 'images/knowledgemap/map_explain_img.png' %}" 
  style="width:100px; top:70px; left:10px; position:absolute">
  <h4 style="top:60px; left:37px; position:absolute">{% trans "not-started" %}</h4>
  <h4 style="top:90px; left:37px; position:absolute">{% trans "in-progress" %}</h4>
  <h4 style="top:120px; left:37px; position:absolute">{% trans "completed" %}</h4>
  <h8 style="top:165px; left:35px; position:absolute; color:white">{% trans "partially" %}</h8>
  <h8 style="top:180px; left:32px; position:absolute; color:white">{% trans "unfolded" %}</h8>
  <h8 style="top:220px; left:18px; position:absolute">{% trans "fully unfolded" %}</h8>
{% endblock content %}