<h2 class="title-header">
    <div class="title">{{_ "Tests" }}</div>
</h2>
<div class="row span10">
    <table class="table table-hover table-bordered" id="tests">
        <thead>
            <tr>
                <th>{{_ "Test Title" }}</th>
            </tr>
        </thead>
    <tbody id="grade-4-test">
      <tr class="header expand">
        <th>Grade 4 (Click to Expand/Collapse)</th>
      </tr>
    </tbody>
    <tbody id="grade-5-test">
        <tr class="header expand">
          <th>Grade 5 (Click to Expand/Collapse)</th>
        </tr>
      </tbody>
      <tbody id="grade-6-test">
        <tr class="header expand">
          <th>Grade 6 (Click to Expand/Collapse)</th>
        </tr>
      </tbody>
      <tbody id="grade-7-test">
        <tr class="header expand">
          <th>Grade 7 (Click to Expand/Collapse)</th>
        </tr>
      </tbody>
    </table>
</div>
