<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-hover table-bordered" id="tests">
                <thead>
                    <tr>
                        <th>{{_ "Test Title" }}</th>
                        <th>{{_ "Exam Mode Setting" }}</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
