<!-- <div class="sidebar-nav-container">
    <div class="sidebar-navbar"><a href='#' title='Back' class='back-to-parent'><span class='glyphicon glyphicon-chevron-left'></span></a></div>
    <div class="title">{{ title }}</div>
</div>

<div class="clear"></div>
 -->
<ul class="sidebar">

</ul>