<div class="sidebar-tab"></div>

<nav class="sidebar-panel" role="navigation">
    {{!-- TODO: Replace icon with better chevron that looks different from the one in sidebar-tab --}}
    <div class="sidebar-back"><span class="icon icon-arrow-left2"></span></div>
    <div class="sidebar-content"></div>
</nav>

<div class="fade"></div>