<div class="topic-container-header">
	{{#if has_parent }}<a href="#" class="back-to-parent">&larr;&nbsp;Back</a>{{/if}}
</div>
<div class="topic-container-nodes">
	<ul class="topic-container-node-list">

	</ul>
</div>