<form id="coachreport-select-form" class="form-vertical">
    <div class="col-sm-3">
        <div id="facility-select-container" class="form-group">
            {{!-- Insert facility select template here --}}
        </div>
    </div>
    <div class="col-sm-3">
        <div id="group-select-container" class="form-group">
            {{!-- Insert group select template here --}}
        </div>
    </div>
    <div class="col-sm-3">
        <div id="time-set-container" class="form-group">
            {{!-- Insert group select template here --}}
        </div>
    </div>
</form>
<div id="student_report_container"></div>