{% extends base_template %}
{% load staticfiles %}
{% load i18n %}

{% block control_panel_active %}active{% endblock control_panel_active %}

{% block headcss %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/control_panel/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/control_panel/bootstrap-control-panel.css' %}" />

    <!-- Override bootstrap here to fix up search bar -->
    <style type="text/css">
        input#search {
            font: -webkit-small-control;
            margin: 0em;
        }
        #search-button {
            height: 18px;
        }
        .container {
            max-width: 1030px;
        }
        ul.pagination {
            margin: 0px;
        }
        ul.pagination > .active > a {
            color: gray;
        }
        .manage-nav {
            display: inline-block;
            width: 100%;
            border-bottom: 4px solid #5C8547;
            margin-bottom: 25px;
        }
        .manage-nav ul {
            padding-left: 1%;
        }
        .manage-nav li {
            background-color: #5C8547;
            border-top-left-radius: 5px;
            border-top-right-radius: 17px;
            border-top: 3px solid #5C8547;
            border-right: 3px solid #5C8547;
            border-left: 3px solid #5C8547;
            width: 110px;
            text-align: center;
            font-weight: bold;
            display: inline-block !important;
            margin: 0 2px -4px 0;
        }
        .manage-nav li a {
            color: white;
            padding: 10px !important;
            text-align: center;
        }
        .manage-nav li span {
            line-height: 7.7;
        }
        .manage-nav li a:hover {
            background-color: white !important;
            border-top-left-radius: 5px !important;
            border-top-right-radius: 16px !important;
            color: #5C8547;
            font-weight: bold;
        }
        .manage-nav li img {
            height: 40px;
            width: auto;
            display: block;
            margin: auto;
            margin-bottom: 5px;
        }
        .active-nav {
            color: #405D32 !important;
            background-color: white !important;
            border-top-left-radius: 5px !important;
            border-top-right-radius: 16px !important;
            font-weight: bold;            
        }
        .active {
            background-color: #E9F1E4;
            height: 50px;
        }
        .active-tab {
            background-color: #E9F1E4;
            height: 89px;
        }
        .users {
            background: url("{% static "images/control_panel/users-icon.png" %}") no-repeat;
            background-position: center 7px;
            height: 87px;
        }
        .users:hover {
            background: url("{% static "images/control_panel/users-active-icon.png" %}") no-repeat;
            background-position: center 7px;
            height: 87px;
        }
        .video {
            background: url("{% static "images/control_panel/videos_icon.png" %}") no-repeat;
            background-position: center 7px;
            height: 87px;
        }
        .video:hover {
            background: url("{% static "images/control_panel/videos_active_icon.png" %}") no-repeat;
            background-position: center 7px;
            height: 87px;
        }
        .languages {
            background: url("{% static "images/control_panel/language_icon.png" %}") no-repeat;
            background-position: center 7px;
            height: 87px;
        }
        .languages:hover {
            background: url("{% static "images/control_panel/language_active_icon.png" %}") no-repeat;
            background-position: center 7px;
            height: 87px;
        }
        .facility {
            background: url("{% static "images/control_panel/facility-icon.png" %}") no-repeat;
            background-position: center 7px;
            height: 87px;
        }
        .facility:hover {
            background: url("{% static "images/control_panel/facility-active-icon.png" %}") no-repeat;
            background-position: center 7px;
            height: 87px;
        }
    </style>
{% endblock headcss %}

{% block content %}

{% block manage_nav %}{% endblock manage_nav %}

    {% block titlebar %}
        <div class="titlebar">
            <ul class="titlebar__title">
            {% block titlebar_title %}
                {% comment "Draw the top navigation bar %}{% endcomment %}
                {% if org %}
                <li><a href="{% url 'org_management' %}"> {{ org.name }}</a></li>
                {% endif %}

                <li>
                    {% if org %}&gt;{% endif %}
                    {% if facility or device %}<a href="{% url 'zone_management' zone_id=zone_id %}">{% endif %}
                        {% if is_headless_zone %}
                            {% trans "Local KA Lite Installation" %}
                        {% elif zone %}
                            {{ zone.name|truncatechars:35 }}
                        {% elif not zone %}
                            {% if is_central %}
                            {% trans "New Sharing Network" %}
                            {% else %}
                            Unregistered Device {{ device.name }} - <a class="not-registered-only" href="{% url 'register_public_key' %}">Register Now!</a>
                            {% endif %}
                        {% endif %}
                    {% if facility or device %}</a>
                    {% elif own_device_is_trusted %} 
                    <a class="edit-link" href="{% url 'zone_form' zone_id=zone_id %}">
                        <span class="glyphicon glyphicon-pencil" title="{% trans 'Edit' %}"></span>
                    </a>
                    {% endif %}
                </li>
                <li>

                {% if device %}
                <li>&gt; {% if device.name %}{{ device.name }}{% else %}{{ device.id }}{% endif %}</li>
                {% endif %}

                {% if facility %}
                <li>
                    &gt; {% if group_id %}<a href="{% url 'device_management' zone_id=zone_id facility_id=facility_id %}">{{ facility.name }}</a>
                    {% else %}
                    {{ facility.name }}
                    <a class="edit-link" href="{% url 'facility_form' zone_id=zone_id facility_id=facility.id %}">
                        <span class="glyphicon glyphicon-pencil" title="{% trans 'Edit' %}"></span>
                    </a>
                    {% endif %}
                </li>
                {% endif %}

                {% if group %}
                <li>{% if facility %}&gt; {% endif %}{{ group.name }}</li>

                {% endif %}
            {% endblock titlebar_title %}
                {% comment "Provide upload/download buttons; each button should be an LI" %}{% endcomment %}
                {% comment "Provide upload/download buttons; each button should be an LI" %}{% endcomment %}
                <ul class="titlebar__buttons">
                {% block buttons %}
                {% endblock buttons %}
                </ul>
            </ul>
        </div>
    {% endblock titlebar %}

    {% block control_panel_content %}
    {% endblock control_panel_content %}
{% endblock content %}