{% extends "control_panel/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load include_block %}

{% block title %}{{ zone.name }} - {% trans "Sharing Network Management Console" %} {{ block.super }}{% endblock title %}

{% block users_active %}active{% endblock users_active %}
{% block manage_active %}active{% endblock manage_active %}
{% block facility_active %}facility-active active-tab active-nav{% endblock facility_active %}

{% block headcss %}{{ block.super }}
    {% if clock_set %}
        {% include_block "control_panel/snippets/clock_set.html" "headcss" %}
    {% endif %}
    <style>
        .help-tooltip {
            position: relative;
            top: -5px;
        }
    </style>
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    {% if clock_set %}
        {% include_block "control_panel/snippets/clock_set.html" "headjs" %}
    {% endif %}
    <script type="text/javascript" src="{% static 'js/control_panel/zone_management.js' %}"></script>
{% endblock headjs %}

{% block buttons %}
            {% block upload_button %}
            {% endblock upload_button %}

            {% block download_button %}
                <!--li>
                    <a class="btn btn-success" href="#">{% trans "Sync via USB" %}</a>
                </li-->
            {% endblock download_button %}
            <a href="{% url 'data_export' %}{% if zone_id != "None" %}?zone_id={{ zone_id }}{% endif %}" class="btn btn-success">{% trans "Export Data" %}</a>
{% endblock buttons %}

{% block control_panel_content %}

<div class="container">
    {# Facilities Section #}
    {% include "control_panel/partials/_facility_table.html" %}

    {# Device Section #}
    {% include "control_panel/partials/_device_table.html" %}
</div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if not facilities %}
                <p>{% trans "You currently have no facilities that sync data with the central server." %}</p>
            {% else %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="success">
                                <th>{% trans "Facility Name" %}</th>
                                <th>{% trans "# Users" %}</th>
                                <th>{% trans "# Groups" %}</th>
                                <th>{% trans "Last Usage" %}</th>
                                <th> {% if not request.is_teacher%}{% trans "Delete" %}{% endif %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for id,facility in facilities.items %}
                            <tr facility-id="{{ facility.id }}">
                                <td>
                                    <a class='facility-name' href="{% url 'facility_management' zone_id=zone_id facility_id=facility.id %}">
                                        {{ facility.name }}
                                    </a>
                                </td>
                                <td>{{ facility.num_users }}</td>
                                <td>{{ facility.num_groups }}</td>
                                <td>
                                    {% if not facility.last_time_used %}
                                        {% trans "Never" %}
                                    {% elif facility.last_time_used.last_activity_datetime %}
                                        {{ facility.last_time_used.last_activity_datetime }}
                                    {% else %}
                                        {{ facility.last_time_used.start_datetime|date }} - {{ facility.last_time_used.end_datetime|date }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if not request.is_teacher %}
                                        <a class="facility-delete-link" title="{% trans 'Delete facility' %}" value="{% url 'facility_delete' facility_id=facility.id %}" href="#">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div> <!-- End Facilities -->
    <!-- Begin Devices -->
    <div class="row">
        <div class="col-md-12">
            <h2>{% trans "Devices" %}</br><small>{% trans "A device is a KA Lite installation." %}{% trans "Devices in the same 'sharing network' sync user data with each other." %}</small></h2>
        </div>
        <div class="col-md-12">
            {% if not devices %}
                <p>{% trans "You currently have no devices that sync data with the central server" %}</p>
            {% else %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="success">
                                <th>{% trans "Device name" %}</th>
                                <th>{% trans "# Times Synced" %}</th>
                                <th>{% trans "Last Sync" %}</th>
                                <th>{% trans "Last Usage" %}</th>
                                <th>{% trans "Available Actions" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for id,device in devices.items %}
                            <tr class="{% if not device.is_registered %}warning {% endif %}{% if device.is_demo_device %}active{% endif %}">
                                <td>
                                    {% if device.num_times_synced != None %}<a href="{% url 'device_management' zone_id=zone_id device_id=id %}">{% endif %}
                                        {{ device.name|truncatechars:25 }}
                                    {% if device.is_demo_device %}[Demo data]{% endif %}
                                    {% if device.num_times_synced != None %}</a>{% endif %}
                                </td>
                                <td>
                                    {% if device.num_times_synced != None %}
                                        {{ device.num_times_synced }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td>
                                    {% if device.last_time_synced != None %}
                                        {{ device.last_time_synced }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td>
                                    {% if not device.last_time_used %}
                                        {% trans "Never" %}
                                    {% elif device.last_time_used.completion_timestamp %}
                                        {{ device.last_time_used.completion_timestamp|date }}
                                    {% elif device.last_time_used.last_activity_datetime %}
                                        {{ device.last_time_used.last_activity_datetime }}
                                    {% elif device.last_time_used.start_datetime %}
                                        {{ device.last_time_used.start_datetime|date }} - {{ device.last_time_used.end_datetime|date }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if device.is_own_device %}

                                        {% if device.is_registered %}
                                            <button id="force-sync" class="btn btn-primary">{% trans "Sync Now!" %}</button>
                                            <a href="{% url 'update_software' %}" id="update-link" class=" registered-only">{% trans "Update" %}</a>
                                        {% else %}
                                            <a class="btn btn-success not-registered-only" href="{% url 'register_public_key' %}">{% trans "Register device" %}</a>
                                        {% endif %}

                                        {% if clock_set %}
                                        /
                                        <a onclick="$('#clock_set').show()">set clock</a>
                                        <div id="clock_set" style="display:none">
                                            {% include_block "control_panel/snippets/clock_set.html" "content" %}
                                        </div>
                                    {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div> <!-- End Devices -->
</div> <!-- End container -->
{% endblock control_panel_content %}
