{% extends "control_panel/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load include_block %}

{% block title %}{% if zone.name %}{{ zone.name }} - {% endif %}{% trans "Sharing Network Management Console" %}{% endblock title %}

{% block i18n_do_not_translate %}
    {% block users_active %}active{% endblock users_active %}
    {% block manage_active %}active{% endblock manage_active %}
    {% block facility_active %}active{% endblock facility_active %}
{% endblock i18n_do_not_translate %}

{% block headcss %}{{ block.super }}
    <style>
        .help-tooltip {
            position: relative;
            top: -5px;
        }
    </style>
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    <script type="text/javascript" src="{% static 'js/control_panel/bundles/bundle_zone_management.js' %}"></script>
{% endblock headjs %}

{% block buttons %}
            {% block upload_button %}
            {% endblock upload_button %}

            {% block download_button %}
                <!--li>
                    <a class="btn btn-success" role="button" href="#">{% trans "Sync via USB" %}</a>
                </li-->
            {% endblock download_button %}
            <a href="{% url 'data_export' %}{% if zone_id != "None" %}?zone_id={{ zone_id }}{% endif %}" role="button" class="btn btn-success">{% trans "Export Data" %}</a>
{% endblock buttons %}

{% block control_panel_content %}
    {# Facilities Section #}
    {% include "control_panel/partials/_facility_table.html" %}

    {# Device Section #}
    {% include "control_panel/partials/_device_table.html" %}
{% endblock control_panel_content %}
