div.help {
    margin-top:25px;
}
ul {
    margin-left:20px;
}
.warn {
    font-weight:bold;
    color:#f00;
}
.floatleft {
    float: left;
}
.link-div {
    width: 250px;
    float: left
}
.link {
    width: 120px;
    white-space: nowrap;
}
.link, .desc {
    padding-left: 25px;
}
.description {
    width: 100%;
}
td.title {
    padding-top: 25px;
}

i.icon-chevron-up:before {
    content: "∧";
}

i.icon-chevron-down:before {
    content: "∨";
}
