/* 
  --- kalite color palette ---
  please use these color class in all DOM elements to keep a consistent looking
*/
/*
current color scheme
*/
@k-bg-color: #C4D7E3;
@k-accent-color: #5AA685;
@k-action-color: #FF0076;
@k-headline-color: #3A7AA2;
@k-bodytext-color: black;

@k-error-color: red;
@k-warn-color: orange;

/*
experiment color scheme #1
*/
/*@k-bg-color: red;
@k-accent-color: #8670A1;
@k-action-color: #FF0076;
@k-headline-color: red;
@k-bodytext-color: #3A7AA2;

@k-error-color: red;
@k-warn-color: orange;*/


/*
color classes (use them to assign colors to your DOM elements)
*/
.k-bg-clr {
  background-color: @k-bg-color;
}
.k-bg {
  color: @k-bg-color;
}


.k-acn-clr {
  background-color: @k-accent-color !important;
}
.k-acn {
  color: @k-accent-color !important;
}
.k-acn-hover {
  background-color: @k-accent-color;
}
.k-acn-hover:hover, .k-acn-hover:focus {
  color: @k-accent-color;
}
.k-acn-border {
  border-color: @k-accent-color !important;
}
.k-acn-border-hover:hover {
  border-color: @k-accent-color;
}


.k-act-clr {
  background-color: @k-action-color;
}
.k-act {
  color: @k-action-color;
}


.k-hln-clr {
  background-color: @k-headline-color;
}
.k-hln {
  color: @k-headline-color;
}


.k-byt-clr {
  background-color: @k-bodytext-color;
}
.k-byt {
  color: @k-bodytext-color;
}


/*
corner cases
*/
.nav-tabs li.active a{
  color: @k-accent-color;
}
.nav-tabs li a{
  color: white;
}

.active-nav {
  color: @k-accent-color;
}

.navbar-collapse .ui-state-hover,
.navbar-collapse .ui-widget-content .ui-state-hover,
.navbar-collapse .ui-widget-header .ui-state-hover,
.navbar-collapse .ui-state-focus,
.navbar-collapse .ui-widget-content .ui-state-focus,
.navbar-collapse .ui-widget-header .ui-state-focus {
  background: @k-accent-color;
}

li span.fancytree-selected {
  border-color: @k-action-color;
  background-color: @k-action-color;
}
span.fancytree-expanded {
  border-color: @k-accent-color;
  background-color: @k-accent-color;
}

.btn-success {
    background-color: @k-accent-color !important;
    background-image: none !important;
}
