/*body {
    min-width: 600px;
}*/

/*article {
    padding: 20px;
}*/

/*a:link:focus,
a:hover {
    color: #2F92A5;
}*/

#top-header {
    height: 60px;
    position: relative;
    top: 0px;
}

#top-header #logo {
    position: absolute;
    top: 5px;
    z-index: 50; /*TODO(dylanjbarth): stopgap solution;*/
}

#logo-image-small img {
    height: 35px;
    margin-top: 10px;
    margin-left: 5px;
}

/********** Top Navigation bar ***********/

.top-header-links {
    position: absolute;
    top: 5px;
    right: 10px;
    min-width: 280px;
    height: 50px;
}

.nav-subheader {
    font-family: "MuseoSans500", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-bottom: 0;
    height: 30px;
    color: #fff;
}

.nav-subheader a {
    color: #263500;
    height: 20px;
    display: block;
    line-height: 18px;
}

.nav-subheader a:hover {
    color: #2F92A5;
}

.nav-subheader > a, .nav-subheader > span {
    margin-left: 20px;
    float: right;
}

.nav-subheader a.active:after {
    content: url(/static/images/distributed/nav-selector.gif);
    position: relative;
    display: block;
    left: 50%;
    margin-left: -5px;
    width: 15px;
}

#nav_registerdevice {
    color: darkRed;
}

#nav_addstudent, #nav_addteacher, #nav_admin, #nav_coachreports, #nav_watch, #nav_practice, #nav_signup, #nav_login, #nav_update, #nav_logout, #nav_registerdevice, #nav_tests {
    display: none;
}

/********** End of Top Navigation bar ***********/

/********** "Teacher" Sub-Navigation bar ***********/
.teach-nav {
    width: 100%;
    border-bottom: 4px solid #5C8547;
    margin-bottom: 25px;
}
.teach-nav ul {
    padding-left: 1%;
    margin-bottom: 0;
}
.teach-nav li {
    background-color: #5C8547;
    border-top-left-radius: 5px;
    border-top-right-radius: 17px;
    border-top: 3px solid #5C8547;
    border-right: 3px solid #5C8547;
    border-left: 3px solid #5C8547;
    width: 110px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin: 0 2px -4px 0;
    -webkit-transition: all 115ms ease-out;
    -moz-transition: all 115ms ease-out;
    -o-transition: all 115ms ease-out;
    transition: all 115ms ease-out;

}
.teach-nav li div {
    position: relative;
    width: 110px;
    height: 88px;
    line-height: 10;
    margin: -24px 0px -47px -3px;
}
.teach-nav li div:hover {
    color: #5C8547;
}
.teach-nav li:hover {
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 16px;
    color: #5C8547;
    font-weight: bold;
    -webkit-transition: all 115ms ease-out;
    -moz-transition: all 115ms ease-out;
    -o-transition: all 115ms ease-out;
    transition: all 115ms ease-out;
}
.teach-nav li a {
    color: white;
    padding: 0px 15px 5px 15px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 17px;
    height: 87px;
}
.teach-nav li a:hover {
    color: #5C8547;
}
.teach-nav li img {
    height: 40px;
    width: auto;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
.link-width {
    width: 90px;
}
.active-nav {
    color: #5C8547 !important;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 16px;
    font-weight: bold;
}
.active-tab { 
    height: 89px;
    width: 110px;
}
.active-tab div {
    color: #5C8547 !important;
}
.reports {
    background: url("../../images/distributed/reports-icon.png") no-repeat;
    background-position: center 7px;
    height: 87px;
}
.reports:hover, .reports-active {
    background: url("../../images/distributed/reports-active-icon.png") no-repeat;
    background-position: center 7px;
    height: 87px;
    color: #5C8547 !important;
}
.playlist {
    background: url("../../images/distributed/playlist-icon.png") no-repeat;
    background-position: center 7px;
    height: 87px;
}
.playlist:hover, .playlists-active {
    background: url("../../images/distributed/playlist-active-icon.png") no-repeat;
    background-position: center 7px;
    height: 87px;
}
.exams {
    background: url("../../images/distributed/exam-icon.png") no-repeat;
    background-position: center 7px;
    height: 87px;
}
.exams:hover, .exams-active {
    background: url("../../images/distributed/exam-active-icon.png") no-repeat;
    background-position: center 7px;
    height: 87px;
}
.units {
    background: url("../../images/distributed/units-icon.png") no-repeat;
    background-position: center 7px;
    height: 87px;
}
.units:hover, .units-active {
    background: url("../../images/distributed/units-active-icon.png") no-repeat;
    background-position: center 7px;
    height: 87px;
}
.learn {
    background: url("../../images/distributed/learn-icon.png") no-repeat;
    background-position: center 7px;
    height: 87px;
}
.learn:hover, .learn-active {
    background: url("../../images/distributed/learn-active-icon.png") no-repeat;
    background-position: center 7px;
    height: 87px;
}
/********* End Sub-Navigation bar **********/


/********* "Admin" Sub-Navigation bar **********/
.manage-nav {
    display: inline-block;
    width: 100%;
    border-bottom: 4px solid #5C8547;
    margin-bottom: 25px;
}
.manage-nav ul {
    padding-left: 1%;
    margin-bottom: -4px;
    height: 87px;
}
.manage-nav li {
    background-color: #5C8547;
    border-top-left-radius: 5px;
    border-top-right-radius: 17px;
    border-top: 3px solid #5C8547;
    border-right: 3px solid #5C8547;
    border-left: 3px solid #5C8547;
    width: 110px;
    text-align: center;
    font-weight: bold;
    display: inline-block !important;
    margin: 0 2px -4px 0;
    -webkit-transition: all 115ms ease-out;
    -moz-transition: all 115ms ease-out;
    -o-transition: all 115ms ease-out;
    transition: all 115ms ease-out;
}
.manage-nav li:hover {
    background-color: white;
    -webkit-transition: all 115ms ease-out !important;
    -moz-transition: all 115ms ease-out !important;
    -o-transition: all 115ms ease-out !important;
    transition: all 115ms ease-out !important;
}
.manage-nav li a {
    color: white;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 17px;
}
.manage-nav li div {
    position: relative;
    width: 110px;
    height: 85px;
    line-height: 9.5;
    margin-left: -3px;
    margin-top: -3px;
}
.manage-nav li div:hover {
    color: #5C8547;
}
.manage-nav li a:hover {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 16px !important;
    color: #5C8547;
    font-weight: bold;
    text-decoration: none;
}
.manage-nav li img {
    height: 40px;
    width: auto;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
.active-nav {
    color: #405D32 !important;
    background-color: white !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 16px !important;
    font-weight: bold;            
}
.users {
    background: url("../../images/distributed/users-icon.png") no-repeat;
    background-position: center 7px;
    height: 87px;
}
.users:hover, .users-active {
    background: url("../../images/distributed/users-active-icon.png") no-repeat;
    background-position: center 7px;
    height: 87px;
}
.video {
    background: url("../../images/distributed/videos_icon.png") no-repeat;
    background-position: center 7px;
    height: 87px;
}
.video:hover, .video-active {
    background: url("../../images/distributed/videos_active_icon.png") no-repeat;
    background-position: center 7px;
    height: 87px;
}
.languages {
    background: url("../../images/distributed/language_icon.png") no-repeat;
    background-position: center 7px;
    height: 87px;
}
.languages:hover, .languages-active {
    background: url("../../images/distributed/language_active_icon.png") no-repeat;
    background-position: center 7px;
    height: 87px;
}
.facility {
    background: url("../../images/distributed/facility-icon.png") no-repeat;
    background-position: center 7px;
    height: 87px;
}
.facility:hover, .facility-active {
    background: url("../../images/distributed/facility-active-icon.png") no-repeat;
    background-position: center 7px;
    height: 87px;
}
/********* End "Admin" Sub-Navigation bar **********/

 
/********* Coach Reports Sub-Navigation bar *********/
.active {
    border: none !important;
}
.sub-active {
    background-color: #5C8547;
    color: white !important;
    border-radius: 6px;
}
.subnav {
    text-align: center;
    margin: 40px 0 50px 0;
}
.subnav li {
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #6E9F56;
    margin: -25px 10px 0 10px;
}
.subnav li a {
    width: 150px;
    height: 80px;
    text-decoration: none;
    color: #5C8547;
    font-weight: bold;
    -webkit-transition: all 115ms ease-out !important;
    -moz-transition: all 115ms ease-out !important;
    -o-transition: all 115ms ease-out !important;
    transition: all 115ms ease-out !important;
}
.subnav li a:hover {
    background-color: #5C8547 !important;
    border-radius: 6px !important;
    color: white;
}
.subnav span {
    line-height: 1.6;
    font-size: 17px;
} 
.progress-tab img,
.effort-tab img,
.mastery-tab img {
    margin: -10px -30px 0 -15px;
    border-radius: 8px;
    left: 15px;
    opacity: 0.18;
    position: absolute;
}

/********* End Coach Reports Sub-Navigation bar **********/

/*h2 {
    margin-bottom: 10px;
}*/

.title-header .long-description {
    color: #666;
    font-size: 15px;
}

div.exercises-card {
    width: 800px;
}

#answer_area_wrap {
    width: 229px;
}

#streakbar .streak {
    border: 1px solid #cccccc;
    height: 30px;
    background-color: #F7F7F7;
}

#streakbar .streak .progress-bar {
    width: 0%;
    height: 100%;
    background-color: #9F9FFC;
    padding: 0px;
    border: none;
    text-align: center;
}

#streakbar .streak .progress-bar.completed {
    width: 100%;
    background-color: #5BDB44;
}

.exercise-title-prefix {
    opacity: 0.3;
}

.attempts {
    font-size: 18px;
    text-align: right;
    width: 100%;
}

.progress-points {
    width: 90%;
    text-align: center;
    float: left;
    white-space: nowrap;
    font-size: 1.1em;
    padding: 4px 8px;
}

.practice-exercise-description {
    opacity: 0.5;
    font-size: 0.7em;
}

.current-card #problemarea {
    margin-top: 0;
}

.current-card #answer_area_wrap {
    margin-top: 15px;
}

.info-box #related-video-list {
    margin-left: -10px;
}

.info-box #related-video-list a {
    white-space: nowrap;
    display: block;
    float: left;
    margin: 0;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-box.related-content {
    padding: 10px;
    margin: 10px;
    height: 100px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.basic-form label {
    font-weight: bold;
    padding-right: 12px;
    display: block;
}

.basic-form p {
    padding-top: 2px;
}

.basic-form input {
    display: block;
}

.basic-form .errorlist {
    margin-left: 0px;
}

.basic-form .submit, .basic-form h2 {
    margin-left: 0px;
}

.progress-circle {
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
    top: 2px;
}

li .progress-circle {
    margin-left: -15px;
    top: 0;
}

.related-video-list .progress-circle {
    margin-left: 0;
    top: 2px;
}

.related-video-inline .progress-circle {
    margin-left: 10px;
}

.progress-circle.complete {
    background: url(/static/images/distributed/circle-complete.png) no-repeat;
}

.progress-circle.partial {
    background: url(/static/images/distributed/circle-partial.png) no-repeat;
}

.main-headline {
    width: 100%;
    display: block;
    float: left;
}

.admin-only,
.unregistered-only, .not-unregistered-only,
.logged-in-only,
.client-online-only,
.server-online-only
{
    display: none;
}

#content_tree .complete span.dynatree-icon {
    margin-top: 2px;
    background: url(/static/images/distributed/circle-complete.png) no-repeat;
}

#content_tree .partial span.dynatree-icon {
    margin-top: 2px;
    background: url(/static/images/distributed/circle-partial.png) no-repeat;
}

#content_tree .unstarted span.dynatree-icon {
    margin-top: 2px;
    background: url(/static/images/distributed/circle-empty.png) no-repeat;
}

.message {
    width: 75%;
    padding: 4px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.message.error {
    color: #FFFFFF;
    background-color: #FF3030;
    border-color: #330000;
}

.message.error a {
    color: #6969C4;
}

.message.success {
    color: #273C2B;
    background-color: #8AF07C;
    border-color: #273C2B;
}

.message.warning {
    color: #330000;
    background-color: #FF9955;
    border-color: #330000;
}

.error, .errorlist {
/*    padding-bottom: 10px;*/
    color: red;
}

.hint-reminder {
    line-height: 18px;
    padding-top: 10px;
    color: #777;
}

#totalpoints {
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 4px;
    color: #77C;
}

#questionpoints {
    font-weight: bold;
    font-size: 1.2em;
    color: #666600;
    background-color: #EEEEFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.points-container {
    margin: 0px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 4px;
    font-size: 0.8em;
    float: right;
    background-color: #EEEEFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

#scratchpad > div {
    margin-top: 0; /* Controls whether scratchpad comes out of boundary - GH #1859 */
    max-width: 514px;
}

.current-card-contents #workarea {
    margin-top: 10px;
    margin-right: 30px;
}

.helptext {
    font-size: .85em;
    display: block;
}

.glossary-link {
    background: url('/static/images/distributed/question_mark.png') no-repeat center;
    display: inline-block;
    width: 28px;
    height: 21px;
    float: center;
    margin-bottom: -5px;
    margin-left: -5px;
    margin-right: -5px;
}

.thumb {
    overflow: hidden;
    position: relative;
}

.thumb .thumbimage {
    position: absolute;
    width: 200px;
    z-index: -10;
}

#answer_area .answer-buttons input.simple-button, #answer_area input.simple-button.full-width {
    white-space: normal;
}

.video-unavailable,
.topic-unavailable,
a:active.video-unavailable,
a:visited.video-unavailable,
a:active.topic-unavailable,
a:link.topic-unavailable,
a:link.video-unavailable,
a:visited.topic-unavailable {
    color: #ACBDD1;
    font-weight: normal;
    text-decoration: none;
}
a:hover.video-unavailable {
    color: #ddd;
}
a:hover.topic-unavailable {
    color: #ddd;
}
a.disabled {
    background-color: #C0C0C0;
}

/* BEGIN styles for software-keyboard */


#software-keyboard {
    border: 2px solid #cfcfcf;
    background: #c3c3c3;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    text-align: center;
    padding: 0px;
    margin-top: 10px;
}

#software-keyboard div {
    display: inline-block;
    min-width: 33%;
    padding: 3px;
}

#software-keyboard div .key {
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 26px;
}

#search-box input {
    position: relative;
    top: -2px;
    float: right;
    padding: 2px 5px;
    font-size: 12px;
}

#show-keyboard {
    font-size: 10px;
    width: 90px;
    float: right;
}

/* END styles for software-keyboard */

input#search {
    width: 150px;
}


/* BEGIN styles for software-keyboard */

#software-keyboard {
    border: 2px solid #cfcfcf;
    background: #c3c3c3;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    text-align: center;
    padding: 0px;
    margin-top: 10px;
}

#software-keyboard div {
    display: inline-block;
    /*min-width: 33%;*/
    padding: 3px;
}

#software-keyboard div .key {
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 26px;
}

#software-keyboard div .key-bs {
    font-size: 16px;
}

/* TODO-BLOCKER (rtibbles): 0.13 - Remove extraneous css added here to make styling work without Bootstrap */

#show-keyboard {
    font-size: 10px;
    width: 90px;
    float: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #816fba;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 5px 20px;
    border:0px;
}

div .row {
    width: 100%;
}
div .col-xs-4 {
    width: 33%;
}

/* END styles for software-keyboard */

/*
Icon Font
======================================
*/

/*
To update these icons go to icomoon.io
and navigate to the icomoon app.

Here click 'import icons' and select the SVG file
in static/fonts.

Select all the imported icons, and then add whichever
other icons you want to use in addition.

When finished, press the 'Font' button at the bottom of
the screen. Take note of the character numbers \e6xx
below your new icons, you will need these to specify
in the css block below.

Now click 'Download'. Open the icomoon.zip file that
downloads and navigate into the fonts directory.
Extract the contents of the fonts directory into static/fonts
overwriting all existing files.

Now add class definitions below for your new icon, and add that
to items you want to have the icon appear with.
*/

.icon-exercise:before {
    content: "\e600";
}
.icon-video:before {
    content: "\e601";
}
.icon-quiz:before {
    content: "\e602";
}
.icon-topic:before {
    content: "\e603";
}
.icon-audio:before {
    content: "\e604";
}
.icon-document:before {
    content: "\e605";
}
