/*body {
    min-width: 600px;
}*/

/*article {
    padding: 20px;
}*/

/*a:link:focus,
a:hover {
    color: #2F92A5;
}*/

#top-header {
    height: 60px;
    position: relative;
    top: 0px;
}

#top-header #logo {
    position: absolute;
    top: 5px;
    z-index: 50; /*TODO(dylan): stopgap solution;*/
}

#logo-image-small img {
    height: 35px;
    margin-top: 10px;
    margin-left: 5px;
}

/********** Top Navigation bar ***********/

.top-header-links {
    position: absolute;
    top: 5px;
    right: 10px;
    min-width: 280px;
    height: 50px;
}

/*nav {
    display: block;
    clear: both;
    width: 100%;
    margin: 0;
    padding: 3px 0;
    white-space: nowrap;
     Position this at 30 so the white triangle appears on top of the page_sub_nav breadcrumbs border 
    height: 30px;
    z-index: 50;
    position: relative;
    right: 10px;
    top: 22px;
}*/

#nav_registerdevice {
    color: darkRed;
}

/*#nav_addstudent, #nav_addteacher, #nav_admin, #nav_coachreports, #nav_watch, #nav_practice, #nav_signup, #nav_login, #nav_update, #nav_logout, #nav_registerdevice {
    display: none;
}
*/
/********** End of Top Navigation bar ***********/

/*h2 {
    margin-bottom: 10px;
}*/

.title-header .long-description {
    color: #666;
    font-size: 15px;
}

div#map-container {
    min-height: 1000px;
    min-width: 800px;
}

div.exercises-card {
    width: 800px;
}

#answer_area_wrap {
    width: 229px;
}

#streakbar .streak {
    border: 1px solid #cccccc;
    height: 30px;
    background-color: #F7F7F7;
}

#streakbar .streak .progress-bar {
    width: 0%;
    height: 100%;
    background-color: #9F9FFC;
    padding: 0px;
    border: none;
    text-align: center;
}

#streakbar .streak .progress-bar.completed {
    width: 100%;
    background-color: #5BDB44;
}

.practice-exercise-description {
    opacity: 0.5;
    font-size: 0.7em;
}

.current-card #problemarea {
    margin-top: 0;
}

.current-card #answer_area_wrap {
    margin-top: 15px;
}

.info-box #related-video-list {
    margin-left: -10px;
}

.info-box #related-video-list a {
    white-space: nowrap;
    display: block;
    float: left;
    margin: 0;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.basic-form label {
    font-weight: bold;
    padding-right: 12px;
    display: block;
}

.basic-form p {
    padding-top: 2px;
}

.basic-form input {
    display: block;
}

.basic-form .errorlist {
    margin-left: 0px;
}

.basic-form .submit, .basic-form h2 {
    margin-left: 0px;
}

.progress-circle {
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
    top: 2px;
}

li .progress-circle {
    margin-left: -15px;
    top: 0;
}

.related-video-list .progress-circle {
    margin-left: 0;
    top: 2px;
}

.related-video-inline .progress-circle {
    margin-left: 10px;
}

.progress-circle.complete {
    background: url(/static/images/distributed/circle-complete.png) no-repeat;
}

.progress-circle.partial {
    background: url(/static/images/distributed/circle-partial.png) no-repeat;
}

.main-headline {
    width: 100%;
    display: block;
    float: left;
}

.admin-only,
.unregistered-only, .not-unregistered-only,
.logged-in-only,
.client-online-only,
.server-online-only
{
    display: none;
}

#content_tree .complete span.dynatree-icon {
    margin-top: 2px;
    background: url(/static/images/distributed/circle-complete.png) no-repeat;
}

#content_tree .partial span.dynatree-icon {
    margin-top: 2px;
    background: url(/static/images/distributed/circle-partial.png) no-repeat;
}

#content_tree .unstarted span.dynatree-icon {
    margin-top: 2px;
    background: url(/static/images/distributed/circle-empty.png) no-repeat;
}

.message {
    width: 75%;
    padding: 4px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.message.error {
    color: #FFFFFF;
    background-color: #FF3030;
    border-color: #330000;
}

.message.error a {
    color: #6969C4;
}

.message.success {
    color: #273C2B;
    background-color: #8AF07C;
    border-color: #273C2B;
}

.message.warning {
    color: #330000;
    background-color: #FF9955;
    border-color: #330000;
}

.error, .errorlist {
/*    padding-bottom: 10px;*/
    color: red;
}


#hint-remainder {
    line-height: 18px;
    padding-top: 10px;
}

#totalpoints {
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 4px;
    color: #77C;
}

#questionpoints {
    font-weight: bold;
    font-size: 1.2em;
    color: #666600;
    background-color: #EEEEFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.points-container {
    margin: 0px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 4px;
    margin-top: 10px;
    font-size: 0.8em;
    float: right;
    background-color: #EEEEFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

/*.vidprev {
    float: left;
}

.vidnext {
    float: right;
    padding-right: 4px;
}*/

#sitepoints {
    font-family: "MuseoSans500", Helvetica, Arial, sans-serif;
    float: right;
    margin-top: 7px;
    margin-right: 19px;
    opacity: 0.7;
    font-size: 1.05em;
}

#scratchpad > div {
    margin-top: 10px;
    max-width: 514px;
}

.current-card-contents #workarea {
    margin-top: 50px;
    margin-right: 30px;
}

.helptext {
    font-size: .85em;
    display: block;
}

.glossary-link {
    background: url('/static/images/distributed/question_mark.png') no-repeat center;
    display: inline-block;
    width: 28px;
    height: 21px;
    float: center;
    margin-bottom: -5px;
    margin-left: -5px;
    margin-right: -5px;
}

.thumb {
    overflow: hidden;
    position: relative;
}

.thumb .thumbimage {
    position: absolute;
    width: 200px;
    z-index: -10;
}

#answer_area .answer-buttons input.simple-button, #answer_area input.simple-button.full-width {
    white-space: normal;
}

.video-unavailable,
.topic-unavailable,
a:active.video-unavailable,
a:hover.video-unavailable,
a:link.video-unavailable,
a:visited.video-unavailable,
a:active.topic-unavailable,
a:hover.topic-unavailable,
a:link.topic-unavailable,
a:visited.topic-unavailable {
    color: #ACBDD1;
    font-weight: normal;
    text-decoration: none;
}

.green_button{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #81ba6f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #ffffff;
    padding: 10px 20px;
    border:0px;
    vertical-align: middle;
}

a.green_button, a.green_button:hover,input.green_button, input.green_button:hover {
    color: white !important;
    text-decoration: none;
}
a.green_button:hover,input.green_button:hover{
    background-color:#318a3f;
}
a.disabled {
    background-color: #C0C0C0;
}
