div#map {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    background: #000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 11px;
    min-height: 1100px;
    min-width: 700px;
}

a.topic-button {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 150px;
    height: 30px;
    line-height: 30px;
    background: #777;
    text-align: center;
    border: 1px #333 solid;
    z-index: 5;
    font-size: 15px;
    color: white;
}

a.topic-button:visited {
    color: white;
}

div.exercise {
    position: absolute;
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 9px;
    text-align: center;
    line-height: normal;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.exercise-label {
    background-color: rgba(0, 0, 0, 0.8);
}
