/*
Icon Font
======================================
*/

.icon-exercise:before {
    content: "\e600";
}
.icon-video:before {
    content: "\e601";
}
.icon-quiz:before {
    content: "\e602";
}
.icon-list:before {
    content: "\e603";
}
.icon-audio:before {
    content: "\e604";
}
.icon-document:before {
    content: "\e605";
}

.sidebar-icon.partial {
    opacity: 0.45;
}

.sidebar-icon.complete {
    opacity: 0.15;
}

.sidebar-text.complete {
    opacity: 0.45;
}

/*
Nav Panel
======================================
*/

.sidebar-entry-title {
    display: block;
    float: left;
    width: 145px;
    padding-left: 8px;
}

.panel {
    background: #5F832E;
    z-index: 9999;
    position: fixed;
    left: -220px;
    width: 220px;
    height: 130%;
}

.panel ul {
    border-top: 2px solid #587448;
    list-style-type: none;
    margin-left: -35px;
}

.panel li {
    border-bottom: 2px solid #587448;
}

.panel .sidebar-entry {
    display: block;
    padding: 1.1em 1em;
    font-size: 1.2em;
}

.panel a:link,
.panel a:visited {
    color: #fff;
    display: block;
    margin: 2px 5px 2px 0;
}

.panel a.sidebar-entry-link:hover, .back-to-parent:hover {
    background: #8dc63f;
}

.panel .active-entry {
    background: #77AA31;
}

.sidebar-divider {
    color: #bcb;
    font-weight: bolder;
    background: rgba(116, 116, 116, 0.5);
}

.sidebar-tab {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 50%;
    margin-top: 59px;
    background: #8dc63f;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    -transform-origin: 0 0;
    -transform: rotate(270deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(270deg);
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(270deg);
}

.sidebar-tab a {
  display: block;
  text-decoration: none;
}

.sidebar-nav-container .title {
    display: block;
    float: left;
    width: 160px;
    padding-left: 26px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 2px solid #587448;
    font-size: 18px;
    font-weight: bold;
    color: #CCC;
}

.back-to-parent {
    margin: 0;
    float: left;
    height: 60px;
    position: relative;
    padding-left: 20px;
    padding-top: 21px;
    padding-right: 14px;
}