.sm2-bar-ui {
    font-size: 20px;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
    background-color: #2288cc;
}
.sm2-bar-ui .sm2-inline-texture {
    background: transparent;
}
