<table class="table table-hover table-bordered">
    {{#each diagnostics }}
        <tr>
            <td>{{ @key }}</td>
            <td>{{ breaklines this }}</td>
        </tr>
    {{/each}}
</table>
