<span class='autocomplete {{#unless available }}un{{/unless}}available'>
    <span class = 'dropdown-icon icon-{{ kind }}'>&nbsp;</span>
    <span>{{ title }}&nbsp;({{ kind }})</span> {{!-- SR is announcing only 'title' and not 'kind'? --}}
</span>&nbsp;