<li class="ui-menu-item" role="presentation">
	<a id="ui-id-2" class="ui-corner-all" tabindex="-1">
		<span class='autocomplete {{#unless available }}un{{/unless}}available'>
			<span class = 'dropdown-icon icon-{{ kind }}'>&nbsp;</span>
			<span>{{ title }}</span>
			<span>({{ kind }})</span>
		</span>&nbsp;
	</a>
</li>