<form class="navbar-form" action="{{ search_url }}" method="get" id="search-box" role="search">
  <div class="input-group">
    <input type="text" name="query" id="search" class="form-control" placeholder="{{_ "Topic, video, exercise..." }}" aria-label="{{_ 'Search for' }}" />
    <button id="search-button" class="btn btn-default" type="submit" aria-label="{{_ 'Submit' }}"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></button>
  </div>
</form>