{% extends "control_panel/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block languages_active %}active{% endblock languages_active %}
{% block update_active %}active{% endblock update_active %}
{% block users_active %}active{% endblock %}

{% block title %}{% trans "Update Languages" %}{{ block.super }}{% endblock %}

{% block headcss %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/updates/update_languages.css' %}" />
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    <script type="text/javascript">
        var start_languagepackdownload_url = "{% url 'start_languagepack_download' %}";
        var INSTALLED_LANGUAGES_URL = "{% url 'installed_language_packs' %}"
        var AVAILABLE_LANGUAGEPACK_URL = "http://" + CENTRAL_SERVER_HOST +  "/api/i18n/language_packs/available/{{ VERSION }}";
        var DELETE_LANGUAGEPACK_URL = "{% url 'delete_language_pack' %}";
        var defaultLanguage = "{{ default_language }}";
    </script>
    <script type="text/javascript" src="{% static 'js/updates/update_languages.js' %}"></script>
{% endblock headjs %}

{% block content %}

{% block manage_nav %}
    <div class="manage-nav not-teacher-only">
        <ul class="nav">
            <li><a href="{% url 'zone_management' zone_id=zone_id %}" class="facility admin-only" title="{% trans 'Manage Users' %}"><span>{% trans "Facilities" %}</span></a></li>
            <li><a href="{% url 'update_videos' %}" id="nav_update" class="video admin-only teacher-only" title="{% trans 'Update this server with new videos and languages' %}"><span>{% trans "Videos" %}</span></a></li>
            <li><a href="{% url 'update_languages' %}" class="admin-only teacher-only active-tab active-nav"><img src="{% static "images/control_panel/language_active_icon.png" %}">{% trans "Language" %}</a></li>
        </ul>
    </div>
    <div class="manage-nav teacher-only">
        <ul class="nav">
            {% if request.session.facility_user.facility %}
            <li><a href="{% url 'facility_management' zone_id=None facility_id=request.session.facility_user.facility.id %}" class="users admin-only" title="{% trans 'Manage Users' %}"><span>{% trans "Users" %}</span></a></li>
            {% endif %}
            <li><a href="{% url 'zone_management' zone_id=zone_id %}" class="facility admin-only" title="{% trans 'Manage Users' %}"><span>{% trans "Facilities" %}</span></a></li>
            <li><a href="{% url 'update_videos' %}" id="nav_update" class="video admin-only teacher-only" title="{% trans 'Update this server with new videos and languages' %}"><span>{% trans "Videos" %}</span></a></li>
            <li><a href="{% url 'update_languages' %}" class="admin-only teacher-only active-tab active-nav"><img src="{% static "images/control_panel/language_active_icon.png" %}">{% trans "Language" %}</a></li>
        </ul>
    </div>
{% endblock manage_nav %}

    <div class="container">
        
        <div class="col-sm-8 download-actions-languages get-language vertical-shadow">            

            <div class="row">
                <h4 class="button_text">{% trans "Download or Update Language Packs" %}</h4>
            </div>
            
            <div class="row">
                <p class="button_text">
                    {% trans "Language packs contain all available translations for the interface and video subtitles." %}
                </p>
            </div>

            <!-- Some logic here to Show/Disable Buttons comparing data from show_language_packs to installed_languages
                Assume we are getting something like:
                [{"en": "percent_complete": 100, etc.}, {"fr": "percent_complete": 80, etc.}, etc.]
            -->
            <div class="row">
                <div id="langpacks">
                    <span class= "button_style">
                        <select id="language-packs"></select>
                    </span>

                    <button class="btn btn-default btn-xs pull-right" id="get-language-button" type="button" disabled>{% trans "Get Language Pack" %}</button>
                </div>

                <div id="langpack-details">
                    <span id="lp-num-srts"></span><label>&nbsp;{% trans "subtitle(s)" %}</label>
                    <span id="lp-pct-trans"></span><label>&nbsp;{% trans "translated" %}</label>
                    <span id="lp-down-size"></span><label>&nbsp;({% trans "to download" %})</label>
                    <br>
                    <span id="lp-disk-size"></span><label>&nbsp;({% trans "on disk" %})</label>
                    <span id="lp-num-exers"></span><label>&nbsp;{% trans "exercise(s)" %}</label>
                </div>
            </div>       
 
        </div>

        <div id="languagepackdownload-progressbar">
            {% include "updates/progress-bar.html" %}
        </div>
        <div class="clear"></div>

        <div id="installed-languages-div">
            <div class="row">
                <h4>{% trans "Installed Languages" %}</h4>
            </div>
            
            <div class="row">
                <div class="installed-languages"></div>
            </div>
        </div>

    </div>
{% endblock content %}
