{% extends "updates/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load my_filters %}

{% block title %}{% trans "Update Software" %} {{ block.super }}{% endblock %}

{% block headcss %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-fileupload.min.css' %}" />

    <style>
        .vertical-shadow {
            margin-left: 5px;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }

        .container {
            margin-left: 130px;
        }

        #software_available {
            margin-left: -4px;
            margin-top: 6px;
        }

        #cancel-update-kalite {
            margin-top: 10px;
            margin-bottom: 15px;

        }

        h2 {
            font-size: 24px;
            margin-left: 45px;
        }

        img {
            margin-left: 15px;
        }
    </style>
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-fileupload.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/updates/update_software.js' %}"></script>
{% endblock headjs %}

{% block content %}
  <!---Breadcrumb -->
    <ul class="breadcrumb">
      <li><a href="{% url homepage %}">{% trans "Home" %}</a> <span class="divider">/</span></li>
      <li><a href="{% url update %}">{% trans "Update" %}</a> <span class="divider">/</span></li>
      <li class="active">{% trans "System Update" %}</li>
    </ul>

    <!---Current System status -->
    <div>
        <div class="">
            <div class= "row">
                <div class="span6 vertical-shadow">
                    <h2>{% trans "Current Installation" %}</h2>

                    <dl class="dl-horizontal">
                        <dt>{% trans "Current Version" %}:</dt>
                        <dd>{{ software_version }}</dd>
                        {# Translators: this specifies the software release date #}
                        <dt>{% trans "Release Date" %}:</dt>
                        <dd>{{ software_release_date }}</dd>
                        <dt>{% trans "Database Size" %}:</dt>
                        <dd>{{ database_size|floatformat }} MB</dd>
                        <dt>{% trans "Device ID" %}:</dt>
                        <dd>{{ device_id }}</dd>
                        <dt>{% trans "Last recorded usage" %}:</dt>
                        <dd>{{ database_last_updated }}</dd>
                        <dt>{% trans "Installation Location" %}:</dt>
                        <dd>{{ install_dir }}</dd>
                    </dl>
                </div>

                <div id="update_info" class="span6 offset6 vertical-shadow" style="display:none">
                    <h2>{% trans "Available Update" %}</h2>
                    <dl class="dl-horizontal">
                        <dt>{% trans "Latest Version" %}:</dt>
                        <dd><span id="remote_version"></span></dd>
                        <dt>{% trans "Released Date" %}:</dt>
                        <dd><span id="remote_release_date"></span></dd>
                        <dt>{% trans "Description" %}:</dt>
                        <dd>{% trans "New Features" %}:
                            <ul id="new_features"></ul>
                            {% trans "Bugs fixed" %}:
                            <ul id="bugs_fixed"></ul>
                        </dd>
                    </dl>
                </div>

                <div class="span4 offset2">
                    <div id="internet_update" style="display:none">
                        {# Translators: this text specifies where admins can get an update from #}
                        <h4>{% trans "From the internet" %}:</h4>
                        <button type="button" class="btn" id="download-update-kalite" mechanism="internet" disabled>{% trans "Download and update" %}</button>
                        <select class="span1" id="software_available" style="display:none"></select>
                        <!---File Upload Button -->
                    </div>
                    <div id="file_update">
                        <h4>{% trans "Use local file" %}:</h4>
                        <div class="fileupload fileupload-new" data-provides="fileupload" id="upload-update-kalite">
                            <span class="btn btn-file"><span class="fileupload-new">{% trans "Select file" %}</span><span class="fileupload-exists">Change</span><input type="file" /></span>
                            <span class="fileupload-preview"></span>
                            <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                        </div>
                    </div>
                    <div class="text-right"><button type="button" class="btn btn-danger" id="cancel-update-kalite">{% trans "Cancel update" %}</button></div>
                    <div style="clear: both;"></div>
                </div>

            </div>
        </div>

    <div style="clear: both;"></div>
    <!-- Progress Bar, note: id must match the "updates" app process name -->
    <div id="update-progressbar">
        {% include "updates/progress-bar.html" %}
    </div>


    <!-- fake way to do JSONP -->
    <script type="text/javascript">
     $(function() {
         doRequest("{% central_server_api path='/api/version' %}?current_version={{ software_version }}",
               null,
               { dataType: "jsonp" }
     ).success(function(data) {
         version_callback(data);
     });
     doRequest("{% central_server_api path='/api/download/kalite/' %}",
               null,
               { dataType: "jsonp" }
     ).success(function(data) {
         download_urls_callback(data);
     });})

    </script>
{% endblock content %}
