{% extends "control_panel/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load i18n_filters %}

{% block update_active %}active{% endblock update_active %}

{% block title %}{% trans "Update Videos" %}{{ block.super }}{% endblock %}

{% block headcss %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/plugins/ui.dynatree.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/updates/update_videos.css' %}" />
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery.dynatree.min.js' %}"></script>

    <script type="text/javascript">
        var URL_GET_ANNOTATED_TOPIC_TREE = "{% url 'get_annotated_topic_tree' %}?lang={{ current_language }}";
        var URL_START_VIDEO_DOWNLOADS = "{% url 'start_video_download' %}?lang={{ current_language }}";
        var URL_DELETE_VIDEOS = "{% url 'delete_videos' %}";
        var URL_CANCEL_VIDEO_DOWNLOADS = "{% url 'cancel_video_download' %}";
        var start_languagepackdownload_url = "{% url 'start_languagepack_download' %}";
        var INSTALLED_LANGUAGES_URL = "{% url 'installed_language_packs' %}"
        var AVAILABLE_LANGUAGEPACK_URL = "http://" + CENTRAL_SERVER_HOST +  "/api/i18n/language_packs/available/{{ VERSION }}";
        var DELETE_LANGUAGEPACK_URL = "{% url 'delete_language_pack' %}";
        var defaultLanguage = "{{ default_language }}";
    </script>

    <script type="text/javascript" src="{% static 'js/updates/update_videos.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/updates/update_languages.js' %}"></script>
{% endblock headjs %}

{% block ga_setmetrics %}
    ga('set', 'metric1', {{ video_count }});
{% endblock ga_setmetrics %}

{% block content %}

{% block manage_nav %}
    <div class="manage-nav">
        <ul class="nav">
            <li><a href="{% url 'zone_management' zone_id=zone_id %}" class="admin-only teacher-only" title="{% trans 'Manage Users' %}">{% trans "Network" %}</a></li>
            <li><a href="{% url 'update_videos' %}" id="nav_update" class="admin-only teacher-only active active-nav" title="{% trans 'Update this server with new videos and languages' %}">{% trans "Update" %}</a></li>
        </ul>
    </div>
{% endblock manage_nav %}
    <div class="download-actions vertical-shadow">
        <h4 class="videos">
            <span id="language_choice_titlebar">
            {% if num_language_choices == 1 %}
                {% blocktrans with lang_name=current_language_name %}Videos for language {{ lang_name }}{% endblocktrans %}
            {% else %}
                {% blocktrans with lang_name=current_language_name %}Videos for language <a href="#">{{ lang_name }}</a>{% endblocktrans %}
            {% endif %}
            </span>
            <select id="download_language_selector">
            {% for lang_code, lang_meta in language_choices.iteritems %}
                <option value="{{ lang_code }}" {% if lang_code == current_language %}selected{% endif %}>
                    {{ lang_code|get_language_name }}
                </option>
            {% endfor %}
            </select>
        </h4>

        <h5 id="download-legend-unselected" class="button_text">
            {% trans "Please select videos to download (below)" %}
        </h5>

        <button id="download-videos" type="button" class="enable-when-server-online">
            <span id="download-videos-text" class="new-video-count"></span>
        </button>

        <button id="delete-videos" type="button">
            <div id="modal_dialog">
            </div>
            <span id="delete-videos-text" class="old-video-count"></span>
        </button>
    </div>


    <div class="download-actions vertical-shadow client-online-only">
        <h4 class="videos">
        {% trans "Help for downloading videos" %}
        </h4>
        <div id="help-info">
            <a id="download-help-link" target="_new" href="http://{{ central_server_host }}/faq/installation/bittorrent/">
                {% trans "Q: How do I bulk-download videos?" %}
            </a>
        </div>
    </div>

    <div style="clear: both;"></div>

    <div>
        <!-- note: id must match the "updates" app process name -->
        <div id="videodownload-progressbar">
            {% include "updates/progress-bar.html" %}
            <button id="retry-video-download" type="button">{% trans "Video download error... click to retry" %}</button>
        </div>

        <div>
            <button class="btn btn-default btn-xs" id="cancel-download" type="button">{% trans "Cancel Video Downloads" %}</button>
        </div>
    </div>
    <div style="clear: both;"></div>

    <div id="content_tree"><br/><h4>{% trans "Loading topic tree... Please wait!" %}</h4></div>



    {% comment %} LANGUAGES {% endcomment %}
    <div class="container">
        
        <div class="col-sm-8 download-actions-languages get-language vertical-shadow">            

            <div class="row">
                <h4 class="button_text">{% trans "Download or Update Language Packs" %}</h4>
            </div>
            
            <div class="row">
                <p class="button_text">
                    {% trans "Language packs contain all available translations for the interface and video subtitles." %}
                </p>
            </div>

            <!-- Some logic here to Show/Disable Buttons comparing data from show_language_packs to installed_languages
                Assume we are getting something like:
                [{"en": "percent_complete": 100, etc.}, {"fr": "percent_complete": 80, etc.}, etc.]
            -->
            <div class="row">
                <div id="langpacks">
                    <span class= "button_style">
                        <select id="language-packs"></select>
                    </span>

                    <button class="btn btn-default btn-xs pull-right" id="get-language-button" type="button" disabled>{% trans "Get Language Pack" %}</button>
                </div>

                <div id="langpack-details">
                    <span id="lp-num-srts"></span><label>&nbsp;{% trans "subtitle(s)" %}</label>
                    <span id="lp-pct-trans"></span><label>&nbsp;{% trans "translated" %}</label>
                    <span id="lp-down-size"></span><label>&nbsp;({% trans "to download" %})</label>
                    <br>
                    <span id="lp-disk-size"></span><label>&nbsp;({% trans "on disk" %})</label>
                    <span id="lp-num-exers"></span><label>&nbsp;{% trans "exercise(s)" %}</label>
                </div>
            </div>       
 
        </div>

        <div id="languagepackdownload-progressbar">
            {% include "updates/progress-bar.html" %}
        </div>
        <div class="clear"></div>

        <div id="installed-languages-div">
            <div class="row">
                <h4>{% trans "Installed Languages" %}</h4>
            </div>
            
            <div class="row">
                <div class="installed-languages"></div>
            </div>
        </div>

    </div>
{% endblock content %}
