    <div class="content-wrapper">

        <div class="row">
            <div class="col-xs-12">
                <h3 class="title-header">

                    {{#if dubs_available }}
                        <select class="content-language-selector">
                            {{#each availability }}
                            <option value="{{ @key }}" {{#ifcond @key "==" ../selected_language }}selected{{/ifcond}}>
                                {{ language_name }}
                            </option>
                            {{/each}}
                        </select>
                    {{/if}}

                    <span class="title">{{ title }}</span>

                    {{#if description }}
                    </br><small class="long-description">{{ description }}</small>
                    {{/if}}
                    
                    <div class="points-wrapper pull-right"></div>

                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="content-player-container"></div>
            </div>
        </div>


    </div>