    <span>
        <span class="motivational-feature points-container">{{_ "Start" }}:
        <span class="points">{{ start_timestamp }}</span><br>
    </span><br>
    <span>
        <span class="motivational-feature points-container">{{_ "Progress" }}:
        <span class="points">{{ progress }}</span><br>
    </span>
