<div id="rating-container">
    <span>stuff goes here</span>
    <div id="star-container-1"></div>
    <div id="star-container-2"></div>
    <div id="star-container-3"></div>
    <div id="text-container"></div>
</div>