<div id="rating-container" class="row">
    <div class="col-xs-12">
        <div class="panel panel-kalite-rating">
            <div class="panel-heading">
                <h1 class="panel-title">What did you think?</h1>
                <span>Your feedback will help us make better content for future learners!</span>
            </div>
            <div class="panel-body">
                <div id="star-container-quality">
                    <!--star.handlebars will be rendered here.-->
                </div>
                <div id="star-container-difficulty">
                    <!-- star-container-2. Same deal. -->
                </div>
                <div id="text-container">
                    <!--text-container. Same caveat as star-containers. Uses text.handlebars.-->
                </div>
                <div class="btn btn-success rating-submit">Submit</div>
                <div class="btn btn-success rating-edit">Edit</div>
                <div class="btn btn-success rating-skip">Skip</div>
                <div class="btn btn-danger rating-delete">Delete</div>
            </div>
        </div>
    </div>
</div>