<div id="rating-container">
    <span>stuff goes here</span>
    <div id="star-container-1">
        <span>star.handlebars will be rendered here. Anything specific to star-container 1 should wrap this container.</span>
        <span>star.handlebars can be edited to affect all star-rating widgets.</span>
    </div>
    <div id="star-container-2">
        <span>star-container-2. Same deal.</span>
    </div>
    <div id="star-container-3">
        <span>star-container-3. Same deal.</span>
    </div>
    <div id="text-container">
        <span>text-container. Same caveat as star-containers. Uses text.handlebars.</span>
    </div>
    <div class="btn btn-success rating-submit">Submit</div>
    <div class="btn btn-success rating-edit">Edit</div>
    <div class="btn btn-success rating-skip">Skip</div>
</div>