<div id="rating-container" class="row">
    <div class="col-xs-12">
        <div class="panel panel-kalite-rating">
            <div class="row panel-heading">
                <div class="col-md-8">
                    <h1 class="panel-title">{{_ "What did you think?" }}</h1>
                    <span>{{_ "Your feedback will help us make better content for future learners!" }}</span>
                    <span>{{_ "You can change your rating at any time." }}</span>
                </div>
                <div class="col-md-2 col-md-offset-2">
                    <div class="btn btn-danger rating-delete"><span class="glyphicon glyphicon-trash"></span> {{_ "Delete my review" }}</div>
                </div>
            </div>
            <div class="panel-body">
                <div id="star-container-quality">
                    <!--star.handlebars will be rendered here.-->
                </div>
                <div id="star-container-difficulty">
                    <!-- star-container-2. Same deal. -->
                </div>
                <div id="text-container">
                    <!--text-container. Uses text.handlebars.-->
                </div>
            </div>
        </div>
    </div>
</div>
