<center class="star-rating-inner-wrapper">
    <h2><span class="star-title-label label label-default">{{ title }}</span></h2>

    <div class="row rating-row">
        <div class="lowest-label col-xs-12 col-sm-1 col-sm-offset-3">{{ lowest_value }}</div>

        <div class="col-xs-12 col-sm-4">
            <div class="star-rating-option btn btn-star" data-val="1">
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
            <div class="star-rating-option btn btn-star" data-val="2">
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
            <div class="star-rating-option btn btn-star" data-val="3">
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
            <div class="star-rating-option btn btn-star" data-val="4">
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
            <div class="star-rating-option btn btn-star" data-val="5">
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
        </div>

        <div class="highest-label col-xs-12 col-sm-1">{{ highest_value }}</div>
    </div>

    <div class="rating-label center-block"></div>
</center>