<div class="star-rating-inner-wrapper">
    <div class="star-rating-option" data-val="1">rate 1</div>
    <div class="star-rating-option" data-val="2">rate 2</div>
    <div class="star-rating-option" data-val="3">rate 3</div>
    <div class="star-rating-option" data-val="4">rate 4</div>
    <div class="star-rating-option" data-val="5">rate 5</div>
</div>