<center class="star-rating-inner-wrapper">
    <div class="star-rating-option" data-val="1">
        <span class="glyphicon glyphicon-star-empty"></span>
        <div class="bg-fill"></div>
    </div>
    <div class="star-rating-option" data-val="2">
        <span class="glyphicon glyphicon-star-empty"></span>
        <div class="bg-fill"></div>
    </div>
    <div class="star-rating-option" data-val="3">
        <span class="glyphicon glyphicon-star-empty"></span>
        <div class="bg-fill"></div>
    </div>
    <div class="star-rating-option" data-val="4">
        <span class="glyphicon glyphicon-star-empty"></span>
    </div>
    <div class="star-rating-option" data-val="5">
        <span class="glyphicon glyphicon-star-empty"></span>
    </div>
</center>