<div class="container">
    <div class="row">
        <label class="text-feedback-label col-md-2 col-md-offset-2 col-xs-12"><h3>{{_ "Your comments:" }}</h3></label>
    </div>
    <div class="row">
        <textarea class="form-control rating-text-feedback col-xs-8 col-xs-offset-2">{{ text }}</textarea>
    </div>
</div>