{% extends "central/content/base.html" %}
{% load staticfiles %}

{% block title %}What is KA Lite?{{ block.super }}{% endblock title %}

{% block home_active %}active{% endblock home_active %}

{% block content %}
    <h1>What is KA Lite?</h1>

    <p>
        KA Lite is open-source software that can be downloaded and run on any computer, turning it into a webserver for viewing and interacting with downloaded Khan Academy videos and exercises, even when no internet is available.
        Students can connect to the server from within the classroom, on a laptop, tablet, or desktop computer.
    
        <br/><br/>
    
        <img src="{% static 'images/central/how-does-it-work.png' %}">
    
        {# Students can navigate through the content either by the video topic tree or the exercise knowledge map, and jump between related videos and exercises to move back and forth between “practicing” and “reviewing”. #}
    </p>

    <br/><br/>

    <div class="row-fluid">

        <div class="span6">
            <h2>Move between watching videos and doing exercises</h2>

            <img src="{% static 'images/central/videos-exercises.png' %}">
        
        </div>
    
        <div class="span6">
            <h2><center>Teachers and parents can view student reports</center></h2>

            <img src="{% static 'images/central/coach-reports-larger.png' %}">
        
        </div>
    
    </div>

    <br/><br/><br/>

    <div class="row-fluid">
        <div class="span4">
            <h3>Support for mastery-based learning</h3>
            <p>
                Students can work their way through the content at their own pace, so that advanced learners
                aren't being held back, and less-advanced learners aren't being left behind.
            </p>
        </div>
        <div class="span4">
            <h3>Easy data synchronization</h3>
            <p>
                Student data can be synchronized back to a central server when internet is available,
                allowing administrators to view aggregate and individual student statistics from one place.
            </p>
        </div>
        <div class="span4">
            <h3>Cross-platform device support</h3>

            <p>The KA Lite server can be run on Linux, Windows, and Mac computers, and students can connect to
                the server from any laptop/desktop computer, or Android tablet/phone.
            </p>
        </div>
    </div>

    <br/><br/>
{% endblock content %}
