{% extends "central/content/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Our Mission" %}{{ block.super }}{% endblock title %}

{% block content %}
    <div class="row-fluid content-page">
        <div class="span12">
            <div class="max-width-container">
                <br>
                <h1>Our mission</h1>
                <br>

                <h2>"Open access" isn't open to those offline.</h2>

                <p>
                    There has been a lot of excitement around the “online learning revolution” that has been unfolding over the past few years, and one of the primary virtues being celebrated is the <b>potential for ubiquitous access</b>. 
                </p>

                <p>
                    <a href="http://www.khanacademy.org/" target="_blank">Khan Academy</a>, for instance, is founded on the mission of <i>“providing a free world-class education for anyone anywhere”</i>, and <a href="http://www.coursera.com" target="_blank">Coursera</a> aims <i>“to give everyone access to the world-class education that has so far been available only to a select few”</i>. 
                </p>

                <p>
                    One of the most challenging barriers to accessing online learning resources is the massive disparities in internet connectivity between developed and developing regions, with <b>approximately 65% of the world still not classified as internet users</b>, according to the <a href="http://data.worldbank.org/data-catalog/world-development-indicators" target="_blank">World Development Indicators</a> compiled by the World Bank.
                </p>

                <div class="mission-map">
                    <img  src="{% static 'images/central/Internet-map.png' %}">
                    <p class="mission-map__label">Map of the distribution of internet users</p>
                </div>

                <p>
                    Bridging the offline gap is therefore necessary for any strategy that hopes to use education to "level the global playing field"; otherwise populations that could benefit most from access to these educational resources may be left further behind.
                </p>

                <p>
                    <br/>
                    <h2>Offline populations are the ones in greatest need of open access materials</h2>
                </p>

                <p>
                    The countries with the least internet access are the same countries likely to have fewer educational resources, such as teachers and books, available to learners. This can be poignantly visualized by comparing countries’ internet penetration rates with their pupil/teacher ratios (below), and noting that the countries with the fewest teachers per student also have the least internet, and hence the populations that could potentially most benefit from alternative educational resources are the same ones that are least able to access them.
                </p>

                <p>
                    If we’re serious about achieving the online learning revolution’s mission of universal access, and don’t want to leave further generations of students behind by waiting for high-speed internet to reach everyone, then we need to explore solutions for distributing and hosting open educational resources via low-bandwidth and offline channels, taking advantage of low-cost or pre-existing infrastructure.
                </p>

                <div class="mission-map">
                    <img src="{% static 'images/central/student-teacher-ratio-vs-internet-users.png' %}">
                    <p class="mission-map__label">Student teach ratio vs internet user</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
