{% extends "central/content/base.html" %}
{% block title %}Who is Using it?{{ block.super }}{% endblock title %}

{% block content %}

<h1>Our Users</h1>

<div class="row-fluid">
    <p>
        KA Lite is being used around the world in locations that have limited or no access to the Internet.
        Below are two deployments we've chosen to actively support, and some indication of the hundreds
        of people and organizations that are using our software off-the-shelf for their own needs.
    </p>

    <p>
        Have you installed KA Lite?  Are you using it? If so, <a href="mailto:stories@learningequality.org">please tell us about it, and send pictures!</a>
</div>

<div class="row-fluid">

    <div class="span6">
        <h2>Nalanda Project in Maharashtra State, India</h2>

        <p>4th Grade Students at <a href="http://www.akanksha.org/" target="_blank">Akanksha Schools</a> in Mumbai and Pune are using KA Lite to learn Mathematics. With a <a href="{% url wiki path='using-ka-lite/deployment/raspberry-pi-deployment' %}">Raspberry Pi</a> as a server and low cost Akash Tablets as client devices, students watch videos to learn and review Mathematics concepts, and then complete automated exercises to receive feedback on their procedural understanding.</p>
    </div>

    <div class="span6">
        <h2>Idaho Department of Correction</h2>

        <p>As part of the <a href="http://www.khanidaho.org/" target="_blank">KA in Idaho</a> project, the <a href="http://www.idoc.idaho.gov" target="_blank">Idaho Department of Correction</a> is using KA Lite in the Education programs in Correctional Facilities across the state. Lacking access to Internet access, inmates are able to watch videos and complete exercises, appropriate to their needs. In a population this diverse, the personalization afforded by KA Lite allows the students to learn at their own pace, and also learn valuable IT literacy skills at the same time.</p>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <h2>Known countries where KA Lite is being tested/deployed</h2>

        <p>
            In openly distributing software to offline communities, a big challenge is knowing when and where KA Lite is installed, 
            and how it is being used.  Below is a list of countries where we have confirmed that KA Lite has been installed.
            For a more detailed view, you can visit our <a href="http://learningequality.org/map/">map of known installations</a>
        </p>

        <p class="span2">
            Argentina<br/>
            Australia<br/>
            Austria<br/>
            Bangladesh<br/>
            Belgium<br/>
            Bhutan<br/>
            Brazil<br/>
            Bulgaria<br/>
            Cameroon<br/>
            Canada<br/>
            Central African Republic<br/>
            China<br/>
            Cook Islands<br/>
            Czech Republic<br/>
            Denmark<br/>
            Dominican Republic<br/>
            Egypt<br/>
        </p>

        <p class="span2">
Ethiopia<br/>
Europe<br/>
Finland<br/>
France<br/>
Germany<br/>
Ghana<br/>
Guatemala<br/>
Haiti<br/>
Hong Kong<br/>
Hungary<br/>
India<br/>
Indonesia<br/>
Italy<br/>
Jamaica<br/>
Japan<br/>
Kenya<br/>
Korea<br/>
</p>

        <p class="span2">
Kuwait<br/>
Latvia<br/>
Liberia<br/>
Madagascar<br/>
Malawi<br/>
Malaysia<br/>
Mexico<br/>
Mongolia<br/>
Myanmar<br/>
Namibia<br/>
Nepal<br/>
Netherlands<br/>
New Zealand<br/>
Nigeria<br/>
Norway<br/>
Pakistan<br/>
Paraguay<br/>
</p>
        <p class="span2">
Peru<br/>
Philippines<br/>
Poland<br/>
Portugal<br/>
Puerto Rico<br/>
Qatar<br/>
Romania<br/>
Saudi Arabia<br/>
Serbia<br/>
Singapore<br/>
Slovenia<br/>
South Africa<br/>
Spain<br/>
Sweden<br/>
Switzerland<br/>
Taiwan<br/>
Tanzania<br/>
</p>
        <p class="span2">
Thailand<br/>
Uganda<br/>
Ukraine<br/>
United Arab Emirates<br/>
United Kingdom<br/>
U.S.A. (46+ states)<br/>
Zambia<br/>
Zimbabwe<br/>
</p>
</div>



</div>
{% endblock %}