{% extends "central/content_page.html" %}
{% block title %}Who is Using it? {% endblock title %}

{% block content %}

<h1>Our Users</h1>
<p>
    KA Lite is being used around the world in locations that have limited or no access to the Internet.
</p>
<div class="row-fluid">

    <div class="span6">
    <h2>Nalanda Project in Maharashtra State, India</h2>

    <p>4th Grade Students at <a href="http://www.akanksha.org/">Akanksha Schools</a> in Mumbai and Pune are using KA Lite to learn Mathematics. With a Raspberry Pi as a server and low cost Akash Tablets as client devices, students watch videos to learn and review Mathematics concepts, and then complete automated exercises to receive feedback on their procedural understanding.</p></div>
    <div class="span6">
    <h2>Idaho Department of Corrections</h2>

    <p>As part of the KA in Idaho project, the Idaho Department of Corrections is using KA Lite in the Education programs in Correctional Facilities across the state. Lacking access to Internet access, inmates are able to watch videos and complete exercises, appropriate to their needs. In a population this diverse, the personalization afforded by KA Lite allows the students to learn at their own pace, and also learn valuable IT literacy skills at the same time.</p></div>
</div>
{% endblock %}