{% extends "faq/base.html" %}

{% block title %}{{ block.super }}FAQ: {{ object.text|truncatewords:30}}{% endblock %}


{% block content %}{{ block.super }}

<span class="question-detail-question"><h2>{{ object.text|safe }}{% if user.is_staff %}<a class="faq-change-links" target="_blank" href="/admin/faq/question/{{ question.pk }}/">(edit question)</a>{% endif %}</h2></span>

<div class="answer">{{ object.answer|safe }}</div>

</br>

<span><a href="{% url faq_topic_list %}">Back to topic list...</a></span>

{% endblock %}
