{% extends "faq/base.html" %}

{% block title %}{{ block.super }}FAQ: {{ topic }}{% endblock %}

{% block content %}{{ block.super }}
<h2>Frequently Asked Questions: {{ topic|safe }} {% if user.is_staff %}<a class="faq-change-links" href="/admin/faq/question/add/">(add question)</a>{% endif %}</h2>
<dl>
{% for question in questions %}
  <dt class="question"><a href="{{ question.get_absolute_url }}">{{ question.text|safe }}</a></dt>
  <dd class="answer">{{ question.answer|safe }}</dd>
{% endfor %}
</dl>
</br>
<a href="{% url faq_topic_list %}">Back to topic list...</a>
{% endblock %}
