{% extends "faq/base.html" %}

{% block title %}{{ block.super }}FAQ{% endblock %}

{% block content %}{{ block.super }}
<h1>Frequently Asked Questions {% if user.is_staff %}<a class="faq-change-links" href="/admin/faq/topic/add/">(add topic)</a>{% endif %}</h1>
<div id="id-topics-list">
	<ul>
	{% for topic in topics %}
	    <h2 class="topic-in-list"><a href="{{ topic.get_absolute_url }}">{{ topic|safe }}</a>{% if user.is_staff %}<a class="faq-change-links" target="_blank" href="/admin/faq/topic/{{ topic.pk }}/">(edit topic)</a>{% endif %}</h2>
	    {% for question in topic.questions.all %}
	    	<div class="topic-indented"><a href="{{ question.get_absolute_url }}">{{ question|safe }}</a></div>
	    {% endfor %}
	{% endfor %}
	</ul>
</div>
{% endblock %}
