<div class="sidebar-tab"></div>

<nav class="sidebar-panel" role="navigation" aria-label="Topic sidebar menu">
    {{!-- TODO: Replace icon with better chevron that looks different from the one in sidebar-tab --}}
    <div class="sidebar-back">
        <button class="simple-button green glyphicon glyphicon-arrow-left"></button>
    </div>
    <div class="sidebar-content"></div>
</nav>

<div class="sidebar-fade"></div>
