<h3>Playlist Progress Container</h3>
<div class="border-me-blue">
    {{title}}, {{id}}
    <button class="show-details">Show Details</button>
    <div class="playlist-progress-details">LOADING GIF GOES HERE</div>
</div>
