<!DOCTYPE HTML>
{% load i18n %}
{% load staticfiles %}

<html>
    <head>
    <!--[if lt IE 9]>
          <script src="{% static 'js/html5shiv.js' %}"></script>
    <![endif]-->

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% block titletag %}
        <title>{% block title %}{{ title }}{% endblock title %} | KA Lite</title>
        {% endblock %}

        {% if debug  %}
            <link rel="stylesheet/less" type="text/css" href="{% static 'less/bootstrap/bootstrap.less' %}"></link>
            <link rel="stylesheet/less" type="text/css" href="{% static 'less/bootstrap/responsive.less' %}"></link>
            <link rel="stylesheet/less" type="text/css" href="{% static 'less/style.less' %}"></link>
            <script type="text/javascript" src="{% static 'js/less.js' %}"></script>
        {% else %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.css' %}"></link>
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/responsive.css' %}"></link>
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"></link>
        {% endif %}

        {% block basecss %}{% endblock basecss %}
        {% block headcss %}{% endblock headcss %}
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        {% block jqueryjs %}
        <script type="text/javascript" src="{% static 'js/jquery-1.7.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/backbone-min.js' %}"></script>
        {% endblock jqueryjs %}
        <script type="text/javascript" src="{% static 'js/khan-lite.js' %}"></script>

        {% block headjs %}{% endblock headjs %}
        {% block basejs %}{% endblock basejs %}
        {% block extra_head %}{% endblock extra_head %}
        {% block extrahead %}{% endblock extrahead %}
        {% block analytics %}{% endblock analytics %}
    </head>

    <body>

    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <ul class="header__horizontal-menu">
                    <li class="header__logo"><a href="/"><img src="{% static 'images/horizontal-logo-small.png' %}" alt=""></a></li>
                    <ul class="header__horizontal-menu__right">
                        <li><a href="{% url homepage %}" class="{% block home_active %}{% endblock home_active %}">{% trans "Home" %}</a></li>
                        <li><a href="{% url wiki path='installation' %}">{% trans "Install" %}</a></li>
                        <li><a href="{% url faq_topic_list %}" class="{% block faq_active %}{% endblock faq_active%}">{% trans "FAQ" %}</a></li>
                        <li><a href="{% url contact_wizard %}"class="{% block contact_active %}{% endblock contact_active%}">{% trans "Contact" %}</a></li>
                        <li><a href="{% url about %}">{% trans "About Us" %}</a></li>
                    {% if not user.is_authenticated %}
                        <li><a href="{% url auth_login %}" id="login" class="{% block login_active %}{% endblock login_active %}">{% trans "Login" %}</a></li>
                    {% else %}
                        {% if user.is_superuser %}
                        <li><a href="{% url admin:index %}" >{% trans "Admin" %}</a></li>
                        {% endif %}
                        <li><a href="{% url org_management %}" class="{% block org-management_active %}{% endblock org-management_active %}">{{ user.username }}</a></li>
                        <li><a href="{% url auth_logout %}" id="logout">{% trans "Logout" %}</a></li>
                    {% endif %}
                    </ul>
                </ul>
            </div>
        </div>
        
        <div class="row-fluid content"> 
            <div class="span12 content-padding">
                {% block content %}{% endblock content %}
            </div>
        </div>

    {% block landing-page %}{% endblock landing-page %}
    <div class="row-fluid">
    <div class="span12">
        <p>Videos and Exercises &copy; 2013 Khan Academy 
        <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/" target="_blank" ><img src="{% static 'images/creative-commons.png' %}" alt="" class="cc-logo"></a>
        </p>
    </div>
    </div>
    </div>
    
    {% block bodyjs %}{% endblock bodyjs %}
    </body>
</html>

