{% extends 'base.html' %}

{% load i18n %}

{% block titletag %}
<title>{% block title %}{{ title }}{% endblock title %} | {% trans "KA Lite, an offline version of Khan Academy" %}</title>
{% endblock %}

{% block basecss %}
<style type="text/css">
ul {
    list-style: disc outside none;
    margin-left: 20px;
    font-size: 14px;
}
article {
    padding: 30px;
}
#nav_signup, #nav_login, #nav_admin, #nav_faq, #nav_contact, #nav_aboutus, #nav_install {
    display: block;
}
</style>
{% endblock basecss %}

{% block analytics %}{% include 'central/web_analytics.html' %}{% endblock analytics %}

{% block sitewide_navigation %}
    {% if user.is_authenticated %}
        <a href="{% url auth_logout %}">Logout</a>
        <a href="{% url org_management %}" id="nav_faq" class="{% block control_panel_active %}{% endblock control_panel_active %}{% block coachreports_active %}{% endblock coachreports_active %}{% block selfreports_active %}{% endblock selfreports_active %}">{{ user.username }}</a>
        {% if user.is_superuser %}
        <a href="{% url admin:index %}" id="nav_admin" class="{% block admin_active %}{% endblock admin_active %}">Admin</a>
        {% endif %}
    {% else %}
        <a href="{% url auth_login %}" id="nav_login" class="{% block login_active %}{% endblock login_active %}">Login</a>
    {% endif %}    
    <a href="{% url about %}" id="nav_aboutus" class="{% block aboutus_active %}{% endblock aboutus_active %}" target="_blank">About</a>
    <a href="{% url contact_wizard %}" id="nav_contact" class="{% block contact_active %}{% endblock contact_active %}">Contact</a>
    <a href="{% url faq_topic_list %}" id="nav_faq" class="{% block faq_active %}{% endblock faq_active %}">FAQ</a>
    <a href="{% url wiki path='installation' %}" id="nav_install" class="{% block install_active %}{% endblock install_active %}" target="_blank">Install</a>
    <a href="{% url homepage %}" id="nav_home" class="{% block home_active %}{% endblock home_active %}">Home</a>
{% endblock sitewide_navigation %}

