{% extends 'central/base.html' %}

{% block title %}Glossary{% endblock title %}

{% block content %}

<div class="span12">
    <h2>Glossary<h2>
    
    <div class="glossary-element">
        <ul>
            <li class="glossary-title">Facility</li>
            <li class="glossary-description">A Facility is a physical location to which Students and Teachers belong.</li>
        </ul>
    </div>
    <div class="glossary-element">
        <ul>
            <li class="glossary-title">Organization</li>
            <li class="glossary-description">An Organization is a group of people responsible for administering a set of Zones and Facilities.</li>
        </ul>
    </div>
    <div class="glossary-element">
        <ul>
            <li class="glossary-title">suggested</li>
            <li class="glossary-description">A Zone is a collection of Devices and Facilities within which student data is synchronized. Two Devices in the same Zone, if synced, can be used interchangeably by students.</li>
        </ul>
    </div>

</div>
{% endblock content %}