{% extends 'base_central.html' %}

{% block home_selected %}selected{% endblock home_selected %}

{% block headjs %}
<script type='text/javascript' src='{{ MEDIA_URL }}js/underscore.js'></script>
<script>
    
</script>
{% endblock headjs %}

{% block headcss %}

<style>
body {
	min-height: 500px;
}

ul, li {
    list-style: none;
    margin-left: 15px;
}

.help_text {
	margin: 2px 0px;
	font-size: 12px;
	position: relative;
	top: -20px;
}

.facility_link {
	padding-left: 5px;
}

h2, h3, h4 {
	margin-bottom: 5px;
}

.organization {
	margin-bottom: 20px;
	border-bottom: dotted gray 1px;
}

#aff_zones {
	font-weight: bold;
}

#container .h3 !important{
	border-bottom: none;
}


#last {
	margin-top: 25px;
}

</style>

{% endblock headcss %}

{% block content %}

<div id="org_list_container">
	<h1>My Organizations</h1>
	<p class="help_text">(Click on any organization or zone name to update information).</p>
	<ul id="org_list">
		{% if organizations %}
			{% for org in organizations %}
				<li class="organization">
					<h2><a href="{% url organization_form id=org.id %}">{{ org.name }}</a></h2>
					<ul class="zone_list">
						<h4 id="aff_zones">Affiliated Zones</h4>
						{% for zone in org.get_zones %}
						<li class="zone_title">
							<h4><a href="{% url zone_form org_id=org.id id=zone.id %}">{{ zone.name }}</a><span class="facility_link"><a href="{% url central_facility_admin zone_id=zone.id %}">(Administer facilities)</a></span></h4>
						</li>
						{% endfor %}
						<li>
						  <a href="{% url zone_form org_id=org.id id='new' %}">Create a new zone.</a>
						</li>
						
					</ul>
					<ul class="member_list">
						<h4 id="aff_members">Affiliated Members</h4>
						{% for member in org.get_members %}
							<li class="member_name">
								<h4>
									{% if member.first_name and member.last_name %}
										{{ member.first_name }}&nbsp;{{ member.last_name}},
									{% else %}
										{{ member.username }},
									{% endif %}
										&nbsp;{{member.email }}
								</h4>
							</li>
						{% endfor %}
						{% for invited in invitations %}
							{% if invited.organization == org %}
								<li class="invited_members">
									<h4>
										{{ invited.email_to_invite }} has been invited to join {{ org }}.
									</h4>
								</li>
							{% endif %}
						{% endfor %}
						<h4 id="invite_member">
							Add New Members
						</h4>
						<form method="post">
							{% csrf_token %}
							{% for error in org.form.non_field_errors %}
								<span class="errors">{{ error }}</span>
							{% endfor %}
							<input type="hidden" name="organization" value="{{ org.pk }}">
							{{ org.form.invited_by }}
							<li>
								{{ org.form.email_to_invite }}
							</li>
							<li>
								<input type="submit" value="Send invite!">
							</li>
						</form>
					</ul>
				</li>
			{% endfor %}
			<li id="last">
				<a href="/organization/new/">Create a new organization.</a>
			</li>
		{% else %}
			<li>
				You currently have no organizations. Would you like to <a href="/organization/new/">create a new organization?</a>
			</li>
		{% endif %}
	</ul>
</div>

<div>	
	<p>After creating an organization and adding a zone to it, above, you're ready to follow the <a href="https://github.com/jamalex/ka-lite/blob/master/INSTALL.md" target="_blank">installation instructions</a> on the server where you'll be running KA Lite.</p>
</div>

{% endblock content %}