{% extends 'base_central.html' %}

{% block home_selected %}selected{% endblock home_selected %}

{% block headjs %}
<script type='text/javascript' src='{{ MEDIA_URL }}js/underscore.js'></script>
<script>
    
</script>
{% endblock headjs %}

{% block headcss %}

<style>
body {
	min-height: 500px;
}

ul, li {
    list-style: none;
    margin-left: 15px;
}

.help_text {
	margin: 2px 0px;
	font-size: 12px;
	position: relative;
	top: 0px;
}

.facility_link {
	padding-left: 5px;
}

h1.title {
	font-size: 30px;
}

h2, h3, h4 {
	margin-bottom: 5px;
}

.title-bar {
	margin-bottom: .7em;
}

.title-bar > a {
	position: relative;
	top: 2px;
}

h2.title {
	float: left;
	margin-right: 5px;
}

h2.title {
	font-size: 25px;
}

h4.title {

	font-weight: bold;
}

#container .h3 !important{
	border-bottom: none;
}


#last {
	margin-top: 25px;
}

.organization {
	width: 90%;
	padding: 20px 0px;
	padding-left: 20px;
	margin: 20px 0px;
	border: 1px dotted gray;
	border-radius: 5px;
	background-color: #F8F8F8;
}

.organization > li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#new-zone {
	margin-top: 10px;
}

#zones, #members {
	width: 45%;
	float: left;
}

.clearfix {
	width: 100%;
	clear: both; 
}

</style>

{% endblock headcss %}

{% block content %}

<div id="org_container">
	<h1 class="title">My Organizations</h2>
	{% if received_invitations|length > 0 %}
		<div class="org-invite">
				{% for invite in received_invitations %}
					<form method="post" action="{% url org_invite_action invite_id=invite.pk %}"> 
						{% csrf_token %}
						<div>
							You have been invited by {{ invite.invited_by }} to help administer "{{ invite.organization }}." Please click below to join the organization or decline this invitation. 
						</div>
						<div> 
							<input type="submit" name="join" value="Join">
							<input type="submit" name="decline" value="Decline">
						</div>
					</form>
				{% endfor %}
		</div>
	{% endif %}
	<div id="organizations">
			{% if organizations %}
				{% for org in organizations %}
					<div class="organization">
						<div class="title-bar">
							<h2 class="title">{{ org.name }}</h2><a href="{% url organization_form id=org.id %}">(edit)</a>
						</div>
						<div id="zones">
							<h4 class="title">Affiliated Zones</h4>
							{% for zone in org.get_zones %}
								<h4><a href="{% url zone_form org_id=org.id id=zone.id %}">{{ zone.name }}</a><span class="facility_link"><a href="{% url central_facility_admin zone_id=zone.id %}">(Administer facilities)</a></span></h4>
							{% endfor %}
							<form method="link" action="{% url zone_form org_id=org.id id='new' %}">
								<input class="add" type="submit" value="Create a new zone">
							</form>
						</div>
						<div id="members">
							<h4 class="title">Organization Admins</h4>
							{% for member in org.get_members %}
								<h4 title="{{member.email }}">
									{% if member.first_name and member.last_name %}
										{{ member.first_name }}&nbsp;{{ member.last_name }}
									{% else %}
										{{ member.username }}
									{% endif %}
								</h4>
							{% endfor %}
							{% for invite in sent_invitations %}
								{% if invite.organization == org %}
									<h4>
										{{ invite.email_to_invite }} has been invited to join {{ org }}.
									</h4>
								{% endif %}
							{% endfor %}
							<div class="add">
								<h4 class="title">
									Add Admin
								</h4>
								<form method="post">
									{% csrf_token %}
									{% for error in org.form.non_field_errors %}
										<span class="errors">{{ error }}</span>
									{% endfor %}
									<input type="hidden" name="organization" value="{{ org.pk }}">
									{{ org.form.invited_by }}
									<input type="text" placeholder="example@email.com" name="email_to_invite">
									<input type="submit" value="Send invite!">
								</form>
							</div>
					</div>
					<div class="clearfix"></div>
					</div>
				{% endfor %}
				<div id="last">
					<form method="link" action="/organization/new/">
						<input type="submit" value="Create a new organization">
					</form>
				</div>
			{% else %}
				<div>
					You currently have no organizations. Would you like to <a href="/organization/new/">create a new organization?</a>
				</div>
			{% endif %}
	</div>
</div>

<div>	
	<p>After creating an organization and adding a zone to it, above, you're ready to follow the <a href="https://github.com/jamalex/ka-lite/blob/master/INSTALL.md" target="_blank">installation instructions</a> on the server where you'll be running KA Lite.</p>
</div>

{% endblock content %}