{% extends "central/base.html" %}

{% load i18n %}
{% load my_filters %}
{% load staticfiles %}

{% block title %}{% trans "Installation" %}{% endblock %}

{% block install_active %}active{% endblock install_active %}

{% block headcss %}{{ block.super }}

{% endblock headcss %}

{% block content %}
{% comment "Header instructions" %}{% endcomment %}
<div class="instructions"></div>

{% comment "Form for downloading KALite is accessible only to authenticatd users" %}{% endcomment %}
<div class="installation">
    <h1>Installation</h1>
    <form name="test" method="post" class="basic-form">
    {% csrf_token %} 

    {% if user.is_anonymous %}
    <div class="row-fluid">
        <div class="span6"><img width="300" src="{% static 'images/single-server.png' %}" />
        <p>EXPLANATION</p>
        </div>
        <div class="span6">
        <img width="300" src="{% static 'images/multiple-server.png' %}" />
        <p>EXPLANATION</p>
        </div>
    </div>
                
        <table class="table">
            <tr>
                <th>Features</th>
                <th>Single server edition</th>
                <th>Multiple server edition</th>
            </tr>
            <tr>
                <td>Students can log in and record progress.</td>
                <td>&#x2713;</td>
                <td>&#x2713;</td>
            </tr>
            <tr>
                <td>Share student and teacher data across multiple installs</td>
                <td>&nbsp;</td>
                <td>&#x2713;</td>
            </tr>
            <tr>
                <td>View usage data online</td>
                <td>&nbsp;</td>
                <td>&#x2713;</td>
            </tr>
            <tr>
                <td></td>
                <td>                
                <button class="button-green" type="button" onclick="javascript:window.location.href='single-server/'">
                Download <br>Single-server Edition
                </button>
                </td>
                <td>                
                <button class="button-green" type="button" onclick="javascript:window.location.href='multiple-server/'">
                Login to get <br>Multiple-servers Edition
                </button>
                </td>
            </tr>
        </table>
    {% else %}
    <div id="zone_section">
            <div class="errors">{% for err in errors %}{{ err }}{% endfor %}</div>
            <div class="row-fluid">
                <div class="span2">
                    <p class="form-dropdown-label">{% trans "Select Organization:" %}</p>
                </div>
                <div class="span10">
                    <select name="organization" id="organization">
                        {% for org in organizations %}
                        <option value="{{ org.id }}" {% if selected_organization.id == org.id %}selected{% endif %}>
                            {{ org }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div> <!-- .row-fluid -->

            <div class="form-section">
                <div class="row-fluid">

                    <div class="span2">
                        <p class="form-dropdown-label">{% trans "Select Zone:" %}</p>
                    </div>
                    <div class="span10">
                        <div class="form-selection">
                            <select name="zone" id="zone">
                                <option disabled="disabled" value="__empty__" {% if not selected_zone %}selected{% endif %}>
                                    --select your zone--
                                </option>
                                {% for zone in zones %}
                                <option value="{{ zone.id }}"{% if selected_zone.id == zone.id %}selected{% endif %}>
                                    {{ zone }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12"> 
                    <button class="button-green--large" type="submit">
                        Download Multiple-servers Edition
                    </button>
                </div>
            </div>
        </div><!-- zone_section -->
    {% endif %}

        
    </div><!-- installation -->


    <div id="instructions" style="display:none">
        <div id="windows-instructions">
            Windows installation instructions:
            <ul>
                <li>Click "download" to download the Windows installer</li>
                <li>When the download completes, copy the file to your server(s).
                    <li>From the server(s), unzip the zip file.</li>
                    <li>From the server(s), double-click the install.bat script (inside the ka-lite folder).</li>
                    <li>After installation completes, double-click the start.bat script (inside the ka-lite folder) .</li>
                </ul>                
            </div>
            <div id="linux-instructions">
                Linux installation instructions:
                <ul>
                    <li>Click "download" to download  the KA Lite zip file.</li>
                    <li>When the download completes, copy the file to your server(s).</li>
                    <li>From the server(s), unzip the zip file.</li>
                    <li>From the server(s), run the install.sh script (inside the ka-lite folder).</li>
                    <li>From the server(s), run the start.sh script (inside the ka-lite folder).</li>
                </ul>
            </div>
            <div id="darwin-instructions">
                Mac installation instructions:
                <ul>
                    <li>Click "download" to download  the KA Lite zip file.</li>
                    <li>When the download completes, copy the file to your server(s).</li>
                    <li>From the server(s), unzip the zip file.</li>
                    <li>From the server(s), run the install.sh script (inside the ka-lite folder).</li>
                    <li>From the server(s), run the start.sh script (inside the ka-lite folder).</li>
                </ul>
            </div>
            <div id="python-instructions">
                Python - this is the program that runs KA Lite; please install as well!
                <ul>
                    <li><a target="_new" href="http://www.python.org/getit/releases/2.7.5/#download">Download Python</a>.</li>
                    <li>Copy the Python installer over to your server.</li>
                    <li>Install Python</li>
                    <li>Make sure to add Python to your PATH (<a target="_new" href="https://www.google.com/search?q=add+python+to+path+tutorial+windows">Windows</a>, <a target="_new" href="https://www.google.com/search?q=add+python+to+path+tutorial+linux">Linux</a>, <a target="_new" href="https://www.google.com/search?q=add+python+to+path+tutorial+mac">MacOS</a>)</li>
                </div>  
            </div>
            {% endblock %}
