{% extends 'base_central.html' %}

{% block home_selected %}selected{% endblock home_selected %}

{% block headcss %}
<style type="text/css">

/**** Landing Page Specific Style by Pratik Pramanik ****/

/*** Layout ***/
.row{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.col{
    float: left;
}
.subscriberow{
    min-height: 100px;
}
.videorow{
    /*Width works out to be 1038px*/
    min-height: 290px;
}
/*** Layout END ***/

/** Content Section Containers **/
/* Relevant to Video Section*/
#video_sec{
    /*hi*/
}

/* Relevant to Motivation Section */
#motivation_sec{
    /*Border*/
    border-top: 4px;
    border-bottom: 4px;
    border-right: 1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: #d5deb9;      /* Color: (Unoffical) Khan Grey Green*/
    border-style: solid;
    
    /*Sizing*/
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 0;
    width: 46.4%;
    min-height: 262px; /*account for padding and border 10+10+4+4 = 28 :: 290 - 28 = 262*/
}
.greenword{
    color: #78AB46;             /* Color: Pea Green */
}
.onecol-spacer-left,
.onecol-spacer-right {
    width: 20%;
    visibility: hidden;
}

/* Get Started section */
#second-row {
    margin-top: 25px;
    height: 70px;

    width: 80%;
}
#get_started_sec {
    text-align: center;
    padding-bottom: 15px;

    /* Size */
    padding-left: 10px;
    padding-right: 10px;
    width: 30%;

    border-right: 1px;
    border-color: #DBE6E0;      /* Color: Moon */
    border-style: solid;
}
#get-started-button{
    margin-top: 5px;
    background: #78AB46;        /* Color: Pea Green */
    color: white;
    border-width: 1px;
    border-color: #9CBA7F;      /* Color: Mint Candy */
    border-radius: 5px;
    width: 80%;
    min-width: 199px;
    height: 50px;
    font-size: 24px;
}
#get-started-button:hover{
    color: #DBE6E0;             /* Color: Moon */
}

/* Relevant to contribute section */
#contribute_sec{
    width: 60%;
    margin-left: 10px;
    /*border-right: 1px;*/      /* Uncomment when donate is back */
}
#contribute_sec div{
    float: left;
}
#contribute-text{
    line-height: 21px;
    font-size: 13px;
    width: 60%;
    text-align: justify;
}
/*button stuff*/
#contribute-button{
    background: #78AB46;        /* Color: Pea Green */
    border-width: 1px;
    border-color: #9CBA7F;      /* Color: Mint Candy */
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    padding-top: 12px;

    /* Text */
    text-align: center;
}
#contribute_sec button{
    color: white;
    line-height: 14px;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 5px;
}
#contribute_sec button:hover{
    color: #DBE6E0;      /* Color: Moon */
    line-height: 14px;
}
.contribute-button-subtitle{
    font-size: 10px;
}

/* Relevant to subscription section */
.subscriberow{
    margin-top: 10px;
}
#subscribe_sec{
    border-color: #DBE6E0;      /* Color: Moon */
    border-style: solid;
    
    /*Size*/
    padding-left: 10px;
    padding-right: 10px;
    width: 60%;
    
    /*Layout*//*
    position: relative;
    left: 20%;*/
}
#subscribe_sec .cent-s-by-s{
    float: left;
}
.subscribe-title h1,h2{
    color: #78AB46;             /* Color: Pea Green */
    font-weight: bold;
    line-height: normal;
    margin-bottom: 2px;
    text-align: center;
}
.subscribe-title h1{
    font-size: 30px;
}
.subscribe-title h2{
    font-size: 24px;
}
.exclamation{
    font-size: 6.2em;
    margin-top: 20px; /* not a perfect way to do it.... */
    margin-left: 3px;
}
.subscribe-text{
    width: 40%;
    margin-left: 10px;
    margin-top: 10px;
    line-height: normal;
    font-size: 13px;
    text-align: justify;
}
.subscribe-form{
    width: 25%;
    margin-left: 10px;
    margin-top: 5px;
}
.subscribe-form form{
    padding: 1px;
}
.subscribe-form input[type=text]{
    border: 1px;
    border-radius: 5px;
    border-color: #bbb;         /* Color: medium-light Grey */
    border-style: solid;
    padding: 1px;
    padding-left: 3px;
    width: 100%;
    font-size: 12px;
    
    /*font*/
    color: #555;                /* Color: Medium Grey */
    font-style: oblique;
}
.subscribe-form input[type=button]{
    background: #78AB46;        /* Color: Pea Green */
    color: white;
    border-width: 1px;
    border-color: #9CBA7F;      /* Color: Mint Candy */
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
}
.subscribe-form input[type=button]:hover{
    color: #DBE6E0;      /* Color: Moon */
}

/* Relevant to share section */
#share_sec{
    width: 37%;
    border-color: #DBE6E0;      /* Color: Moon */
    border-style: solid;
}
#share_sec div{
    float: left;
}
#share-text{
    margin-top: 5px;
    width: 24%;
}
.share-title{
    font-size: 22px;
}
#share-block{
    margin-left: 15px;
    margin-top: 10px;
}

/* Relevant to donate section */
#donate_sec{
    display: none;
    width: 25%;
    margin-left: 10px;
}
#donate_sec div{
    float: left;
}
#donate-text{
    margin-top: 4px;
    line-height: 14px;
    font-size: 12px;
    text-align: justify;
    width: 65%;
}
/*button stuff*/
#donate-button{
    background: #78AB46;        /* Color: Pea Green */
    border-width: 1px;
    border-color: #9CBA7F;      /* Color: Mint Candy */
    border-radius: 5px;
    padding: 10px;
    padding-top: 12px;
    width: 80px;

    /* Text */
    text-align: center;
}
#donate_sec button{
    color: white;
    line-height: 14px;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 20px;
}
#donate_sec button:hover{
    color: #DBE6E0;      /* Color: Moon */
    line-height: 14px;
}
/** Content END **/

/*** Landing Page END */

/* Pre-Fully internal stylesheet CSS*/
ul {
    list-style: disc outside none;
    margin-left: 20px;
    font-size: 14px;
}
#logo-image-small img {
    width: auto;
}
article {
    padding: 30px;
}
#nav_signup, #nav_login, #nav_admin {
    display: block;
}

</style>
{% endblock headcss %}

{% block content %}
          
<!--This part of the Landing created by Pratik Bose Pramanik. Contact him if things look bad. -->

<div id="content_rounded"> <!-- start content probably dont need this -->

<!--First Content Row-->
<div class="row videorow">
    <!-- Video or Image Carousel -->
    <div id="video_sec" class="col twocol">
        <embed 
            width="514" 
            height="290" 
            src="http://www.youtube.com/embed/34n6s-17AsM?showinfo=0&modestbranding=0"
            frameborder="0"  
            allowfullscreen>
        </embed>
    </div>
    <!-- Motivation -->
    <div id="motivation_sec" class="col twocol">
        <h1>Only 30% of the world has access to the Internet.<br/>100% of the world needs an education.</h1>
        <p><span class="greenword">KA<em>lite!</em></span> lets remote communities get the benefit of the electronic education movement revolution.</p>
        <ul>
            <li>Access to more cirriculum than any other format.</li>
            <li>Minimal resources to get up and running. Can be served from a RPi or other low-cost computer capable of running Apache or WSGI.</li>
            <li>Enable students anywhere. Sync once and educate!</li>
        </ul>
    </div>
</div>

<!-- Second Content Row  - Get Started and Contribute -->
<div id="second-row" class="row">

    <div id="get_started_sec" class="col">
        <button id="get-started-button" onClick="window.open('https://github.com/jamalex/ka-lite/blob/master/INSTALL.md')"> Get Started! </button>
    </div>

    <div id="contribute_sec" class="col">
        <div id="contribute-text">
            Are you skilled at Python, Django, Javascript, HTML, CSS, QA, cryptyography or networking? <span class="greenword">Contribute</span> to this open-source project.
        </div>
        <button id="contribute-button" onClick="window.open('https://github.com/jamalex/ka-lite/blob/master/docs/DEVELOPMENT.md')">Contribute<br/><span class="contribute-button-subtitle">(via Github)</span></button>
    </div>

</div>

<!-- Third Content Row - Subscribe and Share -->
<div class="row subscriberow">

    <div id="subscribe_sec" class="col onecol">
        <div class="cent-s-by-s subscribe-title"><h1>SUBSCRIBE<br/></h1><h2>FOR UPDATES</h2></div>
        <div class="exclamation cent-s-by-s greenword">!</div>
        <div class="cent-s-by-s subscribe-text">
            We’re constantly updating this software and we’d love to let you know more about what we are developing.
        </div>
        <div class="cent-s-by-s subscribe-form">
            <form>
                <input type="text" name="email" value="email address"><br/>
                <input type="button" value="Subscribe">
            </form>
        </div>
    </div>

    <div id="share_sec" class="col social_media_sharing">
        <div id="share-text">
            <span class="greenword share-title">SHARE</span>
        </div>
        <div id="share-block">
            <!-- FB and Twitter -->
            <img src="/static/images/social-fb-t.png" width="101" height="62" alt="FB and twitter" usemap="#socialmap">
            <map name="socialmap">
                <area shape="rect" coords="0,0,50,62" alt="Facebook" href="http://www.facebook.com/share.php?u=http://bit.ly/RnZgUp">
                <area shape="rect" coords="51,0,101,62" alt="Twitter" href="https://twitter.com/intent/tweet?text=KAlite!:+Enabling+the+power+of+Khan+Academy+for+remote+communities+http://bit.ly/RnZgUp">
            </map>

            <!-- G+ -->
            <div class="g-plus" data-action="share" data-annotation="vertical-bubble" data-height="60" data-href="http://kalite.adhocsync.com/"></div>

            <!-- Pinterest -->
            <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fkalite.adhocsync.com&media=http%3A%2F%2Fkalite.adhocsync.com%2Fstatic%2Fimages%2Fka-logo-small.png&description=An%20amazing%20project%20to%20bring%20the%20Khan%20Academy%20educational%20experience%20to%20places%20without%20Internet%20access!" class="pin-it-button" count-layout="vertical"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>

            <!-- LinkedIN -->
            <script src="//platform.linkedin.com/in.js" type="text/javascript"> </script> <script type="IN/Share" data-url="kalite.adhocsync.com" data-counter="top"></script>
        </div>
    </div>

</div>

</div> <!--end promo content-->

<div id="bottom_content">

</div>
<!-- Pratik didn't touch stuff after this -->
{% endblock content %}

{% block bodyjs %}
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>        
{% endblock bodyjs %}

