{% extends "central/base.html" %}
{% load staticfiles %}

{% block control_panel_active %}active{% endblock control_panel_active %}

{% block headjs %}
	<script>
		// makes correct link submit form for removing admin & revoking invites
		$(function() {
			$('.remove-admin-submit, .remove-invite-submit').click(function(ev) {
				$(ev.srcElement).parents('form').submit();
				return false;
			});

			$('.glossary-link').wrap('<a href="{% url glossary %}"></a>');
		});

	</script>		
{% endblock headjs %}

{% block headcss %}{% endblock headcss %}

	{% block content %}
		
		<div class="row-fluid">
			<div class="span9">
				<div class="tooltip-container">
					<h1 >My Organization</h1>
					<div id="button-popover-org" class="button-popover" data-toggle="popover" data-placement="right" data-content="An Organization is a group of people responsible for administering a set of Zones and Facilities." title="" data-original-title="Organization">?</div>
				</div>

				 
			</div>
			<div class="span3">
				<form method="link" action="/organization/new/" class="neworg-button">
				<input type="submit" class="button-green--large" value="Create a new organization">
				</form>
			</div>
		</div>
		
		{% for invite in invitations %}
		<form method="post" action="{% url org_invite_action invite_id=invite.pk %}"> 
			{% csrf_token %}
			<div id="invite-text">
				<p>You have been invited by <a href="mailto:{{invite.invited_by.email}}">{% firstof invite.invited_by.get_full_name invite.invited_by.username %}</a> to help administer "<span style="font-weight:bold">{{ invite.organization }}</span>". Please click below to join the organization or to decline this invitation.</p> 
				<div class="inputs">
					<input type="submit" name="join" value="Join">
					<input type="submit" name="decline" value="Decline">
				</div>
			</div>
		</form>
		{% endfor %}
		
			
			{% if organizations %}
			{% for pk,org in organizations.items %}		
			<div class="row-fluid">
			<div class="span12 organization-title">
	
					<div class="tooltip-container">
						<h2>{{ org.name }}</h2>
						{% if org.name == HEADLESS_ORG_NAME %}
						<div id="button-popover-headless" class="button-popover" data-toggle="popover" data-placement="right" data-content="Headless zones are (auto-registered) zones not linked to any account." title="" data-original-title="Headless Zones">?</div>
			
						{% endif %}

				
				
					{% if org.name != HEADLESS_ORG_NAME %}
					<a href="{% url organization_form org_id=org.id %}">
						(Edit)
					</a>
					{% endif %}
				</div>
			</div>

			<div class="row-fluid">
			<div class="span6 padding-left-20">
			<h3>Affiliated Zones</h3>
			
			<table class="table">
			{% for zone in org.get_zones %}
			<tr>
				<td>{{ zone.name }}</td>
				<td><a class="zone-manage-link" href="{% url zone_management org_id=org.id zone_id=zone.id %}">
					manage
				</a></td>
			</tr>
			{% endfor %}
			</table>

			<form method="link" action="{% url zone_form org_id=org.id zone_id='new' %}">
				<input class="button-green--small" type="submit" value="Create a new zone">
			</form>
			</div>
			<div class="span6 padding-left-20">
			<h3>Organization Admins</h3>
			{% for member in org.get_members %}
			<table class="table">
				<tr>
			<td title="{{member.email }}" >
				{% firstof member.get_full_name member.username %}
			</td>
			<td>
				{% if org.owner == member and member == request.user %}
				(You are the owner)
				{% elif member == request.user %}
				(You)
				{% elif org.owner == member %}
				(Owner)
				{% else %}
				<form method="post" action="{% url delete_admin org_id=org.id user_id=member.id %}">
					{% csrf_token %}
					(<a href="" class="remove-admin-submit">Remove Admin</a>)
				</form>
				{% endif %}
			</td>
			</tr>
			{% endfor %}
			
			{% for invite in org.invitations.all %}
			

			<tr id="invited-tag">	
				<td>
				{{ invite.email_to_invite }} (invited)
					
				</td>

				<td>			
				<form method="post" action="{% url delete_invite org_id=org.id invite_id=invite.pk %}">
					{% csrf_token %}
					<a href="" class="remove-invite-submit">(Revoke Invite)</a>

				</form>
				</td>
			</tr>
			{% endfor %}
			</table
			<div class="add">
				<form method="post" class="form-inline">
					{% csrf_token %}
					<input type="hidden" name="organization" value="{{ org.pk }}">
					{{ org.form.invited_by }}
					
						<h4>Add Admin</h4>
						<input type="text" placeholder="example@email.com" name="email_to_invite">
						<input type="submit" class="button-green--small" value="Send invite!">
					

					{% for error in org.form.non_field_errors %}
					<div class="errors">{{ error }}</div>
					{% endfor %}
				</form>
			</div>
			</div><!-- .span6 -->
		</div> <!-- .row -->
		<br>
		{% endfor %}

		{% else %}
		<h2>You currently have no organizations. Would you like to <a href="/organization/new/">create a new organization</a>?</h2>
		<h2>To join an existing organization, contact one of its administrators to have them add you.</h2>
		{% endif %}

		{% if not organizations %}
		<p>After creating an organization and adding a zone to it, above, you'll be 
		{% else %}
		<p>You're
		{% endif %}
		ready to <a href="/install/">install KA Lite</a> (either on this machine, or to download the installation package to install offline on another machine)</p>

{% endblock content %}


{% block bodyjs %}


<script src="{% static 'js/bootstrap/tooltip.js' %}"></script>
<script src="{% static 'js/bootstrap/popover.js' %}"></script>
<script>
	// Used <div> instead of <a> to avoid a dirty js hack to avoid the reload to top page.
	$('#button-popover-org').popover()
	$('#button-popover-headless').popover()
</script>
{% endblock bodyjs %}
