{% extends base_template %}
{% load i18n %}

{% block content %}
    <form method="post" class="basic-form">
        {% csrf_token %}

        {% if form.instance.pk %}
        <h2>{% trans "Update Your Organization" %}</h2>
        {% else %}
        <h2>{% trans "Create An Organization" %}</h2>
        {% endif %}

        {{ form.as_p }}

        {% if form.instance.pk %}
        <input type="submit" value="{% trans 'Update Organization' %}" class="submit" />
        {% else %}
        <input type="submit" value="{% trans 'Create Organization' %}" class="submit button" />
        {% endif %}
    </form>
{% endblock content %}