{% extends 'central/base.html' %}

{% block content %}

<style>

input, textarea {
	width: 275px;
}

input.submit{
	margin-bottom: 100px;
	margin-top: 10px;
}

</style>

<form method="post" class="basic-form">
{% csrf_token %}

{% if form.instance.pk %}
<h2>Update Your Zone</h2>
{% else %}
<h2>Create A Zone</h2>
{% endif %}

{{ form.as_p }}

{% if form.instance.pk %}
<input type="submit" value="Update Zone" class="submit"/>
{% else %}
<input type="submit" value="Create Zone" class="submit"/>
{% endif %}

</form>

{% endblock content %}