<div class="vector_wrapper" allowfullscreen>
    <div class="vector_canvas_wrapper">
        <canvas class="vector_canvas" keepalive="true" resize="true"></canvas>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect vector_settings_btn">S</button>
    <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect vector_play_pause_btn vector_play_pause_btn_overlay"></button>
    <div class="vector_captions"></div>
    <div class="vector_bar">
        <p class="vector_seek_wrapper">
            <input class="mdl-slider mdl-js-slider vector_seeker" type="range" min="0" max="1000"
                   value="0" step="1">
        </p>
        <div class="vector_bar_items">

            <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect vector_replay_btn"></button>

            <span class="vector_current_time">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span> / </span>
            <span class="vector_total_time">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect vector_volume_label"
                   for="vector_volume_btn">
                <input type="checkbox" id="vector_volume_btn" class="mdl-icon-toggle__input vector_volume_btn">
                <i class="mdl-icon-toggle__label material-icons vector_volume_btn"></i>
            </label>
            <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect vector_full_screen_label"
                   for="vector_full_screen_btn">
                <input type="checkbox" id="vector_full_screen_btn"
                       class="mdl-icon-toggle__input vector_full_screen_btn">
                <i class="mdl-icon-toggle__label material-icons vector_full_screen_btn"></i>
            </label>

        </div>

        <div class="vector_settings">
            <button id="vector_playback_rate"
                    class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect vector_playback_rate_btn"></button>
            <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect vector_playback_rate_menu"
                data-mdl-for="vector_playback_rate">
                <li class="mdl-menu__item vector_playback_rate_item" data-rate="0.25">.25</li>
                <li class="mdl-menu__item vector_playback_rate_item" data-rate="0.5">.5</li>
                <li class="mdl-menu__item vector_playback_rate_item" data-rate="1.0">Normal</li>
                <li class="mdl-menu__item vector_playback_rate_item" data-rate="1.25">1.25</li>
                <li class="mdl-menu__item vector_playback_rate_item" data-rate="1.5">1.5</li>
                <li class="mdl-menu__item vector_playback_rate_item" data-rate="2">2</li>
            </ul>

            <button id="vector_zoom_level"
                    class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect vector_zoom_level_btn"></button>
            <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect vector_zoom_level_menu"
                data-mdl-for="vector_zoom_level">
                <li class="mdl-menu__item vector_zoom_level_item" data-zoom="1.0">Normal</li>
                <li class="mdl-menu__item vector_zoom_level_item" data-zoom="1.5">1.5</li>
                <li class="mdl-menu__item vector_zoom_level_item" data-zoom="2.0">2</li>
                <li class="mdl-menu__item vector_zoom_level_item" data-zoom="2.5">2.5</li>
                <li class="mdl-menu__item vector_zoom_level_item" data-zoom="3.0">3</li>
            </ul>

            <button id="vector_cc"
                    class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect vector_cc_btn"></button>
            <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect vector_cc_menu"
                data-mdl-for="vector_cc">
                <li class="mdl-menu__item vector_cc_menu_item" data-cc="off">Off</li>
                <li class="mdl-menu__item vector_cc_menu_item" data-cc="en">English</li>
                <li class="mdl-menu__item vector_cc_menu_item" data-cc="es">Spanish</li>
            </ul>

            <button id="vector_voice"
                    class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect vector_voice_btn"></button>
            <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect vector_voice_menu"
                data-mdl-for="vector_voice">
                <li class="mdl-menu__item vector_voice_menu_item" data-cc="original">Original</li>
                <li class="mdl-menu__item vector_voice_menu_item" data-cc="en">English</li>
                <li class="mdl-menu__item vector_voice_menu_item" data-cc="es">Spanish</li>
            </ul>


        </div>
    </div>
</div>