{% extends "base_central.html" %}

{% load i18n %}

{% block title %}{% trans "Contact Us!" %}{% endblock %}

{% block contact_active %}active{% endblock contact_active %}


{% block headcss %}
<style>
label {
    width:200px;
    display: block;
    float: left;
    text-align: left;
    padding-right: 10px;
    font-weight: bold;
    clear:left;
}
input {
	margin-bottom: 15px;
}
.submit {
    margin-left: 71px;
}
.form_label { float:left }
.form_values { float:left }
.form-section { clear:left;}

#depl_section, #supp_section, #info_section { display:none; margin-top:25px }
</style>
{% endblock headcss %}

{% block content %}

<h1>Contact us!</h1>

<p>Please fill out the form below, so we can respond to your inquiry as quickly as possible.  

<form method="post" action="?next={{ next|default:"/" }}">
{% csrf_token %}
<div class="form-section" id="contact_section">
{{ contact_form.as_p }}
</div>
<div class="form-section" id="depl_section">
{{ deployment_form.as_p }}
</div>
<div class="form-section" id="supp_section">
{{ support_form.as_p }}
</div>
<div class="form-section" id="info_section">
{{ info_form.as_p }}
</div>
<div class="form-section">
	<input type="submit" class="submit" value="Contact us!" />
</div>
</form>
<script>
function toggle_on_contact_div(nm) { 
    $("#depl_section").hide()
    $("#supp_section").hide()
    $("#info_section").hide()
    $("#"+nm+"_section").show()
}

$(function() {
    $("#id_cf-type").change(function()   { toggle_on_contact_div($("#id_cf-type").val()) });
    $("#id_cf-type").ready(function()   { toggle_on_contact_div($("#id_cf-type").val()) });
});
</script>

<p>If you are unable to submit this form, you can also contact us through email: <a href="mailto:{{ central_contact_email }}">{{ central_contact_email }}</a></p>
{% endblock %}
