<div class="store-item">
    <img class="store-item-image" src="{{ thumbnail }}"/>
    <div class="store-item-metadata">
        <div class="store-item-title">{{ title }}</div>
        <div class="store-item-description">{{ description }}</div>
        <button class="store-item-purchase-button btn btn-primary">Purchase ({{ cost }} points)</button>
    </div>
    <div class="clear"></div>
</div>