<div class="store-purchased-item">
    <img class="store-item-image" src="{{ item.thumbnail }}"/>
    <div class="clear"></div>
    <div class="store-item-title">{{ item.title }}</div>
    <div class="clear"></div>
</div>