<h2>Items Available for Purchase (<span class="points-remaining">{{ points }}</span> points remaining)</h2>
<div class="available-store-items"></div>
<div class="clear"></div>
<br/><br/>
<h2>Your Purchased Items</h2>
<div class="purchased-store-items"></div>
<div class="clear"></div>