
    <form id="create-user-form" method="post" action="/facility/config/" class="basic-form">
        <h4>Choose a username and password for the admin account.</h4>

        Username:<input type="text" name="username" class="user">
        Password:<input type="password" name="password" class="user">
        Re-type Password:<input type="password" name="password_confirm" class="user"><BR>

        <div id="device-config">
           <h4>Enter a hostname for this server. If left blank, it will default to {{ default_hostname }}</h4>
            Hostname: <input type="text" name="hostname"><br>

            <h4>Enter a one-line description for this server (optional). </h4>
            Description: <input type="text" name="description"><br>
            <button type="submit" value="Submit">Next</button>
        </div>
    </form>
