
<h4> Would you like to download assessment items now?</h4> 
<h6>(You can always download later by going to the 'Manage' tab while logged in as an admin)</h6>

<button type="btn btn-danger" id="download">{{_ "Download Assessment Items!" }}</button>
<button type="btn btn-danger">{{_ "Download later" }}</button>

