<h4>There is an update available. Would you like to upgrade your version of KA Lite?</h4>
<h6> You will be given the option to keep all your current data if you choose to update.</h6> 
<input type="radio" name="upgrade" value="yes"> Yes<br>
<input type="radio" name="upgrade" value="no"> No<br><br>

<h4> Would you like to keep your existing database? It will be migrated over to the new, updated version of KA Lite.</h4>
<input type="radio" name="keep_db" value="yes"> Yes<br>
<input type="radio" name="keep_db" value="no"> No<br><br>
