{% extends "registration/base.html" %}
{% load i18n %}
{% load humanize %}

{% block title %}{% trans "Account activated" %}{{ block.super }}{% endblock title %}

{% block content %}
    <h1>{% trans "Account activated." %}</h1>

    {% if account %}
    <p>
        {% trans "Thanks for signing up!" %} Now you can <a href="/accounts/login/">log in</a>.
    </p>
    {% else %}
    <p>
        {% blocktrans with ndays="{{ expiration_days|apnumber }}" %}Sorry, it didn't work.
        Either your activation link was incorrect, or the activation key for your account has expired.
        Activation keys are only valid for {{ ndays }} days after registration.
        If you think this could be the issue, try resubmitting your registration.
        {% endblocktrans %}
    </p>
    {% endif %}
{% endblock %}