{% extends "registration/base.html" %}

{% load i18n %}

{% block title %}Log in{% endblock %}

{% block register_active %}{% endblock register_active %}
{% block login_active %}active{% endblock login_active %}

{% block headcss %}

{% endblock headcss %}

{% block content %}

<h1>Log in</h1>

<p>Please note that this is the central server; you cannot log in here using your local server's account information.</p>

<p>If you do not have an account on the central server, you can <a href="/accounts/register/">sign up here</a>.</p>

{% if form.errors %}
  {% if debug %}
    <p class="errorlist">Debug-only info: {{ form.non_field_errors }}</p>
  {% endif %}
  {% if "inactive" in form.non_field_errors.0 %}
<p class="errorlist">{% trans "This account has not been activated." %}</p>
  {% else %}
<p class="errorlist">{% trans "Incorrect user name or password." %}</p>
  {% endif %}
{% endif %}
<form method="post" action="?next={{ next|default:"/" }}">{% csrf_token %}
	
	<ul class="nostyle-list">
		<li>
			<label for="id_username">
				Email
			</label>
		</li>
		<li>	
			{% if form.username.errors %} 
			<span class="errors">
				{{ form.email.errors.as_text }}
			</span>{% endif %}

			{{ form.username }}
		</li>
	</ul>
	<ul class="nostyle-list">
		<li>
		<label for="id_password">
			Password
		</label>
		</li>
		<li>
		{% if form.password1.errors %} 
		<span class="errors">
			{{ form.password1.errors.as_text }}
		</span>{% endif %}
		
		{{ form.password }}
	</li>
	</ul>
	<br>
    <input type="hidden" name="{{ redirect.name }}" value="{{ redirect.url }}" />
	<input type="submit" class="btn" value="Log in" />

</form>

<p>If you've forgotten your password, you can <a href="/accounts/password/reset/">reset it here</a>.</p>

{% endblock %}
