{% extends "registration/base.html" %}

{% block title %}Log in{% endblock %}

{% block register_selected %}{% endblock register_selected %}
{% block login_selected %}selected{% endblock login_selected %}

{% block headcss %}
<style>
label {
    width: 59px;
    display: block;
    float: left;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}
input {
	margin-bottom: 15px;
}
.submit {
    margin-left: 71px;
}
</style>
{% endblock headcss %}

{% block content %}

<h1>Log in</h1>

<p>Please note that this is the central server; you cannot log in here using your local server's account information.</p>

<p>If you do not have an account on the central server, you can <a href="/accounts/register/">sign up here</a>.</p>

{% if form.errors %}
<p class="login_error">Incorrect user name or password:</p>
{% endif %}
<form method="post" action="?next={{ next|default:"/" }}">{% csrf_token %}
<dl>
<dt>
	<label for="id_username">
		Email:
	</label>
	{% if form.username.errors %} 
	<span class="errors">
		{{ form.email.errors.as_text }}
	</span>{% endif %}
</dt>
<dd>
	{{ form.username }}
</dd>
<dt>
	<label for="id_password">
		Password:
	</label>
	{% if form.password1.errors %} 
	<span class="errors">
		{{ form.password1.errors.as_text }}
	</span>{% endif %}
</dt>
<dd>
	{{ form.password }}
</dd>
<dt>
	<input type="submit" class="submit" value="Log in" />
</dt>
</dl>
</form>
{% endblock %}

{% block content-related %}
<p>If you don't have an account, you can <a href="/accounts/register/">sign up</a> for one.
{% endblock %}