{% extends "registration/base.html" %}

{% block title %}Sign up{% endblock %}

{% block headcss %}
<style>
.form-section { width:75%; clear:left; }
.form-label label { width:150px; text-align:left}
.form-element { float:left; ;margin:0 }
.errorlisty { float:left; ;margin-left:25px; color:red}
.submit {
    margin-left: 71px;
}
.errorlist {
    /*position: relative;*/
    margin-top: -20px;
    margin-bottom: 0;
}
#org_details { display:none }
</style>
{% endblock headcss %}

{% block content %}

  {% if form.non_field_errors %}
  <div class="errorlisty">Please correct the errors below: {{ form.non_field_errors }}</div>
  {% endif %}

  <h1>Create an account</h1>
  
  <form method="post" action="" class="wide basic-form">
	{% csrf_token %}
    <input type="hidden" name="username"/>
    <div class="form-section">
        <div class="form-label"><label for="id_first_name">First Name:</label></div>
        <div class="form-element">{{ form.first_name }}</div>
        {% if form.first_name.errors %}
        <div class="errorlisty">{{ form.first_name.errors.as_text }}</div>
        {% endif %}
    </div>
    <div class="form-section">
        <div class="form-label"><label for="id_last_name">Last Name:</label></div>
        <div class="form-element">{{ form.last_name }}</div>
        {% if form.last_name.errors %}
        <div class="errorlisty">{{ form.last_name.errors.as_text }}</div>
        {% endif %}
    </div>
    <div class="form-section">
      <div class="form-label"><label for="id_email">Email address:</label></div>
      <div class="form-element">{{ form.email }}</div>
      {% if form.email.errors %}
        <div class="errorlisty">{{ form.email.errors.as_text }}</div>
      {% endif %}
    </div>
    <div class="form-section">
      <div class="form-label"><label for="id_org_name">Organization Name:</label></div>
      <div class="form-element">{{ org_form.name }}</div>
      {% if org_form.name.errors %}
        <div class="errorlisty">{{ org_form.name.errors.as_text }}</div>
      {% endif %}
    </div>
    <div class="form-section">
        <div class="form-label"><span style="margin-left:25px"><a href="#" onclick="$('#org_details').toggle()">Add details of your organization</a></span></div>
    </div>
    <div class="form-section" id="org_details">
        <div class="form-section">
          <div class="form-label"><label for="id_org_url">Organization URL:</label></div>
          <div class="form-element">{{ org_form.url }}</div>
          {% if org_form.url.errors %}
            <div class="errorlisty">{{ org_form.url.errors.as_text }}</div>
          {% endif %}
        </div>
        <div class="form-section">
          <div class="form-label"><label for="id_org_description">Organization Description:</label></div>
          <div class="form-element">{{ org_form.description }}</div>
          {% if org_form.description.errors %}
            <div class="errorlisty">{{ org_form.description.errors.as_text }}</div>
          {% endif %}
        </div>
        <div class="form-section">
          <div class="form-label"><label for="id_org_address">Organization Address:</label></div>
          <div class="form-element">{{ org_form.address }}</div>
          {% if org_form.address.errors %}
            <div class="errorlisty">{{ org_form.address.errors.as_text }}</div>
          {% endif %}
        </div>
        <div class="form-section">
          <div class="form-label"><label for="id_org_country">Organization Country:</label></div>
          <div class="form-element">{{ org_form.country }}</div>
          {% if org_form.country.errors %}
            <div class="errorlisty">{{ org_form.country.errors.as_text }}</div>
          {% endif %}
        </div>
        <div class="form-section">
          <div class="form-label"><label for="id_org_number">Organization Phone #:</label></div>
          <div class="form-element">{{ org_form.number }}</div>
          {% if org_form.number.errors %}
            <div class="errorlisty">{{ org_form.number.errors.as_text }}</div>
          {% endif %}
        </div>
    </div>
    <div class="form-section">
      <div class="form-label"><label for="id_password1">Password:</label></div>
      <div class="form-element">{{ form.password1 }}</div>
      {% if form.password1.errors %}
        <div class="errorlisty">{{ form.password1.errors.as_text }}</div>
      {% endif %}
    </div>
    <div class="form-section">
      <div class="form-label"><label for="id_password2">Password (again):</label></div>
      <div class="form-element">{{ form.password2 }}</div>
      {% if form.password2.errors %}
        <div class="errorlisty">{{ form.password2.errors.as_text }}</div>
      {% endif %}
    </div>
    <div class="form-section">
      <div class="form-label"><label for="id_tos1"></label></div>
      <div class="form-element"><input type="checkbox" name="email_subscribe">
      Subscribe to our "General Announcements" newsletter
      </div>
    </div>
    <div class="form-section">
      <div class="form-label"><label for="id_tos1"></label></div>
      <div class="form-element">{{ form.tos1 }}
      I acknowledge that the Khan Academy videos and exercises used within KA Lite are for
      <a href="http://www.khanacademy.org/about/tos#7" target="_blank">non-commercial purposes only</a>.
      </div>
      {% if form.tos1.errors %}
        <div class="errorlisty">{{ form.tos1.errors.as_text }}</div>
      {% endif %}
    </div>
    <div class="form-section">
      <div class="form-label"><label for="id_tos2"></label></div>
      <div class="form-element">{{ form.tos2 }}
      I acknowledge having read the <a href="http://www.khanacademy.org/about/api-tos" target="_blank">
      Khan Academy API terms of service</a>, and that KA Lite uses this API.
      {% if form.tos2.errors %}
        <div class="errorlisty">{{ form.tos2.errors.as_text }}</div>
      {% endif %}
    </div>
    <div class="form-section">
        <div class="submit"><input class="submit" type="submit" value="Register &rarr;"></div>
    </div>
  </form>
  
{% endblock %}

{% block content-related %}
<div class="form-section">Fill out the form to the left (all fields are required), and your
account will be created; you'll be sent an email with instructions on how
to finish your registration.</div>

<div class="form-section">We'll only use your email to send you signup instructions. We hate spam
as much as you do.</div>

<div class="form-section">This account will let you log into the ticket tracker, claim tickets,
and be exempt from spam filtering.</div>
{% endblock %}
