{% extends "distributed/base.html" %}

{% block content %}

<form action="/facility/edit_config/" method="POST">
    {% csrf_token %}
    {% if database %}
        <h1> hey, database exists. wanna keep? </h1>
        <input type="radio" name="database" value="yes"> Yes<br>
        <input type="radio" name="database" value="no"> No<br><br>
    {% else %}
        <h1> hey, database DNE. </h1>
    {% endif %}

    2) Please choose a username and password for the admin account.<BR>

    Username: <input type="text" name="username"></input><br>
    Password: <input type="text" name="password"></input><br>
    Re-type Password: <input type="text" name="retype_password"></input><br><br>

    <button type="submit" value="Submit">Submit</button>
</form>
{% endblock content %}
