{% extends base_template %}
{% load i18n %}

{% block users_active %}active{% endblock %}

{% block headcss %}{{ block.super }}
    <style>
        #id_facility {
            display: none;
        }
    </style>
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    <script>
        var DEFAULT_LANGUAGE = "{{ default_language }}";
        $(function() {
            // Guarantee that SOME language code is either SELECTED by the back-end,
            // or selected to the default value in the front-end.
            if ($('#id_default_language option[selected]').length == 0) {
                $("#id_default_language").val(DEFAULT_LANGUAGE);
            }

        {# Allow admins to add a new group #}
        {% if request.is_admin %}
            {% trans "Add a new group" as add_new_group %}
            $('#id_group').parent().find(".helptext").html('(<a href="{% url 'add_group' %}?facility={{facility.id}}&prev={{cur_url|urlencode:''}}">{{add_new_group}}</a>)');
        {% elif num_groups == 0 %}
            $('#id_group').parent().hide();
        {% endif %}

        {# Don't allow teacher accounts to be in a group. #}
        {% if request.is_admin and teacher %}
            $("#id_group").attr('disabled',true);
            $("#id_group").parent().hide();
        {% endif %}

        {# Hide facility info #}
        {% if not singlefacility %}
        $("#id_facility").parent().show()
        {% endif %}
        });
    </script>
{% endblock headjs %}

{% block content %}
    <h1>{{ title }}</h1>

    <form method="post" class="basic-form">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" class="submit" value="{% if user_id == 'new' %}{% trans 'Create user' %}{% else %}{% trans 'Update user' %}{% endif %}" />
    </form>
{% endblock content %}
