{% extends "distributed/base.html" %}

<script>
    var test = function(){ 
        console.log("clicked");
        $.post({
            url: "/facility/edit_config",
            data: {
                "database": "yes",
            }
        });
    };

</script>

{% if database %}
    1) A database exists. Would you like to keep the current existing file?
{% endif %}
<div>
    {% csrf_token %}
    <input type="radio" name="database" value="yes"> Yes
    <input type="radio" name="database" value="no"> No

    <br><br>

    2) Please choose a username and password for the admin account on this device. You must remember this login information, as you will need to enter it to administer this installation of KA Lite. <br>

    Username: <input type="text" name="username"></input> <br>
    Password: <input type="text" name="password"></input> <br>
    Re-type password: <input type="text" name="retype_password"></input><br><br>

    3) Please enter a hostname for this server. If left blank, it will default to: xxxx.<br>
    Hostname: <input type="text" name="hostname"></input><br><br>

    4) Please enter a one-line description for this server (optional).<br>
    Description: <input type="text" name="hostname"></input><br><br>

    5) Do you wish to download the assessment items package now? <br>

    <input type="radio" name="dl_assess" value="yes"> Yes<br>
    <input type="radio" name="dl_assess" value="no"> No<br>
    
    <button type="submit" value="Submit" onclick=test>Submit</button>
</div>




