{% extends "distributed/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block headjs %}
    <script src="{% static 'js/facility/bundles/bundle_facility.js' %}"></script>
{% endblock headjs %}


{% block content %}
<h1> username you chose is : {{ username }} </h1>
    <form action="/facility/dl_assess/" method="POST">
    {% csrf_token %}
        <h4>5) Would you like to download assessment items now? (You can always download later by going to the 'Manage' tab while logged in as an admin)</h4><BR>
        <a class="btn" href="/facility/dl_assess/">NO THANK YOU.</a>
    </form>

    <!-- <div class="progress-bar" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">66%</div>

    <script>
        $('.progress-bar').hide();

        $('#btn').on('click', function() {
            
            console.log("button eing clicked");
            if ( $("input[name='download-items'][value='yes']").is(':checked') ) {
                $('.progress-bar').show();
            }
            else 
                $('.progress-bar').hide();
        });
    </script> -->

{% endblock content %}
