#table div {
    margin-top: 25px;
}
.tooltip {
    padding: 10px;
}

.username {
    font-weight: bold;
}

table.detail {
    width: 100%;
    border: 1px solid green;
}

table.detail td {
    max-width: 70%;
}

table.detail td.data {
    width: 25%;
}

.tooltip > div {
    max-height: 100px;
    overflow: hidden;
    overflow-x: hidden;
    margin-top: 3px;
}

.tooltip .username {
    overflow: hidden;
    float: left;
    vertical-align:middle;
    /*padding-right: 5%;*/
}

.struggling {
    background-color: #fcc;
}

.notattempted {
    background-color: #ccc;
}

.attempted {
    background-color: #cfc;
}

#legend {
    vertical-align:middle;
    margin:12px 25px 2px 10px;
    overflow: hidden;
}

.legend {
    float:left;
    height:20px;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
    border-width: 1px;
    padding:2px;
    margin-right: 2px;
    
}
.legend div {
    float:left;
    width:35px;
    height:21px;
    overflow: hidden;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}