{% load staticfiles %}
{% load i18n %}
{% load i18n_filters %}

<footer class="header-footer-bg" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Language selection -->
                  <div class="language-select">
                  {% if num_language_choices > 1 %}
                  <select id="language_selector" aria-label="{% trans 'Select language' %}">
                    {% for lang_code, lang_meta in language_choices.iteritems %}
                    <option value="{{ lang_code }}" {% if lang_code == current_language %}selected{% endif %}>
                        {{ lang_code|get_language_name }}
                    </option>
                    {% endfor %}
                  </select>
                  {% endif %}
                  </div>
                <!-- End: Language selection -->         
                <p class="footer-text">
                    <img id="fle-logo" src="{% static 'images/distributed/FLE.png' %}" alt="{% trans 'Foundation for Learning Equality logo' %}"/>
                </p>
                <p class="footer-text">
                    {% trans "KA Lite version" %} {{ VERSION }} &copy; {% now "Y" %}
                </p>
                {% if channel_data.footer_text %}
                    <p class="footer-text">
                        {{ channel_data.footer_text }}
                    </p>
                    <p class="footer-text">
                        <img id="creative-commons-icon" src="{% static 'images/distributed/' True %}{{ channel_data.channel_license }}.png" alt="{% trans 'Creative Commons Attribution-NonCommercial-ShareAlike 3.0 United States License' %}">
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
