{% load kalite_staticfiles %}
{% load i18n %}
{% load i18n_filters %}

<footer class="faded-green-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="footer-text">
                    <img id="fle-logo" src="{% static 'images/distributed/FLE.png' %}" alt="{% trans 'Foundation for Learning Equality logo' %}"/>
                </p>
                <p class="footer-text">
                    {% trans "Creators of Papyrus" %} &copy; 2014
                </p>
                {% if channel_data.footer_text %}
                <p class="footer-text">
                    {{ channel_data.footer_text }}
                    <img id="creative-commons-icon" src="{% static 'images/distributed/' True %}{{ channel_data.channel_license }}.png">
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
