{% extends base_template %}
{% load i18n %}

{% block title %}{% trans "Error" %}{% endblock title %}

{% block content %}
    <h1>{% trans "Error" %}</h1>

    {{ errormsg|safe }}

    <p>{% trans "If you are reporting the error, please make sure to include the following information:" %}</p>
    
    <p><textarea style="width: 500px; max-width: 80%; height: 100px; font-family: monospace;" onclick="$(this).height(400), $(this).width('100%'); this.select()">URL: {{ request.path }}
querystring: {{ request.GET }}
{{ errortype }}: {{ value }}

{{ traceback }}</textarea></p>
    
{% endblock content %}
