{% extends base_template %}

{% load staticfiles %}
{% load i18n %}
{% load my_filters %}

{% block headcss %}{{block.super}}{% endblock headcss %}

{% block subnavbar %}
	<div class="teach-nav">
        <ul>
            <li class="teacher-only reports {% block reports_active %}{% endblock reports_active %}"><a href="{% url 'coach_reports' %}" title="{% trans 'Track the progress of your students' %}"><div class="subnav-div">{% trans "Reports" %}</div></a></li>
            <li class="playlist {% block playlist_active %}{% endblock playlist_active %}"><a class="link-width" href="{% url 'assign_playlists' %}" title="{% trans 'Assign playlists to student groups' %}"><div class="subnav-div">{% trans "Playlists" %}</div></a></li>
            <li class="exams {% block exams-active %}{% endblock exams-active %}"><a href="{% url 'test_list' %}" title="{% trans 'See list of available tests.' %}"><div class="subnav-div">{% trans "Exams" %}</div></a></li>
            <li class="learn {% block learn_active %}{% endblock learn_active %}"><a href="/" title="{% trans 'KA Lite Home' %}"><div class="subnav-div">{% trans "Learn" %}</div></a></li>
        </ul>
    </div>
{% endblock subnavbar %}


