<!DOCTYPE HTML>
{% load staticfiles %}
{% load i18n %}
{% load i18n_filters %}
{% load my_filters %}
{% load compress %}

{% get_current_language as lang_code %}
<html lang="{{ lang_code }}">
    <head>
        <!--[if lt IE 9]>
              <script src="{% static "js/html5shiv.js" %}"></script>
        <![endif]-->

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="wot-verification" content="075abe861486e6bb3ab9"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block titletag %}
        <title>{% block title %}{% trans "Welcome" %}{% trans title %}{% endblock title %} | KA Lite</title>
        {% endblock %}

        {% compress css file basecss %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/jquery-ui.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/distributed/bootstrap-overrides.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/distributed/khan-site.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/distributed/khan-lite.css' %}">
        <link href="{% static "fonts/style.css" %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/distributed/search_autocomplete.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.qtip.min.css' %}">
        {% endcompress %}

        <!-- CSS for dynamic settings -->
        <link rel="stylesheet" type="text/css" href="{% url 'dynamic_css' %}">

        {% block headcss %}{% endblock headcss %}
        <link rel="shortcut icon" href="{% static "images/distributed/favicon.ico" %}">
        {# In some versions of IE, console isn't defined, which can lead to JS errors #}
        <script type="text/javascript">
            window.console = window.console || {log: function() {}};
        </script>

        <script type="text/javascript" src="{% url 'dynamic_js' %}"></script>

        {# Use JS to help IE5.5-IE8 support modern browser features, especially for CSS and PNGs #}
        <!--[if lt IE 8]>
        {# <script src="{% static "js/IE8.js" %}"></script> #}
        <![endif]-->

        <script type="text/javascript">
            window.onerror=function(msg){
                window.js_errors = window.js_errors || [];
                window.js_errors.push(msg);
            }

            
        </script>

        {% if request.in_context_localized %}
            <script type="text/javascript">
              var _jipt = [];
              _jipt.push(['project', 'ka-lite']);
            </script>
            <script type="text/javascript" src="//cdn.crowdin.com/jipt/jipt.js"></script>
        {% endif %}

        {% compress js file basejs %}
        <!-- JS translation file statically included as a back-up, so that if the saved file below isn't available, we don't choke. -->
        <script type="text/javascript" src="{% static 'js/i18n/en.js' %}"></script>

        {% if current_language != "en" %}
        <!-- JS translation files dynamically generated by django, then saved to the static file below -->
        <script type="text/javascript" src="{% static 'js/i18n/'|add:request.language|add:'.js' %}"></script>
        {% endif %}

        {# Older versions of IE didn't have a JSON object, so this library adds it back in if needed #}
        <script type="text/javascript" src="{% static 'js/json2.js' %}"></script>

        {% block jqueryjs %}
        <script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
        <script type="text/javascript">
            jQuery.migrateMute = true;
        </script>
        {% endblock jqueryjs %}

        <script type="text/javascript" src="{% static 'js/fastclick.js' %}"></script>
        <script>

        $(function() {
            FastClick.attach(document.body);
        });

         /* TODO(jtamiace): Backbonify this function and this page... when the time comes.
            This function addresses Bootstrap's limitation of having a dropdown menu in an already collapsed menu*/
          function collapsedNav(e) {
            if ( $('body').innerWidth() <= 750 ) {
                document.getElementById("user-name-a").removeAttribute("data-toggle");
                document.getElementById("user-name").classList.add("open");
              } 
            if ( $('body').innerWidth() >= 751 ) {
                document.getElementById("user-name-a").setAttribute("data-toggle", "dropdown");
                document.getElementById("user-name").classList.remove("open");
              }
            };
          window.addEventListener("resize", collapsedNav, false);
          window.addEventListener("pageshow", collapsedNav, true);

        </script>
        <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/backbone/backbone.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/backbone/backbone-tastypie.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/backbone/backbone-helpers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/sprintf.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/purl.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.ui.autocomplete.html.js' %}"></script>

        <!-- Imports for handlebars, our JS templating engine -->
        <script src="{% static "js/handlebars/handlebars-v1.3.0.js" %}"></script>
        <script src="{% static "js/handlebars/handlebars-helpers.js" %}"></script>
        <script src="{% static "js/handlebars/handlebars-wrapper.js" %}"></script>

        <script type="text/javascript" src="{% static 'js/distributed/session/models.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/khan-lite.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/distributed/distributed-server.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.qtip.min.js' %}"></script>

        {% endcompress %}

        <script src="{% url 'handlebars_templates' module_name='search' %}"></script>
        <script src="{% url 'handlebars_templates' module_name='user' %}"></script>

        {% compress js file baseviews %}
        <script src="{% static 'js/distributed/user/views.js' %}"></script>
        <script src="{% static 'js/distributed/search/views.js' %}"></script>
        {% endcompress %}

        {# Trigger tooltips for help icons #}
        <script>
            $(function(){
                $('.help-tooltip').tooltip({
                    trigger: "hover click"
                });
            });
        </script>

        <script>
        window.sessionModel.set({
          SEARCH_TOPICS_URL           : "{% url 'flat_topic_tree' lang_code=current_language %}",
          SEARCH_URL                  : "{% url 'search' %}",
          USER_URL                    : "{% url 'api_dispatch_list' resource_name='user' %}",
          FORCE_SYNC_URL              : "{% url 'api_force_sync' %}",

          LOCAL_DEVICE_MANAGEMENT_URL : "{% url 'device_redirect' %}",
          SET_DEFAULT_LANGUAGE_URL    : "{% url 'set_default_language' %}",
          DELETE_USERS_URL            : "{% url 'delete_users' %}",
          DELETE_GROUPS_URL           : "{% url 'group_delete' %}",
          MOVE_TO_GROUP_URL           : "{% url 'move_to_group' %}",
          STATIC_URL                  : "{% static "" %}",

          ALL_ASSESSMENT_ITEMS_URL    : "{% url 'api_dispatch_list' resource_name='assessment_item' %}",
          GET_VIDEO_LOGS_URL          : "{% url 'api_dispatch_list' resource_name='videolog' %}",
          GET_EXERCISE_LOGS_URL       : "{% url 'api_dispatch_list' resource_name='exerciselog' %}",
          GET_CONTENT_LOGS_URL        : "{% url 'api_dispatch_list' resource_name='contentlog' %}",

          KHAN_EXERCISES_SCRIPT_URL : "{% static 'perseus/ke/khan-exercise.js' %}",

          SERVER_INFO_PATH            : "{% url 'get_server_info' %}",
          CENTRAL_SERVER_HOST         : "{{ central_server_host }}",
          SECURESYNC_PROTOCOL         : "{{ securesync_protocol }}",
          CURRENT_LANGUAGE            : "{{ current_language }}"
        });
        $(function() {
          window.statusModel.fetch_data();
          window.userView = new UserView({model: statusModel, el: "#user-name"});
          window.autoCompleteView = new AutoCompleteView();
          $("#topnav").prepend(window.autoCompleteView.$el);
        });
        </script>

        {% block headjs %}{% endblock headjs %}
        {% block analytics %}{% endblock analytics %}
    </head>

    <body class="{% block bodyclass %}{% endblock %}">
        <div id="wrapper">

            {# Header & Navbar #}
            <div class="navbar kalite-navbar header-footer-bg" role="banner">
              <div class="container">
                  <div class="row">
                      <div class="navbar-header">
                          {# collapse entire menu #}
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-hidden="true" id="navbar_toggle">
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </button>
                          <div class="navbar-brand">
                              <a href="{% url 'homepage' %}" title="{{ channel_data.channel_name }} {% trans 'Home' %}">
                                  <img src="/data/{{ channel }}/images/horizontal-logo-small.png" alt="{{ channel_data.channel_name }} {% trans 'logo' %}">
                              </a>
                              <div class="pull-right visible-xs sitepoint" id="points-xs"></div>
                          </div>                             
                      </div>

                      <div class="collapse navbar-collapse top-nav" role="navigation" aria-label="Main menu">
                          <ul class="nav navbar-nav navbar-right nav-tabs" id="topnav" role="tablist">

                            <!-- For logged in admins -->
                            {% if request.is_admin and is_config_package_nalanda and not request.session.facility_user.facility %}
                              {# Teach for admins => assigning playlists for Nalanda #}
                              <li class="{% block teach_active_admins-nalanda %}{% endblock teach_active_admins-nalanda %}">
                                <a href="{% url 'assign_playlists' %}" id="nav_coachreports" class="admin-only">
                                  {% trans "Teach" %}
                                </a>
                              </li>
                            {% endif %}
                            {% if request.is_admin and not request.session.facility_user.facility and not is_config_package_nalanda %}
                              {# Teach for admins => coachreports #}
                              <li class="{% block teach_active_admins %}{% endblock teach_active_admins %}">
                                <a href="{% url 'tabular_view' %}" id="nav_coachreports" class="admin-only">
                                  {% trans "Teach" %}
                                </a>
                              </li>
                            {% endif %}

                            {# Manage for admins => zone control panel #}
                            {% if request.is_django_user %}
                            <li class="{% block manage_active_admins %}{% endblock manage_active_admins %}">
                              <a href="{% url 'zone_redirect' %}" id="manage" class="admin-only">
                                {% trans "Manage" %}
                              </a>
                            </li>
                            {% endif %}
                            <!-- End for logged in admins -->

                            <!-- For logged in teachers -->
                            {# Teach for teachers => coachreports #}
                            <li class="{% block teach_active_teachers %}{% endblock teach_active_teachers %}">
                              <a href="{% url 'tabular_view' %}" id="nav_coachreports" class="teacher-only">
                                {% trans "Teach" %}
                              </a>
                            </li>

                            {# Manage for teachers => facility management #}
                            {% if request.session.facility_user.facility %}
                              <li class="{% block manage_active_teachers %}{% endblock manage_active_teachers %}">
                                <a href="{% url 'facility_management' zone_id=None facility_id=request.session.facility_user.facility.id %}" id="manage" class="teacher-only">
                                  {% trans "Manage" %}
                                </a>
                              </li>
                            {% endif %}
                            <!-- End for logged in teachers -->

                            <!-- Universal Learn tab -->
                            {# Learn for all #}
                            <li class="{% block learn_active %}{% endblock learn_active %}">
                              <a href="{% url 'learn' %}" id="nav_learn" class="home-navlink">
                                {% trans "Learn" %}
                              </a>
                            </li>

                            <!-- For logged out users  -->
                            {# Login #}
                            <li class="{% block login_active %}{% endblock login_active %}">
                              <a href="#" class="not-logged-in-only" data-toggle="modal" data-target="#loginModal" title="{% trans 'Login' %}" id="nav_login">
                                {% trans "Login" %}
                              </a>
                            </li>

                            {% if not restricted %}
                              <li class="{% block signup_active %}{% endblock signup_active %}">
                                <a href="{% url 'facility_user_signup' %}" id="nav_signup" class="not-logged-in-only" title="{% trans 'Register to start tracking your progress' %}">
                                  {% trans "Sign Up" %}
                                </a>
                              </li>
                            {% endif %}
                            
                            <hr class="nav-divider student-only">
                            {% if request.is_admin or request.session.facility_user.facility %}
                            <hr class="nav-divider admin-only">
                            {% endif %}

                            <!-- Farthest right nav is logged in user dropdown -->
                            <li class="dropdown {% block help_active %}{% endblock help_active %}{% block progress_active %}{% endblock progress_active %} " id="user-name">
                              <a href="#" class="logged-in-only dropdown-toggle" data-toggle="dropdown" id="user-name-a">
                                  <span id="username">
                                    <!-- Username injected here w/ js -->
                                  </span>
                                <span class="caret hidden-xs"></span>
                              </a>

                              <ul class="dropdown-menu" data-no-collapse="true" role="menu">
                                <li class="student-only" role="presentation">
                                  <span class="student-only" id="points">
                                    <!-- Points injected here w/ js -->
                                  </span>
                                </li>
                                <li role="presentation" class="divider student-only"></li>
                                {# Student account management #}
                                <li role="presentation" class="motivational-feature student-only">
                                  <a role="menuitem" tabindex="-1" href="{% url 'account_management' %}" id="nav_progress" title="{% trans 'My Progress'%}" class="student-only">
                                    {% trans "My Progress" %}
                                  </a>
                                </li>
                                <!-- TODO-BLOCKER(jamalex): re-enable these links once non-playlist "my progress" works, and help link is meaningful again -->
                                <!--
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="{% url 'help' %}" id="nav_help">{% trans "Help" %}</a>
                                </li> -->
                                <li role="presentation" class="divider student-only"></li>
                                <!-- Logout goes at the bottom! -->
                                <li role="presentation" id="logout">
                                  <a role="menuitem" tabindex="-1" id="nav_logout" class="logged-in-only" title="{% trans 'Logout'%}" href="#">
                                    {% trans "Logout" %}
                                  </a>
                                </li>
                              </ul>
                            </li>

                          </ul>
                        </div>
                  </div>
              </div>
          </div>
          {# End Header / Navbar #}

            {# Body #}
            <div id="content-container" class="container" role="main">
                {% block outer_content %}
                    {% block precontent %}
                        {% include "distributed/partials/_messages.html" %}
                    {% endblock precontent %}
                    {% block content %}
                        {% block subnavbar %}{% endblock subnavbar %}
                    {% endblock content %}
                {% endblock outer_content %}
            </div>
        </div> {# End wrapper #}
        {# Footer #}
        {% include "distributed/partials/_footer.html" %}
    </body>
</html>
