{% extends base_template %}
{% load i18n %}
{% load staticfiles %}

{% block i18n_do_not_translate %}
    {% block help_active %}active{% endblock help_active %}
{% endblock i18n_do_not_translate %}

{% block title %}{% trans "Administration Panel" %}{{ block.super }}{% endblock title %}

{% block headcss %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/distributed/help.css' %}">
{% endblock headcss %}

{% block content %}
    <div class="container">
    {% trans "This page can help you administer your installation of KA Lite." %}

        <table>
            <tr class="client-online-only">
                <td class="title" colspan="2">
                    <h4 class="no-margin-top">{% trans "(Online) Help Documents" %}</h4>
                </td>
            </tr>
            <tr class="client-online-only">
                <td class="link"><a href="{{wiki_url}}" target="_blank">{% trans "KA Lite Wiki" %}</a></td>
                <td class="desc"> {% trans "Contains the latest information about using KA Lite." %}</td>
            </tr>
        </table>
    </div>
{% endblock content %}