{% extends base_template %}

{% load i18n %}
{% load kalite_staticfiles %}

{% block home_active %}active{% endblock home_active %}

{% block headcss %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/distributed/homepage.css' %}?{{ BUILD_ID }}">
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    <!-- import handlebars templates here -->
    <script src="{% url 'handlebars_templates' module_name="playlists" %}"></script>
    <script type="text/javascript" src="{% static 'js/playlist/models.js' True %}"></script>
    <script type="text/javascript" src="{% static 'js/distributed/jquery.dotdotdot.min.js' True %}"></script>
    <script type="text/javascript" src="{% static 'js/distributed/homepage_playlists.js' True %}"></script>
    {% if settings.AUTO_LOAD_TEST %}{# TODO(bcipolli): eliminate this, make the load testing app inherit from / override this page #}
    <script>
        if (window.parent.frames.length === 0) {
            window.location = "{% url 'load_test' %}";
        }
    </script>
    {% endif %}

    <script type="text/javascript">
     var ALL_PLAYLISTS_URL = "{% url 'api_dispatch_list' resource_name='playlist' %}"
    </script>
{% endblock headjs %}

{% block content %}
    <div class="front-page" id="homepage">

        <h2 class="main-headline">{% trans "A free world-class education for anyone anywhere." %}</h2>

        <div class="vertical-shadow suggested-action">
            <h2 class="suggested-action-title">{% trans "Learn by watching videos!" %}</h2>
            <p class="topic-list">
                {% for subtopic in topics %}
                <span class="topic">
                    <a href="{{ subtopic.path }}" class="topic-link topic-{% if not subtopic.available %}un{% endif %}available" title="{% blocktrans with avail=subtopic.nvideos_available known=subtopic.nvideos_known local=subtopic.nvideos_local %}{{ avail }} / {{ known }} video(s) are available ({{ local }} locally).{% endblocktrans %}">
                        {% trans subtopic.title %}
                    </a>
                </span>
                <br />
                {% endfor %}
            </p>
        </div>

        <div class="vertical-shadow suggested-action">
            <a href="{% url 'exercise_dashboard' %}">
                <h2 class="suggested-action-title">{% trans "Learn by doing exercises!" %}</h2>
                <p>{% trans "Practice your math skills from addition to calculus and everything in between." %}</p>
                <div class="suggested-action-image-link" style="background-image: url({% static 'images/distributed/knowledge-map-derivative-intuition.png' %});"></div>
            </a>
        </div>

        <div class="clear"></div>
    </div>

    <p>{% trans "KA Lite is a light-weight web server for viewing and interacting with core Khan Academy content (videos and exercises) without needing an Internet connection." %}</p>

    <img src="/static/images/loading.gif" class="float-center loading"/>

    <table id="playlist-table" class="table">
      <tr>
        <th colspan="5">
          <div class="center-vertical header">
            <h2 class="inline">Unit 1a</h2>
            <small class="center-target">Week1: 5/11-7, Expanded form of number and writing numbers from the expanded</small>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <ul id="playlists">
          </ul>
        </td>
      </tr>
    </table>

{% endblock content %}
