{% extends base_template %}

{% load i18n %}
{% load staticfiles %}

{% block home_active %}active{% endblock home_active %}

{% block headjs %}{{ block.super }}
    {% if settings.AUTO_LOAD_TEST %}{# TODO(bcipolli): eliminate this, make the load testing app inherit from / override this page #}
    <script>
        if (window.parent.frames.length === 0) {
            window.location = "{% url 'load_test' %}";
        }
    </script>
    {% endif %}
{% endblock headjs %}

{% block content %}
    <div class="container">

        <div class="row">
            <h2 class="main-headline hidden-xs">{% trans "A free world-class education for anyone anywhere." %}</h2>
        </div>

        <div class="row">
            <div class="col-sm-6" id="suggested-action-div">
                <div class="vertical-shadow suggested-action">
                    <h3 class="suggested-action-title">{% trans "Learn by watching videos!" %}</h3>
                    <p class="topic-list">
                        {% for subtopic in topics %}
                            <a href="{{ subtopic.path }}" class="topic-{% if not subtopic.available %}un{% endif %}available" title="{% blocktrans with avail=subtopic.nvideos_available known=subtopic.nvideos_known local=subtopic.nvideos_local %}{{ avail }} / {{ known }} video(s) are available ({{ local }} locally).{% endblocktrans %}">
                                {% trans subtopic.title %}
                            </a>
                        <br />
                        {% endfor %}
                    </p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="vertical-shadow suggested-action">
                    <a href="{% url 'exercise_dashboard' %}">
                        <h3 class="suggested-action-title">{% trans "Learn by doing exercises!" %}</h3>
                        <p id="suggested-action-p">{% trans "Practice your math skills from addition to calculus and everything in between." %}</p>
                        <div id="suggested-action-image-link-homepage"></div>
                    </a>
                </div>
            </div>

            <div class="row col-sm-12" id="homepage-p-div">
                <p class="homepage-p">{% trans "KA Lite is a lightweight web server for viewing and interacting with core Khan Academy content (videos and exercises) without needing an Internet connection." %}</p>
            </div>
        </div>
    
    </div>

{% endblock content %}