{% extends base_template %}
{% load i18n %}
{% load staticfiles %}

{% block practice_active %}active{% endblock practice_active %}

{% block headcss %}{{ block.super }}
    <link rel='stylesheet' type='text/css' href='{% static "css/distributed/kmap_editor.css" %}' />
    <link rel='stylesheet' type='text/css' href='{% static "css/distributed/tipsy.css" %}' />
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    <!-- START PERSEUS STUFF -->
    <script src="{% static "perseus/lib/es5-shim.js" %}"></script>
    <script src="{% static "perseus/lib/marked.js" %}"></script>
    <script src="{% static "perseus/lib/react-with-addons.js" %}"></script>
    <script src="{% static "perseus/ke/third_party/MathJax/2.1/MathJax.js" True %}?config={% static "perseus/ke/third_party/MathJax/2.1/config/KAthJax-8f02f65cba7722b3e529bd9dfa6ac25d" %}"></script>
    <script src="{% static "perseus/lib/katex/katex.js" %}"></script>
    <script src="{% static "perseus/lib/mathquill/mathquill.js" %}"></script>
    <script src="{% static "perseus/lib/kas.js" %}"></script>
    <script src="{% static "perseus/ke/local-only/jed.js" %}"></script>
    <script src="{% static "perseus/ke/local-only/i18n.js" %}"></script>
    <script src="{% static "perseus/ke/local-only/jquery.qtip.js" %}"></script>
    <script src="{% static 'js/distributed/software-keyboard.js' %}"></script>
    <script src="{% url 'handlebars_templates' module_name='exercise' %}"></script>
    <script src="{% static 'js/seedrandom.min.js' %}"></script>
    <script src="{% static 'js/distributed/exercises/models.js' %}"></script>
    <script src="{% static 'js/distributed/exercises/views.js' %}"></script>
    <script src="{% static 'js/distributed/exercises/perseus-helpers.js' %}"></script>
    <script src="{% static 'perseus/ke/interface.js' %}"></script>
    <script src="{% static 'js/distributed/jquery.tipsy.js' %}"></script>
    <!-- END PERSEUS STUFF -->

    <script src="{% url 'handlebars_templates' module_name='map' %}"></script>
    <script src="{% static 'js/leaflet.js' %}"></script>
    <script type="text/javascript">
        var TOPIC_DATA_URLS = {
            Domains: '{{ data_url }}/map_domains.json',
            Subjects: '{{ data_url }}/map_subjects.json',
            Topics: '{{ data_url }}/map_topics.json',
            Tutorials: '{{ data_url }}/map_tutorials.json',
            Exercises: '{{ data_url }}/exercises.json'
        }
    </script>

<!-- need to move to separated css file later -->
    <style>
      .node text {
        font: 10px sans-serif;
        pointer-events: none;
        text-anchor: middle;
      }

    <script src="{% static 'js/distributed/map/models.js' %}"></script>
    <script src="{% static 'js/distributed/map/views.js' %}"></script>
    <script src="{% static 'js/distributed/topics/router.js' %}"></script>
    <script src="{% static 'js/distributed/map/router.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            window.channel_router = new MapChannelRouter({default_channel: "{{ channel }}"})
            Backbone.history.start({pushState: true, root: "{% url 'exercise_dashboard' %}"});
        });
    </script>
      .desc-tip{
        font-size: 18px;
        margin-top: -34px;
      }

      .desc-tip .tipsy-inner{
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        max-width: 400px;
        box-shadow: 0px 0px 17px #28333D;
        -webkit-box-shadow: 0px 0px 17px #28333D;
        -moz-box-shadow: 0px 0px 17px #28333D; 
        border: solid 1px rgba(255, 255, 255, 0.25);
      }

      div span {
        height: 100%; 
        vertical-align: middle; 
        display: inline-block;
      }

      div h {
        margin: 0; 
        vertical-align: 
        middle; display: 
        inline-block;
      }
    </style>

{% endblock headjs %}

{% block content %}
var force = d3.layout.force()
  // // .theta(.0001)
  // .alpha(0.1)
  .size([width, height]);
  // .on("tick", tick);
  force.linkDistance(function(d){ 
    if(d.target.kind !== "Topic"){
      return  d.source.children.length * 1 + d.source.title.length * 1.5; 
    }else{
      return  d.source.children.length * 4 + d.target.title.length * 5; 
    }
  })
  .linkStrength(function(d){
    if(d.target.kind !== "Topic"){
      return 1;
    }else if(d.source.kind == "Subject"){
      return 7;
    }
    else{
      return 7.5;
    }
  })
  .charge(function(d){
    if(d.kind == "Exercise" || d.kind == "Video"){
      return -4000;
    }else if(d.kind == "Topic"){
      return d.title.length*(-2000);
    }else{
      return -70000;
    }
  })
  .chargeDistance(20000/unfold_scale_factor)
  .gravity(.912)
  .friction(0.2);
        .call(wrap, 130);
        .call(wrap, 90);
    $(".node").tipsy({ 
      gravity: 's',
      className: 'desc-tip',
      // fade: true,
      offset: 0,
      opacity: 0.7,
      html: true, 
      title: function() {
              var d = this.__data__;
              if(d.kind == 'Video'){
              return '<span class="nameD-tip">' + d.title + '  </span>' + '<img src=' + "{% static 'images/distributed/search-video-available.png' %}" + '/>'; 
              }else if(d.kind == 'Exercise'){
                return '<span class="nameD-tip">' + d.title + '  </span>' + '<img src=' + "{% static 'images/distributed/search-exercise-available.png' %}" + '/>'; 
              }else{
                return '<span class="nameD-tip">' + d.title + '</span>';
              }
            } 
    });

    <div id="map-container">
    </div>
    <div id="overlay">
        <a href="#" class="close btn btn-danger">X</a>
        <div id="content-area">
            <div class="content"></div>
        </div>
    </div>
    <div id="fade"></div>
//this wrap function probably not flexable enough for longer string.
function wrap(text, width) {
  text.each(function() {
    var text = d3.select(this),
        words = text.text().split(/\s+/).reverse(),
        word,
        line = [],
        lineNumber = 0,
        lineHeight = 1.1, // ems
        y = text.attr("y"),
        dy = parseFloat(text.attr("dy")),
        tspan = text.text(null).append("tspan").attr("x", 0).attr("y", y).attr("dy", dy + "em");
    while (word = words.pop()) {
      if(word.indexOf('%') !== -1){
        line.push(word);
        tspan.text(line.join(" "));
        if(text.text().length > 15){
          line.pop();
          tspan.text(line.join(" "));
          line = [word];
          tspan = text.append("tspan").attr("x", 0).attr("y", y).attr("dy", ++lineNumber * lineHeight + -1.15 + "em").text(word);
        }else{
          line.pop();
          tspan.text(line.join(" "));
          line = [word];
          tspan = text.append("tspan").attr("x", 0).attr("y", y).attr("dy", ++lineNumber * lineHeight + 0.1 + "em").text(word);
        }
      }else{
        line.push(word);
        tspan.text(line.join(" "));
      }
      if (tspan.node().getComputedTextLength() > width) {
        line.pop();
        tspan.text(line.join(" "));
        line = [word];
        tspan = text.append("tspan").attr("x", 0).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
      }
    }
  });
}

{% endblock content %}
