{% extends base_template %}
{% load i18n %}
{% load staticfiles %}

{% block practice_active %}active{% endblock practice_active %}

{% block headcss %}{{ block.super }}
    <link rel='stylesheet' type='text/css' href='{% static "css/distributed/kmap_editor.css" %}' />
    <link rel='stylesheet' type='text/css' href='{% static "css/distributed/tipsy.css" %}' />
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    <!-- START PERSEUS STUFF -->
    <script src="{% static "perseus/lib/es5-shim.js" %}"></script>
    <script src="{% static "perseus/lib/marked.js" %}"></script>
    <script src="{% static "perseus/lib/react-with-addons.js" %}"></script>
    <script src="{% static "perseus/ke/third_party/MathJax/2.1/MathJax.js" True %}?config={% static "perseus/ke/third_party/MathJax/2.1/config/KAthJax-8f02f65cba7722b3e529bd9dfa6ac25d" %}"></script>
    <script src="{% static "perseus/lib/katex/katex.js" %}"></script>
    <script src="{% static "perseus/lib/mathquill/mathquill.js" %}"></script>
    <script src="{% static "perseus/lib/kas.js" %}"></script>
    <script src="{% static "perseus/ke/local-only/jed.js" %}"></script>
    <script src="{% static "perseus/ke/local-only/i18n.js" %}"></script>
    <script src="{% static "perseus/ke/local-only/jquery.qtip.js" %}"></script>
    <script src="{% static 'js/distributed/software-keyboard.js' %}"></script>
    <script src="{% url 'handlebars_templates' module_name='exercise' %}"></script>
    <script src="{% static 'js/seedrandom.min.js' %}"></script>
    <script src="{% static 'js/distributed/exercises/models.js' %}"></script>
    <script src="{% static 'js/distributed/exercises/views.js' %}"></script>
    <script src="{% static 'js/distributed/exercises/perseus-helpers.js' %}"></script>
    <script src="{% static 'perseus/ke/interface.js' %}"></script>
    <script src="{% static 'js/distributed/jquery.tipsy.js' %}"></script>
    <!-- END PERSEUS STUFF -->

    <script src="{% url 'handlebars_templates' module_name='map' %}"></script>
    <script src="{% static 'js/leaflet.js' %}"></script>
    <script type="text/javascript">
        var TOPIC_DATA_URLS = {
            Domains: '{{ data_url }}/map_domains.json',
            Subjects: '{{ data_url }}/map_subjects.json',
            Topics: '{{ data_url }}/map_topics.json',
            Tutorials: '{{ data_url }}/map_tutorials.json',
            Exercises: '{{ data_url }}/exercises.json'
        }
    </script>
    <script src="{% static 'js/distributed/map/models.js' %}"></script>
    <script src="{% static 'js/distributed/map/views.js' %}"></script>
    <script src="{% static 'js/distributed/topics/router.js' %}"></script>
    <script src="{% static 'js/distributed/map/router.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            window.channel_router = new MapChannelRouter({default_channel: "{{ channel }}"})
            Backbone.history.start({pushState: true, root: "{% url 'exercise_dashboard' %}"});
        });
    </script>
      .desc-tip{
        font-size: 18px;
        margin-top: -34px;
      }

      .desc-tip .tipsy-inner{
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        max-width: 400px;
        box-shadow: 0px 0px 17px #28333D;
        -webkit-box-shadow: 0px 0px 17px #28333D;
        -moz-box-shadow: 0px 0px 17px #28333D; 
        border: solid 1px rgba(255, 255, 255, 0.25);
      }
{% endblock headjs %}

{% block content %}
    $(".node").tipsy({ 
      gravity: 's',
      className: 'desc-tip',
      // fade: true,
      offset: 0,
      opacity: 0.7,
      html: true, 
      title: function() {
              var d = this.__data__;
              if(d.kind == 'Video'){
              return '<span class="nameD-tip">' + d.title + '  </span>' + '<img src=' + "{% static 'images/distributed/search-video-available.png' %}" + '/>'; 
              }else if(d.kind == 'Exercise'){
                return '<span class="nameD-tip">' + d.title + '  </span>' + '<img src=' + "{% static 'images/distributed/search-exercise-available.png' %}" + '/>'; 
              }else{
                return '<span class="nameD-tip">' + d.title + '</span>';
              }
            } 
    });

    <div id="map-container">
    </div>
    <div id="overlay">
        <a href="#" class="close btn btn-danger">X</a>
        <div id="content-area">
            <div class="content"></div>
        </div>
    </div>
    <div id="fade"></div>
{% endblock content %}
