{% extends base_template %}
{% load i18n %}
{% load staticfiles %}

{% block practice_active %}active{% endblock practice_active %}

{% block headcss %}{{ block.super }}
    <link rel='stylesheet' type='text/css' href='{% static "css/distributed/kmap_editor.css" %}' />
    <link rel='stylesheet' type='text/css' href='{% static "css/leaflet.css" %}' />
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    <script src="{% url 'handlebars_templates' module_name='map' %}"></script>
    <script type='text/javascript' src='{% static "js/leaflet.js" %}'></script>
    <script type="text/javascript">
        var TOPIC_DATA_URLS = {
            Domains: '{% static "data/map_domains.json" %}',
            Subjects: '{% static "data/map_subjects.json" %}',
            Topics: '{% static "data/map_topics.json" %}',
            Tutorials: '{% static "data/map_tutorials.json" %}',
            Exercises: '{% static "data/exercises.json" %}'
        }
    </script>
    <script src="{% static 'js/distributed/map/models.js' %}"></script>
    <script src="{% static 'js/distributed/map/views.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            window.map_view = new KnowledgeMapView({
                el: "#map-container"
            });
        });
    </script>
{% endblock headjs %}

{% block content %}
    <div id="map-container">
    </div>
{% endblock content %}
