{% extends base_template %}
{% load i18n %}
{% load kalite_staticfiles %}

{% block practice_active %}active{% endblock practice_active %}

{% block headcss %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'khan-exercises/css/khan-exercise.css' True %}">

    <!-- Used by KA to dynamically add styling to the exercise -->
    <style id="exercise-inline-style"></style>

    <link rel="stylesheet" type="text/css" href="{% static "perseus/lib/katex/fonts/fonts.css" %}" />
    <link rel="stylesheet/less" type="text/css" href="{% static "perseus/lib/katex/katex.less" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "perseus/lib/mathquill/mathquill.css" %}" />

    <link rel="stylesheet/less" type="text/css" href="{% static "perseus/stylesheets/exercise-content-package/perseus.less" %}" />

{% endblock headcss %}

{% block headjs %}{{ block.super }}

    <script src="{% static "perseus/lib/es5-shim.js" %}"></script>
    <script src="{% static "perseus/lib/marked.js" %}"></script>
    <script src="{% static "perseus/lib/react-with-addons.js" %}"></script>
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full&amp;delayStartupUntil=configured"></script>
    <script src="{% static "perseus/lib/katex/katex.js" %}"></script>
    <script src="{% static "perseus/lib/mathquill/mathquill.js" %}"></script>
    <script src="{% static "perseus/lib/kas.js" %}"></script>

    <script>
        var KhanUtil = {
            debugLog: function() {}
        };
        var Khan = {
            Util: KhanUtil,
            error: function() {},
            query: {debug: ""},
            imageBase: "{% static "perseus/ke/images/" %}",
            scratchpad: {
                disable: function() {},
                enable: function() {}
            }
        };
        React.initializeTouchEvents(true);
    </script>

    <script src="{% static "perseus/ke/local-only/jed.js" %}"></script>
    <script src="{% static "perseus/ke/local-only/i18n.js" %}"></script>
    <script src="{% static "perseus/ke/local-only/jquery.qtip.js" %}"></script>
    <script src="{% static "perseus/ke/exercises-stub.js" %}"></script>
    <script src="{% static "perseus/ke/local-only/require.js" %}"></script>

    <script>

        $(function() {
            window.exercise_practice_perseus_view = new ExercisePerseusView({
                el: $(".exercise-wrapper"),
                perseus_data: {

                }
            });
        });

    </script>

    <script>
        (function() {

        // Load khan-exercises modules, then perseus
        require(["{% static "perseus/ke-deps.js" %}"], function() {
            // pre built
            require(["{% static "perseus/build/perseus-1.js" %}"], initPerseus);

            // pre built with source maps
            // require(["build/perseus.debug.js"], initPerseus);

            // built on demand
            // require(["src/perseus.js"], initPerseus);
        });

        $('#score').on('click', function() {
            console.log(zk.scoreInput());
        });

        function initPerseus(Perseus) {

        var seedContent = {
            "question": {
                "content": "[[☃ interactive-graph 2]]",
                "images": {
                    "https://ka-perseus-graphie.s3.amazonaws.com/da8df81c78b22f5c69d477d8eabfb583968eaf84.png": {
                        "width": 400,
                        "height": 70
                    },
                    "https://ka-perseus-graphie.s3.amazonaws.com/b59fc02ca1aae800977b8793ed22f647a1aa75ee.png": {
                        "width": 425,
                        "height": 150
                    }
                },
                "widgets": {
                    "interactive-graph 2": {
                        "type": "interactive-graph",
                        "graded": true,
                        "options": {
                            "step": [
                                2,
                                2
                            ],
                            "backgroundImage": {
                                "url": null,
                                "scale": 1,
                                "bottom": 0,
                                "left": 0
                            },
                            "markings": "graph",
                            "labels": [
                                "x",
                                "y"
                            ],
                            "showProtractor": false,
                            "showRuler": false,
                            "rulerLabel": "",
                            "rulerTicks": 10,
                            "range": [
                                [
                                    -20,
                                    20
                                ],
                                [
                                    -20,
                                    20
                                ]
                            ],
                            "graph": {
                                "type": "linear"
                            },
                            "correct": {
                                "type": "linear",
                                "coords": [
                                    [
                                        0,
                                        0
                                    ],
                                    [
                                        5,
                                        5
                                    ]
                                ]
                            }
                        },
                        "version": {
                            "major": 0,
                            "minor": 0
                        }
                    }
                }
            },
            "answerArea": {
                "type": "multiple",
                "options": {
                    "content": "",
                    "images": {},
                    "widgets": {}
                },
                "calculator": false
            },
            "itemDataVersion": {
                "major": 0,
                "minor": 1
            },
            "hints": []
        };

        Perseus.init({}).then(function() {
            // var itemMountNode = $("#workarea")[0]
            var itemMountNode = document.createElement("div");
            zk = React.renderComponent(Perseus.ItemRenderer({
                item: seedContent,
                problemNum: Math.floor(Math.random() * 50) + 1,
                initialHintsVisible: seedContent.hints.length,
                enabledFeatures: {
                    highlight: true,
                    toolTipFormats: true
                }
            }, null), itemMountNode);
            zk.focus();
        }).then(function() {
            console.log("all done.", +new Date/1000);
        }, function(err) {
            console.error(err);
        });

        }

        })();
    </script>

    <script src="{% static 'js/distributed/software-keyboard.js' %}"></script>

    <script src="{% url 'handlebars_templates' module_name='exercise' %}"></script>

    <!-- Import below is for testing/debug purposes only. rtibbles to remove !-->
    <!-- // <script src="{% static 'js/seedrandom.min.js' %}"></script> -->

    <script src="{% static 'js/distributed/exercises.js' %}"></script>
    <script src="{% static 'js/distributed/exercises-perseus.js' %}"></script>
    <script src="{% static 'khan-exercises/khan-exercise.js' %}"></script>

{% endblock headjs %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="exercises-header">
                <div class="row col-xs-12">
                    {% if prev %}
                    <div class="vidprev"><a href="{{ prev.path }}">&lt; {% trans prev.title %} <span class="progress-circle" data-exercise-id="{{ prev.id }}"></span></a></div>
                    {% endif %}

                    {% if next %}
                    <div class="vidnext pull-right"><a href="{{ next.path }}"><span class="progress-circle" data-exercise-id="{{ next.id }}"></span> {% trans next.title %} &gt;</a></div>
                    {% endif %}
                </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="exercise-wrapper"></div>

{% endblock content %}
