{% extends base_template %}
{% load my_filters i18n i18n_filters staticfiles %}

{% block watch_active %}active{% endblock watch_active %}

{% block headjs %}{{ block.super }}

    <script type="text/javascript">
        var ALL_TOPICS_URL = '{% static "data/topic_hierarchy.json" %}';
    </script>

    <script type="text/javascript">
        $(function() {
            window.topic_node_view = new TopicContainerOuter();
            $("#topic-container").append(topic_node_view.el);
        });
    </script>
    <script src="{% url 'handlebars_templates' module_name='topics' %}"></script>
    <script src="{% static 'js/distributed/topics.js' %}"></script>

{% endblock headjs %}

{% block content %}
    <div id="topic-container"> 
    </div>
{% endblock content %}