
<div class="sidebar-tab">
    {{!-- <a> --}}
        TOPICS
    {{!-- </a> --}}
</div>


<nav class="panel" role="navigation">
	<div class="sidebar-nav-container">
	    <div class="sidebar-navbar"></div>
	    <div class="title">{{ title }}</div>
    </div>
    <ul class="sidebar">

    </ul>
</nav>