
<div class="sidebar-tab">
    {{!-- <a> --}}
        TOPICS
    {{!-- </a> --}}
</div>


<nav class="panel" role="navigation">

    <div class="sidebar-navbar"></div>
    <div class="title">{{ title }}</div>

    <ul class="sidebar">

    </ul>
</nav>