#my_background, #my_accent , #my_action , #my_headline , #my_bodytext, #change_color_palette {
	display: inline-block;
  	position: relative;
  	height: 60px;
}

#change_color_palette {
	top:-26px;
	margin-bottom: -58px;
}