<div class="body"></div>

<nav>
	<ul class="pagination">
		<li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		{{#each pages}}
		<li><a href="#">{{ this }}</a></li>
		{{/each}}
		<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
	</ul>
</nav>
