<form id="coachreport-select-form" class="form-vertical">
    <div class="col-sm-3">
        <div id="facility-select-container" class="form-group">
            {{!-- Insert facility select template here --}}
        </div>
    </div>
    <div class="col-sm-3">
        <div id="group-select-container" class="form-group">
            {{!-- Insert group select template here --}}
        </div>
    </div>
    <button id="display-coach-report" class="btn btn-primary btn reports-go-btn">{{_ "Go" }}</button>
</form>