 {% extends "coachreports/landing_page.html" %}


{% load i18n %}
{% load kalite_staticfiles %}

{% block home_active %}active{% endblock home_active %}
{% block playlists_active %}active{% endblock playlists_active %}

{% block headcss %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/playlist/assign_playlists.css' %}">
{% endblock headcss %}

{% block headjs %}{{ block.super }}
  <script type="text/html" id="all-groups-list-entry-template">
      <td student-grp-id="<%= id %>" draggable="true"> <%= name %> </td>
  </script>

  <script type="text/html" id="playlist-template">
    <td playlist-id="<%= id %>"> <%= tag %>: <%= title %> <table class="playlist-groups"></table></td>
  </script>
  <script type="text/html" id="playlist-group-template">
    <td playlist-group-id="<%= id%>"> <%= name %></td>
    <td playlist-group-id="<%= id%>"><a class="remove" href="">[-]</a></td>
  </script>

  <script type="text/javascript" src="{% static 'js/playlist/models.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/playlist/assign_playlists.js' %}"></script>

  <script type="text/javascript">
   var ALL_GROUPS_URL = "{% url 'api_dispatch_list' resource_name='group' %}"
   var ALL_PLAYLISTS_URL = "{% url 'api_dispatch_list' resource_name='playlist' %}"
  </script>
{% endblock headjs %}

{% block content %}

{% block teach_nav %}
    <div class="teach-nav not-teacher-only">
        <ul class="nav">
            <li><a href="{% url 'assign_playlists' %}" class="admin-only teacher-only active-nav active-tab" title="{% trans 'Assign playlists to student groups' %}"><img src="{% static "images/coachreports/playlist-active-icon.png" %}">{% trans "Playlists" %}</a></li>
            <li><a href="{% url 'test_list' %}" class="exams admin-only teacher-only" title="{% trans 'See list of available tests.' %}"><span>{% trans "Exams" %}</span></a></li>
            <li><a class="learn admin-only teacher-only" href="/" title="{% trans 'KA Lite Home' %}"><span>{% trans "Learn" %}</span></a></li>
        </ul>
    </div>
    <div class="teach-nav teacher-only">
        <ul class="nav">
            <li class="teacher-only"><a href="{% url 'coach_reports' %}" class="reports teacher-only" title="{% trans 'Track the progress of your students' %}"><span>{% trans "Reports" %}</span></a></li>
            <li><a href="{% url 'assign_playlists' %}" class="admin-only teacher-only active-nav active-tab" title="{% trans 'Assign playlists to student groups' %}"><img src="{% static "images/coachreports/playlist-active-icon.png" %}">{% trans "Playlists" %}</a></li>
            <li><a href="{% url 'test_list' %}" class="exams admin-only teacher-only" title="{% trans 'See list of available tests.' %}"><span>{% trans "Exams" %}</span></a></li>
            <li><a class="learn admin-only teacher-only" href="/" title="{% trans 'KA Lite Home' %}"><span>{% trans "Learn" %}</span></a></li>
        </ul>
    </div>
{% endblock teach_nav %}

  <div class="row">
    <table class="span3 table table-hover" id="student-groups">
      <tr>
        <th>Student Groups</th>
      </tr>
    </table>
    <div class="col-md-9 col-sm-8">
      <table class="span10 table table-hover" id="playlists">
        <tr>
          <th>Playlists</th>
        </tr>
      </table>
    </div>
  </div>
  {% endblock content %}
