{% extends base_template %}

{% load i18n %}
{% load staticfiles %}

{% block home_active %}active{% endblock home_active %}

{% block headcss %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/playlists/index.css' %}?{{ BUILD_ID }}">
    .css' %}?{{ BUILD_ID }}">
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    {% if settings.AUTO_LOAD_TEST %}{# TODO(bcipolli): eliminate this, make the load testing app inherit from / override this page #}
    <script>
        if (window.parent.frames.length === 0) {
            window.location = "{% url load_test %}";
        }
    </script>
    {% endif %}
{% endblock headjs %}

{% block content %}
    <div>
      <table class="table bordered-table">
        <tr>
          <th>Playlists</th>
        </tr>
        <tr>
          <td>Title</td>
        </tr>
      <table>
    </div>


{% endblock content %}
