<div class="container card">
  <!--This is where the title to the card goes-->
  <div class="row card-title">
      <div class="col-xs-9">
          <h1>{{_ "Next Steps" }}</h1>
      </div>
      <div class="col-xs-3">
          <span aria-hidden="true" role="presentation"><i class="glyphicon glyphicon-ok gly-h1"></i></span>
      </div>
    <hr class="module_divider"/>
  </div>

  <!--Where all the 'lessons' are being injected-->
  <div id="content-nextsteps-lessons">
  </div>

  <!-- See All commented out until we have functionality for it -->
  <!--Link to all of the topics the student has started-->
  <!-- <div class="row">
    <div class="col-xs-12">
      <h3><a href="">See All...</a></h3>
    </div>
  </div> -->
</div>
