<div class="container card">
  <!--This is where the card title is-->
  <div class="row card-title">
      <div class="col-xs-9">
        <h1 class="card-title">{{_ "Explore" }}</h1>
      </div>
      <div class="col-xs-3">
          <span aria-hidden="true" role="presentation"><i class="glyphicon glyphicon-road gly-h1"></i></span>
      </div>
      <hr class="module_divider"/>
  </div>

  <!--Card body-->
  <div class="row">
    <div class="col-xs-12">
      <div id="content-explore-topics"></div>
    </div>
  </div>

</div>
